[2018-12-14 07:14] Ouyangan opened #5 "Jar not found in central repository"
pls check

[2018-12-14 07:21] walking98 commented on #5
Thanks for the reminder, at present, the project is in public review phase, as the README wiki stated, users need to execute "mvn install" to build jar into local maven repo.

we will soon release the stabled version into maven central repo in a couple of weeks. Stay tuned and welcome more suggestion :-)

[2018-12-14 10:18] snicoll opened #7 "ObjectMapper should not be instantiated in DefaultRocketMQListenerContainer"
There is an `ObjectMapper` [field instantiation](https://github.com/apache/rocketmq-spring/blob/3ba290d479ae4bc2c0cb41d2b0629caab4c90ad0/rocketmq-spring-boot/src/main/java/org/apache/rocketmq/spring/support/DefaultRocketMQListenerContainer.java#L72) in `DefaultRocketMQListenerContainer`.

The `ObjectMapper` is an object that a little bit costly so it would be better to avoid initializing it for ea

[2018-12-14 10:24] snicoll opened #8 "`RocketMQProperties#nameServer` should offer a more user-friendly format"
The `nameServer` property ultimately maps to `ClientConfig#setNamesrvAddr` that requires a `host:port` pair separated by `;`

I think it would be nicer to not expose that complexity back to the configuration. Rather, the configuration should expose a `List<String>` where each item represent a `host:port` pair.

There are several advantages to this:

* Each pair can be checked individually and an e

[2018-12-14 10:25] snicoll opened #9 "Please do not use `spring` as a prefix for configuration properties"
[Ad described in the documentation](https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#boot-features-custom-starter-naming), third party auto-configurations should not have their configuration keys starting with `spring`.

[2018-12-15 02:49] Ouyangan commented on #5
Thanks

[2018-12-15 02:49] #5 closed

[2018-12-15 03:50] odbozhou opened #10 "spring-boot-starter consumers cannot be inherited"
This issure is migrated from here  https://github.com/apache/rocketmq-externals/issues/173

**BUG REPORT**

1. Please describe the issue you observed:

- What did you do (The steps to reproduce)?

I want to define an abstract class that inherits RocketMQListener, which is used to handle message acceptance and message forwarding. When inheriting this abstract class as a consumer, the message will b

[2018-12-16 13:28] yekl opened #12 "Profile is not prompted"

[2018-12-17 05:54] #10 closed

[2018-12-17 07:43] vongosling commented on #12
@yekl please detail your bug report or feature request?

[2018-12-17 07:46] yekl commented on #12
Rocketmq configuration items are not prompted when filling out the application.yml configuration file configuration

[2018-12-17 07:48] yekl commented on #12
Rocketmq configuration items are not prompted when filling out the application.yml configuration file configuration

[2018-12-17 07:48] #12 closed

[2018-12-17 07:49] yekl commented on #12
Rocketmq configuration items are not prompted when filling out the application.yml configuration file configuration

[2018-12-17 09:01] yanglin2000168 opened #13 "Once consumers restarted, all the previously subscribed messages are resent ?"
@RocketMQMessageListener(topic = RocketmqTopics.EMAIL, consumerGroup = RocketmqTopics.EMAIL_CONSUMER)

public class EmailRocketMQServiceImpl implements RocketMQListener<MailParam> {

     public void onMessage(String msgId,MailParam mailParam) {

     }

}

[2018-12-18 05:48] CharlesSong commented on #5
@vongosling Jar-2.0.1 not fond in central repository or taobao maven repository

[2018-12-18 06:16] walking98 commented on #13
This behavior should be caused by the broker config, it does not relate with Spring client.
这个应该与broker端的消费位点更新的配置有关系，不是客户端的行为，只要onMessage没有抛出异常，就会返回 ConsumeConcurrentlyStatus.CONSUME_SUCCESS

不使用spring, 直接使用RocketMQPushConsumer API是否也能重现这个问题？

[2018-12-18 06:16] walking98 commented on #13
@yanglin2000168

[2018-12-18 08:35] walking98 commented on #9
a proposal change is to make spring.rocketmq.XXX to rocketmq.XXX

[2018-12-19 02:52] caibi123 opened #15 "Maven dependency cannot be pulled"
The issue tracker is **ONLY** used for bug report and feature request.

Any question or RocketMQ proposal please use our [mailing lists](http://rocketmq.apache.org/about/contact/).

**BUG REPORT**

1. Please describe the issue you observed:

- What did you do (The steps to reproduce)?

- What did you expect to see?

- What did you see instead?

2. Please tell us about your environment:

3. Other i

[2018-12-19 02:52] #15 closed

[2018-12-19 02:52] caibi123 opened #16 "dependency"

[2018-12-19 02:52] #16 closed

[2018-12-19 02:54] caibi123 opened #17 "Maven dependency cannot be pulled"
Maven dependency cannot be pulled

[2018-12-19 02:56] caibi123 commented on #17
<dependency>
            <groupId>org.apache.rocketmq</groupId>
            <artifactId>rocketmq-spring-boot-starter</artifactId>
            <version>2.0.1-SNAPSHOT</version>
        </dependency>

[2018-12-19 07:39] #9 closed

[2018-12-19 07:40] #7 closed

[2018-12-19 09:43] walking98 opened #19 "[Enhancement] Polish the code as Spring’s best practice"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.

Polish some code according to Spring community's best practice.

2. Provide any additional detail on your proposed use case for this feature.

3. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have). Are you currently using any workarounds to address this issue?

should-have

[2018-12-19 09:43] walking98 commented on #19
This is has been fixed by #3

[2018-12-19 09:43] #19 closed

[2018-12-20 14:53] vongosling commented on #8
@snicoll Could you help to review and find out the remaining problems or trivial polish, we would release the 2.0.1, hoping including all improvements.

[2018-12-20 14:57] snicoll commented on #8
@vongosling are you asking in the context of this particular issue or globally? If you're asking globally, you can reach out by email (available on my profile). If you're asking in the context of this issue, I am afraid I didn't get the request.

[2018-12-20 15:09] vongosling commented on #8
@snicoll Hah, I wonder could you have any other comments in rocketmq-spring-boot-starter. I am not sure whether your colleague aclement request you to help the community review the code. Anyway, I very appreciate your guys' review help :-)

[2018-12-20 15:15] snicoll commented on #8
Got it. Yes, I am working with Andy. I'll do one more pass today.

[2018-12-21 03:16] windhc commented on #17
Still not pushed to the maven center?

[2018-12-21 03:59] Ouyangan commented on #17
#5

[2018-12-21 03:59] Ouyangan commented on #17
#5
you can view this issue

[2018-12-23 08:18] xiaolongyuan opened #21 "Support Spring boot 1.5.18 ?"

[2018-12-24 03:49] walking98 commented on #21
It should be supported, please modify the [version](https://github.com/apache/rocketmq-spring/blob/8e1466e75f77998ddbfd7e1571f75ad55eca4cc3/rocketmq-spring-boot-parent/pom.xml#L39) to 1.5.18 and try it. @xiaolongyuan

[2018-12-24 03:50] walking98 commented on #17
we are pushing the jar into maven central repo in 2.0.1, it will be available in the week. stay tuned.

[2018-12-24 05:16] xiaolongyuan commented on #21
Not supported.

[code]

genericApplicationContext.registerBean is Spring 5.x

[2018-12-24 05:16] xiaolongyuan commented on #21
@walking98

[2018-12-24 05:20] xiaolongyuan commented on #21
![image](https://user-images.githubusercontent.com/3142363/50391358-b8403480-077e-11e9-872a-b727ccf7ec0c.png)

[2018-12-24 07:42] hadoop835 opened #22 "Support spring"
Support spring ?，no spring boot

[2018-12-25 00:56] 237chenhao commented on #22
Must be springboot2.0 or above @hadoop835

[2018-12-25 06:55] walking98 commented on #21
It can work in my test after change to<spring.boot.version>1.5.18.RELEASE</spring.boot.version> rocketmq-spring-boot-parent/pom.xml

1. changed the spring.boot.version to 1.5.18.RELEASE
2. cd rocketmq-spring/
3. mvn clean install -Dmaven.test.skip
4. run the samples and verify:
    cd rocketmq-spring-samples\
    mvn clean package

@xiaolongyuan

[2018-12-25 07:01] xiaolongyuan commented on #21
![image](https://user-images.githubusercontent.com/3142363/50415424-e2185a80-0855-11e9-8d5e-924e60e9716b.png)

spring boot 1.5.x依赖为 4.3.x

[2018-12-25 07:01] xiaolongyuan commented on #21
@walking98

[2018-12-25 07:38] walking98 commented on #21
The official release version supports Spring boot 2.x + Spring 5.X, the latest spring version.

The issue title should be "support Spring 4.x + Spring 1.X", this is a back-forward compatible issue. we need some investigation and figure out how to support both.

[2018-12-25 09:29] walking98 opened #23 "Make the rocketmq-spring-boot-samples as sub-projects and remove redundant dependencies"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.

Code Refactor for POMs

2. Provide any additional detail on your proposed use case for this feature.

3. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have). Are you currently using any workarounds to address this issue?

[2018-12-25 10:34] walking98 commented on #23
invalidate feature, make samples separated  is better

[2018-12-25 10:34] #23 closed

[2018-12-26 03:03] vongosling commented on #22
@hadoop835 Have you read the README introduction? It would be helpful for documentation polish if you find some unclear  comments  :-)

[2018-12-26 03:03] #22 closed

[2018-12-26 03:54] QinXueFeng opened #26 "How to disable RocketMQ to load the log file itself"
The issue tracker is **ONLY** used for bug report and feature request.

Any question or RocketMQ proposal please use our [mailing lists](http://rocketmq.apache.org/about/contact/).

**BUG REPORT**

1. Please describe the issue you observed:

- What did you do (The steps to reproduce)?

- What did you expect to see?

- What did you see instead?

2. Please tell us about your environment:

3. Other i

[2018-12-26 10:04] walking98 commented on #21
Here is a potential fix: https://github.com/apache/rocketmq-spring/pull/25

But it might not be checked in due to the official release will support Spring-boot 2.X only.

@xiaolongyuan

[2018-12-26 10:06] xiaolongyuan commented on #21
@walking98 Why  support Spring-boot 2.X only ?

[2018-12-26 10:34] walking98 commented on #26
It should be a question of RocketMQ client usage. @QinXueFeng

Maybe you can find answer from here:
https://www.jianshu.com/p/b30ae6dd3811

System.setProperty("rocketmq.client.log.loadconfig","false");

[2018-12-27 00:55] 237chenhao commented on #21
@xiaolongyuan
1.
![image](https://user-images.githubusercontent.com/12470925/50460859-a6e06d80-09b4-11e9-956d-73d0785a72bb.png)
2.
![image](https://user-images.githubusercontent.com/12470925/50460881-c8415980-09b4-11e9-848f-fb61d68e7609.png)
3.
![image](https://user-images.githubusercontent.com/12470925/50460914-17878a00-09b5-11e9-865f-d6857c04f0f8.png)

我本地运行demo是OK没有发现明显报错.

[2019-01-03 12:23] joewee opened #27 "Consumers register with container occurs NPE because get target class of consumer is inaccurate"
The issue tracker is **ONLY** used for bug report and feature request.

Any question or RocketMQ proposal please use our [mailing lists](http://rocketmq.apache.org/about/contact/).

**BUG REPORT**

1. Please describe the issue you observed:

- What did you do (The steps to reproduce)?

- What did you expect to see?

- What did you see instead?
java.lang.NullPointerException: null
	at org.apache.ro

[2019-01-03 12:24] joewee opened #28 "Consumers register with container occurs NPE because get target class of consumer is inaccurate"
The issue tracker is **ONLY** used for bug report and feature request.

Any question or RocketMQ proposal please use our [mailing lists](http://rocketmq.apache.org/about/contact/).

**BUG REPORT**

1. Please describe the issue you observed:
Consumers  register with container occurs NPE  because  get target class of consumer is  inaccurate
- What did you do (The steps to reproduce)?

- What did you

[2019-01-03 12:46] #27 closed

[2019-01-08 02:10] windhc commented on #17
Zzzz...

[2019-01-11 03:33] lwanqiang opened #31 "TransactionListener not found"
本地测试在idea下测试正常，而打包后调用
Caused by: java.lang.NoClassDefFoundError: org/apache/rocketmq/client/producer/TransactionListener
        at org.apache.rocketmq.spring.core.RocketMQTemplate.syncSend(RocketMQTemplate.java:142)
        at org.apache.rocketmq.spring.core.RocketMQTemplate.syncSend(RocketMQTemplate.java:122)
        at org.apache.rocketmq.spring.core.RocketMQTemplate.syncSend(RocketMQTemplate.j

[2019-01-11 03:51] lwanqiang commented on #31
jar冲突

[2019-01-11 03:51] #31 closed

[2019-01-16 07:41] techzealot opened #32 "please add spring-boot-configuration-processor dependcy to generate spring-configuration-metadata.json"
The issue tracker is **ONLY** used for bug report and feature request.

Any question or RocketMQ proposal please use our [mailing lists](http://rocketmq.apache.org/about/contact/).

**FEATURE REQUEST**
1. Please describe the feature you are requesting.
<br>
please add spring-boot-configuration-processor dependcy to generate spring-configuration-metadata.json so that IDE can autocomplete the proper

[2019-01-18 09:26] degnbo opened #33 "can no run"
The issue tracker is **ONLY** used for bug report and feature request.

Any question or RocketMQ proposal please use our [mailing lists](http://rocketmq.apache.org/about/contact/).

**BUG REPORT**

1. Please describe the issue you observed:

- What did you do (The steps to reproduce)?

- What did you expect to see?

- What did you see instead?

2. Please tell us about your environment:

3. Other i

[2019-01-18 12:03] walking98 opened #34 "Change rocketmq-spring-boot-samples pom.xml to use the 2.0.1 version"
1. Need to update  the samples pom.xml to user the released starter version 2.0.1
2. Need to update related README and let user use it more easy

[2019-01-18 12:37] ShannonDing commented on #33
Could you please leave more information according to the ISSUE TEMPLATE?

[2019-01-22 02:27] xiaolongyuan opened #36 "Can support delay level configuration in async mode"
同步消息可以使用：
  rocketMQTemplate.syncSend(topic,msg,5000,delayTimeLevel);

异步发送没有相关接口设置

[2019-01-22 02:54] vongosling commented on #17
Maven repository could download now.

[2019-01-22 02:54] #17 closed

[2019-01-22 02:56] #33 closed

[2019-01-22 02:57] vongosling commented on #33
@degnbo Please use the latest version and if you have any question, please detail your question as the issue template said.

[2019-01-22 05:01] techzealot commented on #32
this is
[code]
not
[code]
they have different effect on the project.The first one is order control metadata,the other is configuration properties metadata.

[2019-01-23 03:01] lwanqiang opened #37 "Would you have a plan to support one listener to consumer more topics recently?"
i hava many similar topics, i wanna to comsumer them in same listener ,how can i do for this ..

[2019-01-23 03:38] fangjian0423 opened #38 "Support payload with byte[] type in message conversion"
Spring Cloud RocketMQ Binder now is integrating with RocketMQ Spring.

The payload in spring message will be converted to `byte[]` type from `String` type by `OutboundContentTypeConvertingInterceptor`. The conversion of `RocketMQUtil` should support the `byte[]` type of payload.

[2019-01-23 05:20] ChunMengLu opened #40 "Jackson ObjectMapper Shadow serialization problem"
1. Please describe the issue you observed:

Because Jackson's ObjectMapper configuration may be different in different services, such as Date, LocalDateTime will cause serialization to fail, as a dead letter.

由于在不同服务中，Jackson 的 ObjectMapper 配置可能不一样，比如 Date，LocalDateTime 会导致序列化失败，照成死信。

2. Provide any additional detail on your proposed use case for this feature.

For Jackson message serialization

[2019-01-23 09:15] #28 closed, assigned to nobody

[2019-01-29 14:37] fangjian0423 opened #41 "Problems about the keys of message header conversion"
Spring messaging/integration provide some annotations or interfaces like `@Header`, `SimpleSequenceSizeReleaseStrategy` to get value from Spring Message Header or handle aggregator messages.

But now the keys in  Spring Message Header has been changed by RocketMQ message header conversion.

For example:

I set `index` key in Spring Message Header, it will be converted to `USERS_index` when convert

[2019-01-30 03:14] yanglin2000168 commented on #13
这个问题只出现在把阿里的emc上，而本里测试环境不能重现发自我的华为手机-------- 原始邮件 --------主题：Re: [apache/rocketmq-spring] 在阿里云服务器部署rocketmq 4.2.0用于生产环境，每一次重启consumer所在服务器，出现将之前订阅过消息全部重新发送一次 (#13)发件人：Kevin Wang 收件人：apache/rocketmq-spring 抄送：yanglin2000168 ,Author This behavior should be caused by the broker config, it does not relate with Spring client.

这个应该与broker端的消费位点更新的配置有关系，不是客户端的行为，只要onMessage没有抛出异常，就会返回 ConsumeConcurrentl

[2019-01-30 06:48] yiminyangguang520 opened #42 "Can not create topic automatically"
when after integrateing with rocketmq-spring-boot-start 2.0.1, the app can not create topic automatically
rocketmq server version is 4.0.0
config file is as follows：
`rocketmq.name-server=***:9876;***:9876`
`rocketmq.producer.group=message-producer-group`
`rocketmq.producer.retry-times-when-send-failed=2`
`rocketmq.producer.retry-times-when-send-async-failed=2`
`rocketmq.producer.send-message-time

[2019-02-03 07:29] walking98 opened #43 "Make the README Travis CI works"
The issue tracker is **ONLY** used for bug report and feature request.

Any question or RocketMQ proposal please use our [mailing lists](http://rocketmq.apache.org/about/contact/).

**BUG REPORT**

1. Please describe the issue you observed:

The build-ci result is disable in the frontpage. need to config/enable it

2. Please tell us about your environment:

3. Other information (e.g. detailed expl

[2019-02-03 07:31] walking98 commented on #42
Auto-Create topic is a behavior of server side, please check the related property setting on server side.

[2019-02-12 01:59] yiminyangguang520 commented on #42
thank for your replay, I found the problem, the rocketmq-spring-boot-start 2.0.1 depends on rocketmq-client 4.3.2, but the server version is 4.3.0, after upgrading the server side, It can create topic automatically, why the new version can not be compatible with the previous version ?

[2019-02-12 08:16] walking98 commented on #42
please compare your broker conf files between two versions, is possible that you set the autoCreateTopicEnable=false in 4.3.0?  The property is true by default.

[2019-02-14 04:30] #43 closed

[2019-02-19 09:40] jackxu2011 opened #46 "Can the starter support multi rocketmq server"
The issue tracker is **ONLY** used for bug report and feature request.

Any question or RocketMQ proposal please use our [mailing lists](http://rocketmq.apache.org/about/contact/).

**BUG REPORT**

1. Please describe the issue you observed:

- What did you do (The steps to reproduce)?

- What did you expect to see?

- What did you see instead?

2. Please tell us about your environment:

3. Other i

[2019-02-21 07:48] fangjian0423 opened #47 "Support ACL & message trace feature"
rocketmq-client 4.4.0 has been released.

4.4.0 has some new features:  [Support the ACL standard for RocketMQ](https://github.com/apache/rocketmq/issues/403), [Support message trace](https://github.com/apache/rocketmq/issues/525)

We can upgrade rocketmq-client to 4.4.0 in rocketmq-spring & support ACL feature and message trace.

[2019-02-28 08:27] walking98 commented on #46
Pls. try to add the wanted rocketmq client dependency before the spring-boot dependency in the pom.xml, e.g.

            <dependency>
                <groupId>org.apache.rocketmq</groupId>
                <artifactId>rocketmq-client</artifactId>
                <version>${wanted-rocketmq-version}</version>
           </dependency>

            ...
          <dependency>
            <groupId>org.a

[2019-02-28 08:31] walking98 commented on #41
sounds reasonable, adding prefix for rocketmq specific properties. It will be great if you would like to enhance it.

[2019-02-28 08:40] walking98 commented on #40
The current impl is designed to use the single/existing instance of ObjectMapper in whole server scope. It assumes the RMQ using the common ObjectMapper rather than a customized one. could you give an example for this?

[2019-02-28 08:45] walking98 commented on #37
good proposal, maybe we can enhance it with

public void onMessage(String message, String topic) { ...}

welcome anybody to contribute for this enhancement :-)

[2019-02-28 08:48] walking98 commented on #36
supported, please look into: https://github.com/apache/rocketmq-spring/blob/2b6181e181b4f45620ae07da12bb2632d8607603/rocketmq-spring-boot/src/main/java/org/apache/rocketmq/spring/core/RocketMQTemplate.java#L134

[2019-02-28 08:49] walking98 commented on #34
done

[2019-02-28 08:49] #34 closed

[2019-02-28 08:50] xiaolongyuan commented on #36
@walking98  这是同步发送的   我是指 异步发送时 没有 延迟级别设置哈

[2019-02-28 09:34] ChunMengLu commented on #40
For example, service a producer  datetime  `yyyy-MM-dd HH:mm:ss`，service b  consumer `yyyy/MM/dd HH:mm:ss`.

[2019-03-01 08:47] fangjian0423 commented on #41
Adding another example:

If I set `index` key in spring message header, the `condition` should write `headers['PROPERTIES']['USERS_index']=='1'`.

![image](https://user-images.githubusercontent.com/5254035/53626710-72ea2880-3c41-11e9-88f0-2a91028ed48d.png)

I think the better way is using `headers['index']=='1'`.

[2019-03-07 06:59] jackxu2011 commented on #46
I mean can use diffrent name-server with producer and Consumer
like:
[code]

![image](https://user-images.githubusercontent.com/4495830/53937876-63f3f200-40e9-11e9-95ca-3bb315eb4af9.png)

[2019-03-08 08:48] walking98 commented on #46
Good suggestion. I understand you means the following properties:
rocketmq.name-server (by default)
rocketmq.producer.name-server  (optional, override default)
rocketmq.consumer.name-server  (optional, override default)

we will try to improve this, or is there anybody help on this?

[2019-03-08 08:50] #41 closed

[2019-03-08 08:58] #47 closed

[2019-03-18 09:50] lw5885799 opened #52 "能不能出一个能用的新手文档啊"
用官网的文档，各种坑，一个接一个应接不暇。这样对新人很不友好啊，求大神出个像样的文档

[2019-03-21 07:05] ChunMengLu commented on #40
QQ群里已经有朋友反馈 `JacksonFallbackConfiguration` 已经影响到他们的项目里的配置了，这块建议要么添加 `@ConditionalOnMissingBean`，我觉得还是添加 `RocketmqObjectMapper` 更加靠谱。

There is already a friend feedback in the QQ group `JacksonFallbackConfiguration` has affected the configuration in their project. This suggestion either adds `@ConditionalOnMissingBean`, I think it is more reliable to add `RocketmqObjectMapper`.

[2019-03-21 07:09] dingdaoyi commented on #40
添加了rocketmq-spring后原来配置的java8时间序列化失效了,    "name": "ferfer",
        "type": 1,
        "startTime": {
            "hour": 0,
            "minute": 0,
            "second": 0,
            "nano": 0
        },
        "endTime": {
            "hour": 23,
            "minute": 0,
            "second": 0,
            "nano": 0
        },

[2019-03-21 08:45] vongosling commented on #52
用官网的文档，指的是spring rocketmq的中文文档吗？对了，下次有问题别再这里提，直接邮件列表吧。

[2019-03-21 08:45] #52 closed

[2019-03-21 08:50] lw5885799 commented on #52
是rocketmq.apache.org/  的文档，现在是不是不维护了呀？

[2019-03-21 09:52] walking98 commented on #52
产品下在维护中英文的文档，可以看这里
https://github.com/apache/rocketmq/tree/release-4.5.0/docs

新版rocketmq的release也会随产品输出。

[2019-03-26 07:25] zhao41654828 commented on #21
我用你这个改动，mvn clean package 编译就有报错.

我也觉得@walking98 应该支持低版本的spring boot 哇

不然很多使用低版本的springboot的服务，都得为了引入你这个jar包，然后去升级版本，升级版本可能会带来更多不可预料的问题

[2019-03-26 07:54] xiaolongyuan commented on #21
@zhao41654828 我现在用的是 pull里面的那个方案 后面准备全面升级至spring boot 2了

[2019-03-26 08:18] walking98 commented on #21
Hope this discussion will help you understand why we no longer support spring boot 1.x
https://github.com/apache/rocketmq-spring/pull/25

[2019-03-26 09:35] zhao41654828 commented on #21
嗯，我也尝试切spring boot 2 吧

[2019-03-28 12:50] zhao41654828 commented on #46
Is there anybody solove it? If no, I will solve it!

I have the same problem, one project use serveral mq server!

[2019-03-29 01:38] walking98 commented on #46
@zhao41654828 please contribute it if you like. thx!

[2019-03-29 01:45] zhao41654828 commented on #46
ok, I will do it as soon as possible.

[2019-04-02 08:15] fantasygg opened #53 "link is not found(404)"
![image](https://user-images.githubusercontent.com/13445354/55386464-1ccf1480-5562-11e9-8cef-7eecd33bb96e.png)

图上红框里的链接失效,在 [README_zh_CN.md](https://github.com/apache/rocketmq-spring/blob/master/README_zh_CN.md)里面

[2019-04-03 01:37] walkerzhao commented on #46
@walking98  Kevin, I have created the pull request to the main master.
Please help to review and give me some sugggestions.

[2019-04-03 01:50] walkerzhao commented on #53
[code]
The readme.md need to be udpated.

[2019-04-03 02:05] walkerzhao commented on #42
Agree with u!

Maybe the user can check his conf by this commond to find the property value of autoCreateTopicEnable on the rocket mq server side:
[code]

If I have time, I will redo the situation of @yiminyangguang520 to check his problem.

[2019-04-03 02:38] vongosling commented on #53
Fixed, thanks @walkerzhao @fantasygg

[2019-04-03 02:38] #53 closed

[2019-04-03 02:45] #21 closed

[2019-04-03 02:45] #26 closed

[2019-04-08 07:58] zhoulinshun opened #55 "Can the starter provide support for deserializing generic parameters?"
When I created the following code, there was an exception：
`@Slf4j
@Service
@RocketMQMessageListener(consumerGroup = "abc" ,topic = TopicConstant.test_topic)
public class TestConsumer implements RocketMQListener<TestEvent<String>> {

    @Override
    public void onMessage(TestEvent<String> s) {
        log.info("consumer message:{}", s);
    }
}`

Exception-------
`Caused by: java.lang.ClassCastE

[2019-04-09 06:58] walking98 commented on #36
@xiaolongyuan sorry for the mis-understand. we will add this soon.

[2019-04-12 03:05] Dreamroute opened #58 "事务消息返回值问题"
@Override
    public DemoCommon login(@RequestBody Login login) {

        Message<String> msg = MessageBuilder.withPayload("Hello RocketMQ ").setHeader(RocketMQHeaders.KEYS, "KEY_").build();
        TransactionSendResult result = rmt.sendMessageInTransaction("q2", "q2", msg, login);
        System.err.println(result);
        return new DemoCommon();

    }

    @RocketMQTransactionListener(txPro

[2019-04-16 12:35] 613lee opened #59 "Request for provider batch messages API."
请问怎么批量发送消息

[2019-04-17 05:35] walking98 commented on #46
This feature has been merged, please try the new code or wait the  coming release 2.0.3

[2019-04-17 05:38] walking98 commented on #55
It should work if change parameter type as TestEvent
public void onMessage(TestEvent s) { ...}

Referencing to sample code: rocketmq-spring-boot-samples/rocketmq-consume-demo/src/main/java/org/apache/rocketmq/samples/springboot/consumer/OrderPaidEventConsumer.java

[2019-04-17 05:58] walking98 commented on #58
https://help.aliyun.com/document_detail/43348.html?spm=a2c4g.11186623.6.551.6805208dZP6vaU

How about using a global ConcurrentHashMap<UUID, DemoCommon >(), but bear in mind that executeLocalTransaction() method may execute later than the  login() method.

BTW, would you please change the issue title with English?

[2019-04-17 06:02] walking98 commented on #59
Good point, RocketMQTemplate has not provided this batch messages API yet. will add this soon.

BTW, would you please change the issue title with English?

[2019-04-17 06:23] #58 closed

[2019-04-17 06:26] #55 closed

[2019-04-17 06:28] #42 closed

[2019-04-17 07:59] walking98 commented on #59
PR for this enhancement: https://github.com/apache/rocketmq-spring/pull/60

[2019-04-17 09:28] zhoulinshun commented on #55
sorry，My expression is wrong.I want to express the following situation
RocketMQListener<TestEvent<String>>

[2019-04-17 09:31] zhoulinshun commented on #55
sorry，My expression is wrong.I want to express the following situation
`RocketMQListener<TestEvent<String>>`

[2019-04-18 07:59] walking98 commented on #55
hmm, interesting, it is deserves to investigate and improve.

[2019-04-18 08:07] walking98 commented on #37
After further investigation, I feel it is difficult to implement due to one Consumer Listener will use a Pull Consumer which subscribes only a single topic defined  in the Listener at the instantiation stage.

[2019-04-18 11:28] zhoulinshun commented on #55
前一段时间在项目中遇到了这个问题， 不过通过改写org.apache.rocketmq.spring.support.DefaultRocketMQListenerContainer
已经暂时解决了这个问题，期待你们的下一次更新。

[2019-04-19 09:45] walking98 commented on #40
@ChunMengLu I am not sure whether you can set your customized ObjectMapper in the rocketMQTemplate before using it. e.g.
  rocketMQTemplate.setObjectMapper(customizedObjectMapper);
  ...
  rocketMQTemplate.send(...);

Or would you like to provide a fix PR for further discussion ?

[2019-04-19 09:47] walking98 commented on #55
嗯，有空可以把你解决的细节给大家共享一下。也有助于我们提高这块代码 :-)

[2019-04-21 15:02] ChunMengLu commented on #40
I first pr to #61 .

[2019-04-23 07:46] ChunMengLu commented on #40
@walking98 先帮忙处理下 #61 。

The current issue of this issue means that the producer and the consumer are in different microservices. The configuration of the ObjectMapper bean of the group we have will be different. For example, the date format, when the date format on the two sides is different, it is not used. Special processing (Jackson time format, etc.) will deserialize failures to report except

[2019-04-23 09:28] walking98 commented on #40
How about my previous proposal, "rocketMQTemplate.setObjectMapper(customizedObjectMapper);" ? does it work?

#61 just adds a dependency, I can not figure out how it would resolve the issue, do you plan to add whole solution in the PR?  @ChunMengLu

[2019-04-24 11:57] #59 closed

[2019-04-24 11:59] #46 closed

[2019-04-24 12:00] ShannonDing commented on #36
@xiaolongyuan It will be released in the next version.

[2019-04-24 12:00] #36 closed

[2019-04-24 12:01] #13 closed

[2019-04-28 03:29] vodcms opened #62 "aliyun hongkong zone rocketmq carsh"
topic name create and confirm name is right

this.rocketMQTemplate.convertAndSend(QueueNames.TopicName, desc);

but' send normal message has exception

See http://rocketmq.apache.org/docs/faq/ for further details.; nested exception is org.apache.rocketmq.client.exception.MQClientException: No route info of this topic, xxxx
See http://rocketmq.apache.org/docs/faq/ for further details.

my connectIn

[2019-04-28 04:25] taroyutao commented on #62
遇到的同样的问题，请问这个开源的SDK是否能够兼容阿里云的Rocket MQ？

[2019-04-28 15:35] vodcms commented on #62
我再找阿里云客服处理了

[2019-04-29 01:56] symsimmy opened #63 "Typo error"
The issue tracker is **ONLY** used for bug report and feature request.

Any question or RocketMQ proposal please use our [mailing lists](http://rocketmq.apache.org/about/contact/).

**BUG REPORT**

1. Please describe the issue you observed:

- What did you do (The steps to reproduce)?

- What did you expect to see?

- What did you see instead?

2. Please tell us about your environment:

3. Other i

[2019-04-29 03:15] walking98 commented on #62
从你的想象看，同样的客户端(rocketmq-spring), 对不同的broker服务端现象不一样。应该不是客户端的问题，可能与你连接阿里云香港region的网络配置有关。如果有具体环境，我们可以验证一下。

另外，请把标题改成英文的，所有RMQ的issue提问建议使用英文，至少标题使用英文，谢谢

[2019-04-29 04:38] vodcms commented on #62
需要什么那些相关信息？

[2019-04-29 05:37] #63 closed

[2019-04-29 06:57] walking98 commented on #62
@vodcms 你们具体的调用配置是指配置name-server吗？还是这个公有云访问需要配置配置 AK, SK等信息？如果是纯Aliyun的公网访问方式还需要功能加强一下才能支持，这个我们会在5月份看一下尽快推出。

[2019-04-29 07:12] 613lee opened #65 "Message asynchronously sent failed to retry"
How to set the message asynchronous send failure retries?
I mean, is this feature supported or there is no support plan in the future? If not, I can only implement it myself in the business code.

[2019-04-29 12:09] vodcms commented on #62
阿里云公网连接没有任何毛病，但是使用香港私有网络连接就出现我提交的问题，AK,SK信息都有的。

我现在遇到在使用公网做项目测试环境，没问题，但是部署到私有网络忘记就崩溃了。导致项目延期，虽然我们可以自己实现整合阿里的私有SDK，不过我觉得咱们这个实现的优雅多了。要赞

[2019-04-30 03:09] walking98 commented on #65
sure, you can try with the following properties in Spring application.properties:

rocketmq.producer.retryTimesWhenSendAsyncFailed=重试次数
rocketmq.producer.sendMessageTimeout=每次超时时间

[2019-04-30 07:37] 613lee commented on #65
I tried setting the following properties but didn't retry sending, why is this?

rocketmq.producer.retryTimesWhenSendAsyncFailed=5
rocketmq.producer.retry-times-when-send-async-failed=5

[2019-04-30 07:38] 613lee commented on #65
I tried setting the following properties but didn't retry sending, why is this?

rocketmq.producer.retryTimesWhenSendAsyncFailed=5
rocketmq.producer.retry-times-when-send-async-failed=5

[2019-05-02 09:43] cnhaicao opened #66 "Dynamic reconfiguration of consumer support"
**FEATURE REQUEST**

1. Please describe the feature you are requesting. issue?

The current listenerContainer is a container corresponding to a consumer, but currently it is impossible to implement a consumer dynamic reconfiguration of consumer threads and other configurations that need to rebuild the consumer. After rocketmq consumer.shutdown, new objects must be built. Currently, dynamic configu

[2019-05-05 02:15] walking98 commented on #66
do you have a scenario for using the dynamic reconfiguration of consumer ?  @cnhaicao

[2019-05-05 13:25] l343765828 opened #67 "Document typo ?"
这个@RocketMQTransactionListener(transName="test")注解里的参数名称应该是txProducerGroup吧？
rocketMQTemplate.sendMessageInTransaction("test", "test-topic" msg, null);这个msg前面是不是少个逗号？

[2019-05-06 07:42] kangsafe opened #68 "Unable to calculate a request signature，Algorithm HmacSHA1 not available"
The issue tracker is **ONLY** used for bug report and feature request.

Any question or RocketMQ proposal please use our [mailing lists](http://rocketmq.apache.org/about/contact/).

**BUG REPORT**

1. Please describe the issue you observed:

- What did you do (The steps to reproduce)?
When use ACLEnable=true，it didn't work.
- What did you expect to see?

- What did you see instead?

2. Please tell

[2019-05-06 07:47] walking98 commented on #67
transName 是用来关联发送的事务消息和回查方法的， 所以使用“test”没有问题的； 是少了个逗号。

另外请把这个问题的标题改成英文的。

[2019-05-06 07:53] walking98 commented on #68
It seems related to the JAVA_OPT " -Djava.ext.dirs",  pls. make sure to define this opt as below that will make the sunjce_provider.jar added in CLASSPATH.

 -Djava.ext.dirs=${JAVA_HOME}/jre/lib/ext

[2019-05-06 08:10] walking98 commented on #65
check your app whether there is self-defined bean DefaultMQProducer existing?

otherwise the default DefaultMQProducer must take those properties effect.

![image](https://user-images.githubusercontent.com/19318111/57213417-54295900-7019-11e9-9b41-f9f09b1bce3d.png)

[2019-05-07 00:27] kangsafe commented on #68
Thanks,This solution is Ok.

[2019-05-07 01:14] l343765828 commented on #67
参数名称应该是txProducerGroup吧？我看你们源码里已经没有transName了
String txProducerGroup() default "rocketmq_transaction_default_global_name";

[2019-05-07 03:40] vongosling commented on #67
@l343765828 欢迎提pr来修正你说的问题：-）

[2019-05-08 09:23] cnhaicao commented on #66
Such reconfiguration scenarios, such as consumer concurrent consumer thread control, access and use of some restricted resources, must limit the consumer's consumption thread, and often require the application to restart concurrent consumer thread modification.

Currently I am using another rockmq starter and then I have extended the implementation of reconfiguring and restarting the consumer.
At

[2019-05-10 07:53] walking98 commented on #40
#61 has been merged.

[2019-05-10 07:59] #40 closed

[2019-05-14 10:46] chenxubiao opened #70 "using getter and setter to get or set properties"
**FEATURE REQUEST**

1. Please use getter and setter instead of annotation.

The current `DefaultRocketMQListenerContainer#rocketMQMessageListener` uses annotation to set properties, which prevents using of custom annotation to override these properties. I would like to know if it is possible to use getter and setter instead of the annotation?

[2019-05-15 09:07] 613lee commented on #65
Thanks, will you also provide broadcasting consume failure retry mechanism in the future?

[2019-05-15 13:28] #65 closed

[2019-05-24 07:20] ShannonDing commented on #62
@vodcms @taroyutao RocketMQ Spring 2.0.3版本已经发布了，支持4.5.1客户端无缝上云， 可以使用新版的spring验证一下了。

[2019-05-24 07:33] wangxing-git opened #71 "I hope that the txProducerGroup of @RocketMQTransactionListener can support multiple."
**FEATURE REQUEST**

1. Please describe the feature you are requesting.
I want multiple groups to use the same `RocketMQTransactionListener` bean

2. Provide any additional detail on your proposed use case for this feature.
For example:
[code]
Or
[code]

3. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have). Are you currently using any workarounds to addre

[2019-05-24 07:38] wangxing-git opened #72 "I hope that the txProducerGroup of @RocketMQTransactionListener can support dynamic variables."
**FEATURE REQUEST**

##### like this:
[code]

[2019-05-24 07:50] ShannonDing commented on #72
see #71

[2019-05-24 07:56] wangxing-git commented on #72
I think this is two points.

[2019-05-24 08:20] vongosling commented on #62
@ShannonDing 文档有吗

[2019-05-24 08:27] ShannonDing commented on #72
Ok, i will remove the "duplicate" label.

[2019-05-24 11:20] ShannonDing opened #74 "Can not compile acl examples in the project"
The issue tracker is **ONLY** used for bug report and feature request.

Any question or RocketMQ proposal please use our [mailing lists](http://rocketmq.apache.org/about/contact/).

**BUG REPORT**

1. Please describe the issue you observed:

- What did you do (The steps to reproduce)?
mvn comple

- What did you expect to see?
comple acl example

- What did you see instead?
Can not compile acl exam

[2019-05-25 01:07] #67 closed

[2019-05-27 01:53] #74 closed

[2019-05-27 10:01] walking98 opened #78 "Add new accessChannel property for both producer/consumer @since RMQ 4.5.1"
**BUG REPORT**

1. Please describe the issue you observed:

since RMQ 4.5.1, it supports the new property 'accessChannel', see
DefaultMQPushConsumer.setAccessChannel()
DefaultMQProducer.setAccessChannel()

Need the SpringBoot supports the property consequently.

[2019-05-28 02:04] yunfeide opened #79 "如何同时消费同一个topic下的不同tag消息"
请问在使用过程中，我在同一个topic下写了多个不同tag的消息，但是在使用时，发现消费端如果同时消费多个tag，接收到消息，如果只消费一个tag，能接收到，是为什么呢？

[2019-05-28 02:42] sanzado commented on #79
selectorExpression = "TagA || TagB", 试试这样行不行?

[2019-05-29 02:10] ww110052181 opened #80 "广播消费和普通的一次性消费怎么配置"
The issue tracker is **ONLY** used for bug report and feature request.

Any question or RocketMQ proposal please use our [mailing lists](http://rocketmq.apache.org/about/contact/).

**BUG REPORT**

1. Please describe the issue you observed:

- What did you do (The steps to reproduce)?

- What did you expect to see?

- What did you see instead?

2. Please tell us about your environment:

3. Other i

[2019-05-29 04:14] yufeng629 opened #81 "RocketMQTemplate method sigure conflict"
the bellow two method's sigure from RocketMQTemplate are conflict
syncSend(String destination, Object payload, long timeout)
syncSend(String destination, Collection<Message<?>> messages, long timeout)

when i send batch message，i mean to call the syncSend(String destination, Collection<Message<?>> messages, long timeout) method，but in fact，it always call the syncSend(String destination, Object pay

[2019-05-30 07:00] wangxing-git opened #83 "RocketMQUtil#addUserProperties can override headers from rocketmq(eg topic,tags,queue id...)"
**BUG REPORT**

1. Please describe the issue you observed:
[code]
Here is the judgment that can not override the properties from the `rocketmq`, but the actual key is not included in the `MessageConst.STRING_HASH_SET`, the real need to add the prefix `RocketMQHeaders.PREFIX`.(Maybe the previous judgment needs to be retained, but it is necessary to add another layer of judgment.)
[code]
refer [spri

[2019-05-30 07:52] fangjian0423 commented on #83
I wrote a test case about this:

[code]

console print: tags2

[2019-05-30 07:54] fangjian0423 commented on #83
How @walking98  @duhenglucky think about `RocketMQUtil#addUserProperties`?

should we add a `!key.startsWith(RocketMQHeaders.PREFIX)` condition for this?

[2019-05-30 08:01] wangxing-git commented on #83
I added this in pr`!MessageConst.STRING_HASH_SET.contains(key.replaceFirst("^" + RocketMQHeaders.PREFIX, "")`.

[2019-05-30 08:40] wangxing-git commented on #83
I use two conditions to optimize the number of times the code is executed.
 `!key.startsWith(RocketMQHeaders.PREFIX) || !MessageConst.STRING_HASH_SET.contains(key.replaceFirst("^" + RocketMQHeaders.PREFIX, ""))`
Reduce the number of executions of `!MessageConst.STRING_HASH_SET.contains(key.replaceFirst("^" + RocketMQHeaders.PREFIX, ""))`

[2019-05-30 08:57] #80 closed

[2019-05-30 08:58] #79 closed

[2019-05-31 02:23] HSomeCao opened #85 "When will the 2.0.3 version be updated in maven central repo."
如题，2.0.1上的RocketMQMessageListener不太友好

[2019-05-31 02:45] walking98 commented on #78
merged

[2019-05-31 02:45] #78 closed

[2019-05-31 02:59] walking98 commented on #81
![image](https://user-images.githubusercontent.com/19318111/58678611-ef9cb800-8392-11e9-9af8-9cf522d8db32.png)

I have a simple test to verify the two method signatures, it seems not be a problem in runtime. would you please show your syncSend() invocation code? let's have a close look  @yufeng629

[2019-05-31 03:21] walking98 commented on #81
tried again with RMQTemplate, the issue can be reproduced. need a fix indeed.

[2019-05-31 08:40] kangyunjie commented on #85
我看有2.0.2，没有2.0.3

[2019-05-31 09:18] WenLiangs commented on #85
2.0.1没问题。2.0.2不报错，但是下载下来的镜像是空的

[2019-05-31 11:28] ShannonDing commented on #85
2.0.3 will be released in maven central repo after vote process finished. maybe next week.

[2019-06-04 02:36] vongosling commented on #83
@wangxing-git could you help to add some unit test for your pr.

[2019-06-04 02:44] wangxing-git commented on #83
I added the relevant unit test.

[2019-06-04 08:34] LuanLouis opened #86 "Cound not configure Consumer Listener registration"
**FEATURE REQUEST**
When the Spring serivice is annotated with `@RocketMQMessageListener`,  the `MessageListenerContainer` is registered automaticallly, but in some cases, we want to control pricisely it's registration when we deploy instances in cluster for processing performance.

Is there any chance that let us to control `@RocketMQMessageListener` registration when the container boostraped?
Th

[2019-06-05 00:23] ShannonDing commented on #85
@HSomeCao @kangyunjie @WenLiangs the 2.0.3 has been released, you can find it by this URL: https://mvnrepository.com/artifact/org.apache.rocketmq/rocketmq-spring-boot/2.0.3

[2019-06-05 06:32] HSomeCao commented on #85
@ShannonDing Hello,now I have thrown an **error** after replacing 2.0.1 with 2.0.3.Could you check it for me?[Project address](https://github.com/HSomeCao/rocketmq_demo.git) ,The error content is: _org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'org.apache.rocketmq.spring.support.DefaultRocketMQListenerContainer_1': Unexpected exception during bean creation;

[2019-06-05 07:21] ruoshuixuelabi opened #88 "Consumer batch messages API."
请问怎么批量的接收消息，比如按照文档接收消息是这样的
@Slf4j
@Service
@RocketMQMessageListener(topic = "test-topic-2", consumerGroup = "my-consumer_test-topic-2")
public class MyConsumer implements RocketMQListener<OrderPaidEvent> {
    @Override
    public void onMessage(OrderPaidEvent orderPaidEvent) {
        log.info("received orderPaidEvent: {}", orderPaidEvent);
    }
}
我现在想把里面的OrderPaidEvent orderPaidEvent变成List<Orde

[2019-06-05 07:31] ShannonDing commented on #85
RocketMQ  Client4.5.1 is needed. Could you please check if it is included in your project.

[2019-06-05 08:02] HSomeCao commented on #85
It has been 4.5, which is the same problem as I changed it to 4.5.1

[2019-06-05 09:46] yufeng629 commented on #81
thanks

[2019-06-05 10:01] yufeng629 opened #89 "Support defaultTopicQueueNums configuration for Producer"
**FEATURE REQUEST**
for now，the RocketMQProperties.Producer do not support defaultTopicQueueNums configuraton, wish to support that

[2019-06-10 05:01] jimmycheng888 opened #90 "Time formatting error，error info"
**I sent an object for RequestVo, which has a body object. This object can be of any type. When I define it as an entity, and there is a time field in the entity, an exception occurs when receiving data. Error message as follows.**
`Caused by: com.fasterxml.jackson.databind.exc.InvalidFormatException: Cannot deserialize value of type `java.util.Date` from String "2019-06-10 12:49:31": not a valid

[2019-06-10 05:20] #90 closed

[2019-06-12 07:38] walking98 commented on #86
This is a good proposal,  feel free to add a PR about this.

@RocketMQMessageListener( enabled = "${rocketmq.consumer.listeners.consume-order-group.ORDER_TOPIC.enabled}", ... )

Another way is to add the "enabled" property for the listener IMO.

[2019-06-12 07:51] LuanLouis commented on #86
#87

[2019-06-12 08:24] jimmycheng888 opened #91 "Message consumption delay is about 30S, I want me to send a message, immediately consume"
Message consumption delay is about 30S, I want me to send a message, immediately consume，
Configuration is the official default configuration, I hope my program can be consumed instantly
my version is 2.3.0

[2019-06-12 12:34] #83 closed

[2019-06-14 06:59] #85 closed

[2019-06-14 06:59] #68 closed

[2019-06-14 07:12] vongosling commented on #70
Sorry, I could not figure out what's your meaning. for this project, we have removed lombok's annotation for it' idea unfriendly.

[2019-06-14 07:12] #70 closed

[2019-06-19 03:02] meng-taiqian opened #92 "Consumer thrown an exception, but didn't trigger reconsume, and the message's status was consumed."
**BUG REPORT**

1. Please describe the issue you observed:
We defined a consumer who will always throw an exception to verify the retry mechanism.
The onMessage method is:
` public void onMessage(MessageExt message) {`
    `int reconsumeTimes = message.getReconsumeTimes();`
    `if(reconsumeTimes==10){//重试10次失败后`
        `log.warn("mq消息处理支付后订单扭转接口mq失败后重试次数达到上限,reconsumeTimes={}",reconsumeTimes);`

[2019-06-19 08:37] ShannonDing commented on #92
Maybe It is better to share the exception message or some log here.

[2019-06-19 08:42] ShannonDing commented on #91
Is it the version 2.0.3? the end to end delay should not be in the seconds level. maybe you can test it by sending more messages and have a look at the avg delay.

[2019-06-19 08:42] meng-taiqian commented on #92
2019-06-19 16:37:59.361 [ConsumeMessageThread_11] WARN  o.a.r.s.support.DefaultRocketMQListenerContainer - consume message failed. messageExt:MessageExt [queueId=1, storeSize=459, queueOffset=38, sysFlag=0, bornTimestamp=1560933479345, bornHost=/xx.xx.xx.xx:41200, storeTimestamp=1560933477885, storeHost=/xx.xx.xx.xx:10911, msgId=0A1C117900002A9F000000000045CD3A, commitLogOffset=4574522, bodyCRC=15

[2019-06-20 03:44] ShannonDing commented on #81
@yufeng629 Could you please fix this issue and create a PR to 2.0.4 version?

[2019-06-20 06:21] stillChina opened #93 "Use Consumer Sample, Stop Applying Exception"

[2019-06-20 06:21] stillChina commented on #93
Disconnected from the target VM, address: '127.0.0.1:50895', transport: 'socket'
2019-06-20 14:04:06.105  WARN 10656 --- [      Thread-20] o.s.c.support.DefaultLifecycleProcessor  : Failed to stop bean 'org.apache.rocketmq.spring.support.DefaultRocketMQListenerContainer_1'

java.lang.IllegalStateException: Shutdown in progress
	at java.lang.ApplicationShutdownHooks.remove(ApplicationShutdownHooks.

[2019-06-20 07:23] #93 closed

[2019-06-21 03:21] qq592304796 commented on #62
@ShannonDing I am using the latest version or will have the same problem

<rocketmq.starter.version>2.0.3</rocketmq.starter.version>
[code]
[code]

aliyun provided ons-client can be used normally

[2019-06-23 12:32] stackXu opened #94 "com.fasterxml.jackson.databind.exc.MismatchedInputException"
官方demo里面OrderPaidEvent这个类,使用了@AllArgsConstructor注解,改注解可能会使jackson反序列化失败,我的lombok版本是1.18.4,改为手写就可以
官方:
![image](https://user-images.githubusercontent.com/35055601/59976392-64f85300-95f6-11e9-9b6d-819a19ef4bb8.png)

![image](https://user-images.githubusercontent.com/35055601/59976350-bfdd7a80-95f5-11e9-8ed1-147ae82e773d.png)

希望将demo改为普通的setget方法,不使用lombok,以免不同lombok版本可能会出现问题
![image](https://user-i

[2019-06-23 14:13] #86 closed

[2019-06-24 09:47] sixsixsix516 opened #95 "When can you upload this project dependency to Maven"
Want to support maven online download dependencies

[2019-06-24 11:22] fenghaichun opened #96 "does not resolve the placeholder for "listener.txProducerGroup()""
**BUG REPORT**
I think it is a bug that the following method does not resolve the placeholder for "listener.txProducerGroup()"：

[code]

when  i define TransactionListener like this:
[code]
then the error occurred:
[code]

[2019-06-26 16:47] h735004790 opened #98 "A component required a bean of type 'org.apache.rocketmq.spring.core.RocketMQTemplate' that could not be found"
springboot2.x and rocketmq-spring-boot-starter2.0.3，when start,
Description:

A component required a bean of type 'org.apache.rocketmq.spring.core.RocketMQTemplate' that could not be found.

The following candidates were found but could not be injected:
	- Bean method 'rocketMQTemplate' in 'RocketMQAutoConfiguration' not loaded because @ConditionalOnBean (types: org.apache.rocketmq.client.producer

[2019-06-28 08:05] fenghaichun commented on #96
can anyone help me with it please?

[2019-07-04 01:30] xiaotanxingchen opened #99 "the message was consumed twice because of the same instanceName"
**BUG REPORT**
    Recently I encountered a problem, the message was consumed twice. I deployed three applications which are same, two of them on the same machine. When I send a message,it was consumed twice by the application on the same machine. But the other is ok.

[code]

`@Service
@Transactional
public class TestMqBusinessImpl implements ITestMqBusiness {

	private static Logger logger = Log

[2019-07-04 03:01] xiaotanxingchen commented on #99
The reason is because consumers has the same instanceName.

[2019-07-04 10:07] Lzw2016 commented on #93
这个问题怎么解决

[2019-07-05 08:42] itrickzhang opened #100 "How to configure the loading order of RocketMQListener and Springboot Listener？"
I need to consume after loading the listener for spring boot. The configuration annotation @Order is not valid and has been the first to load RocketMQListener.
![image](https://user-images.githubusercontent.com/23379828/60710076-7588c180-9f44-11e9-82d4-eeabc5fae526.png)

[2019-07-08 04:51] Lzw2016 commented on #93
How to solve this problem? Shut it down without saying anything?

[2019-07-08 09:08] SpinSi opened #101 "How to config producer vipChannelEnabled in application.properties ?"
**Two question**
1 >  How to config producer vipChannelEnabled in application.properties ?

2> How to use RocketMQTemplate send msg with implemeted selected queue by myself ?

Thanks for your replay.

[2019-07-11 03:49] zuoanguo opened #103 "How RocketMQMessageListener Sets Tag?"

[2019-07-11 08:55] fangjian0423 commented on #103
Refer `RocketMQMessageListener#selectorExpression`.

this attribute can be used for `tag` or `sql` subscribe mode, the subscribe mode refer `RocketMQMessageListener#selectorType`.

[2019-07-11 09:05] fangjian0423 commented on #101
for Q1: it is not supported by configuration properties, you could use system property by `com.rocketmq.sendMessageWithVIPChannel` key

for Q2:  refer `RocketMQTemplate#setMessageQueueSelector`

[2019-07-11 09:12] fangjian0423 commented on #95
it has been uploaded to maven central repository, refer https://mvnrepository.com/artifact/org.apache.rocketmq/rocketmq-spring-boot-starter

[2019-07-11 09:13] fangjian0423 commented on #98
could you please provide a project that reproduces the issue?

[2019-07-11 09:16] fangjian0423 commented on #100
I think you could try to use [Spring Cloud Stream](https://spring.io/projects/spring-cloud-stream) to do this.

[2019-07-11 12:27] #95 closed

[2019-07-13 03:21] lemonzone2010 opened #104 "Unable to support payload with byte[] type in methods with payload such as 'syncSend(String destination, Object payload)'"
Unable to support payload with byte[] type in methods with payload such as 'syncSend(String destination, Object payload)'

**BUG REPORT**

1. Please describe the issue you observed:

- What did you do (The steps to reproduce)?

Try the following code. But message content is changed to `"YWJj"` (a base64 encoded string)
[code]

- What did you expect to see?

the origin bytes:`"abc".getBytes()`

- W

[2019-07-16 06:18] xue2lang commented on #98
@fangjian0423   when project use Apollo configuration center of XieCheng，project will be started failed，the same problem that：A component required a bean of type 'org.apache.rocketmq.spring.core.RocketMQTemplate' that could not be found.

[2019-07-16 06:22] fangjian0423 commented on #98
I think the configuration items about `rocketmq.name-server` & `rocketmq.producer.group` is not configured in Apollo, so the `RocketMQAutoConfiguration` didn't work.

[2019-07-16 06:30] xue2lang commented on #103
@fangjian0423 now the tag not support resolvePlaceholders （eg：selectorExpression=${my.xx.tag} ），the default is * 。 when used，we should implement RocketMQPushConsumerLifecycleListener to set other info。
RocketMQMessageListener define the property （selectorExpression），but  it doesn't seem to be working friendly now

[2019-07-16 06:38] fangjian0423 commented on #103
contributors are welcome to support resolvePlaceholders.

`selectorExpression` can work, make sure you use the right way!

[2019-07-16 08:20] xue2lang commented on #103
@fangjian0423 i review the source code ；ListenerContainerConfiguration#createRocketMQListenerContainer set instance of RocketMQMessageListener to instance of DefaultRocketMQListenerContainer，then execute the method DefaultRocketMQListenerContainer#initRocketMQPushConsumer 。I cannot find resolvePlaceholders where  be used for the property of selectorExpression

[2019-07-16 08:25] fangjian0423 commented on #103
It is not supported and welcome to contribute it.

[2019-07-23 10:14] lyxaaadf opened #106 "when MessageModel.BROADCASTING ,so error"
when code is:
@RocketMQMessageListener(topic = "test",
	consumerGroup ="${rocketmq.producer.group}",
	messageModel=MessageModel.BROADCASTING
	)
and start app, log:

java.lang.IllegalStateException: Failed to start RocketMQ push consumer
	at org.apache.rocketmq.spring.support.DefaultRocketMQListenerContainer.start(DefaultRocketMQListenerContainer.java:257) ~[rocketmq-spring-boot-2.0.3.jar:2.0.3]
	a

[2019-07-26 00:34] whoamigodson opened #107 "Two consumer instances consume the same message, and some messages are not consumed"

[2019-07-26 01:08] whoamigodson commented on #106
maybe fastjson version too low，升级fastjson版本

[2019-07-26 02:05] vongosling commented on #107
Please write your questions according to the question template

[2019-07-26 02:40] lyxaaadf commented on #106
but my fastjson version is new

[2019-07-26 02:40] lyxaaadf commented on #106
fastjson is 1.2.58

[2019-07-26 05:44] whoamigodson commented on #107
when started two consumer instances consume the same topic message,if two consumer instances is same name,but listen two different port,and some messages are not consumed.

[2019-07-26 05:53] whoamigodson commented on #107
class ListenerContainerConfiguration
private void registerContainer(String beanName, Object bean) {
        Class<?> clazz = AopProxyUtils.ultimateTargetClass(bean);

        if (!RocketMQListener.class.isAssignableFrom(bean.getClass())) {
            throw new IllegalStateException(clazz + " is not instance of " + RocketMQListener.class.getName());
        }

        RocketMQMessageListener annot

[2019-07-26 06:12] whoamigodson commented on #106
用jackson吧，我用jackson序列化没出问题。

[2019-07-26 06:49] whoamigodson commented on #107
In rocketmq-spring,two different consumer process,but client id is same one.how to fix?
clientId                                                                                                                                  192.168.1.11@org.apache.rocketmq.spring.support.DefaultRocketMQListenerContainer_1
clientAddr
192.168.1.11:52320

clientId
192.168.1.11@org.apache.rocketmq.spring.support.Def

[2019-07-29 02:00] whoamigodson opened #108 "How to send SQL92 filter msg in RocketMQTemplate?"
The issue tracker is **ONLY** used for bug report and feature request.

Any question or RocketMQ proposal please use our [mailing lists](http://rocketmq.apache.org/about/contact/).

**BUG REPORT**

1. Please describe the issue you observed:

- What did you do (The steps to reproduce)?

- What did you expect to see?

- What did you see instead?

2. Please tell us about your environment:

3. Other i

[2019-07-31 03:44] alpineflame opened #110 "Serious bug in TransactionMQ Producer cache in RocketMQTemplate"
When I execute transactions concurrently by using RocketMQTemplate, it's very easy to reproduce the Exception like "illegal state"
The cause for this issue is that a TransactionProducer can't be shared during the execution of a transaction.
So, we have to  make sure a TransactionProducer instance must not be used concurrently.

[2019-07-31 03:50] alpineflame commented on #110
I suggest to import a pool mechanism for TransactionProducer for such instance.
And in fact I have finished the work in my own product, and will trigger a PR soon later.

[2019-07-31 07:00] lyxaaadf opened #111 "how to register registerMessageListener"
alibaba give translation demo :
consumer.registerMessageListener(new MessageListenerConcurrently() {

            @Override
            public ConsumeConcurrentlyStatus consumeMessage(List<MessageExt> msgs,
                ConsumeConcurrentlyContext context) {
            	for(MessageExt msg:msgs){
            		try {
						System.out.println("消息内容为1："+new String(msg.getBody(),RemotingHelper.DEFAU

[2019-07-31 07:02] lyxaaadf commented on #111
yes,when consum fail ,i can renturn :ConsumeConcurrentlyStatus.CONSUME_SUCCESS; but demo is void

[2019-07-31 08:49] #96 closed

[2019-07-31 10:14] scolia opened #112 "RocketMQMessageListener cat not set ConsumeFromWhere"
The issue tracker is **ONLY** used for bug report and feature request.

Any question or RocketMQ proposal please use our [mailing lists](http://rocketmq.apache.org/about/contact/).

**FEATURE REQUEST**

1. Please describe the feature you are requesting.

    The consumer register by **RocketMQMessageListener** can not set **ConsumeFromWhere**

[2019-07-31 10:16] #112 closed

[2019-08-01 11:49] 613lee opened #113 "Make netty not work properly"
I have an application that uses netty as a client. After integrating rocketmq, the channelActive and userEventTriggered methods in ChannelInboundHandlerAdapter do not work.

[2019-08-02 03:43] yibin001 opened #114 "请问消费端如何开启ACK机制？"
消费端如何确保消息消费成功？

[2019-08-03 02:53] yibin001 opened #115 "rocketMQTemplate.convertAndSend headers里的tag设置无效"
`
 rocketMQTemplate.convertAndSend("fst_pay_success", "message",new HashMap<String, Object>(){{

                put(RocketMQHeaders.TAGS, "pay_success");  //指定tag

            }});

`

但实际这个tag指定是无效的，直接被 RocketMQUtil.convertToRocketMessage方法丢弃。
代码里设置tag居然是加在topic后面：
`String[] tempArr = destination.split(":", 2);

        String topic = tempArr[0];

        String tags = "";

        if (tempArr.l

[2019-08-03 02:56] #115 closed

[2019-08-05 15:26] #114 closed

[2019-08-06 01:54] vongosling commented on #113
@613lee what's your netty version

[2019-08-08 01:59] sxt102400 opened #116 "使用rocketmq-spring-boot-starter单机部署双节点时，存在消费两次的问题"
我在部署服务时，一台机器部署了两个tomcat节点，由于rocketmq-spring-boot-starter框架重新定义了instanceName， 此时一个consumerGroup中， 两个节点是属于，同ip同instanceName， 导致两个tomcat节点每份节点都消费一次数据。

希望能改进一下这个机制，解决rocketmq-spring-boot-starter框架下，消费者默认配置时，单机双节点消费2次的问题。

[2019-08-08 06:07] RongtongJin commented on #111
@lyxaaadf If no RuntimeException is thrown in onMessage method, it will return ConsumeConcurrentlyStatus.CONSUME_SUCCESS by default. Otherwise, return ConsumeConcurrentlyStatus.RECONSUME_LATER.
https://github.com/apache/rocketmq-spring/blob/cc1a340d980703a1c810b99fd361b8fb70cbc97d/rocketmq-spring-boot/src/main/java/org/apache/rocketmq/spring/support/DefaultRocketMQListenerContainer.java#L321-L342

[2019-08-08 07:46] RongtongJin commented on #116
@sxt102400 Thanks for your advice. Your advice sounds reasonable and welcome to submit a PR to fix this issue.

[2019-08-13 06:50] #116 closed

[2019-08-13 09:12] shaolsh opened #117 "Set timeout failed in syncSendOrderly."
**BUG REPORT**

org.apache.rocketmq.spring.core.RocketMQTemplate类的syncSendOrderly方法

源文件的286行，是不是应该改为：
return syncSendOrderly(destination, message, hashKey, timeout);

[2019-08-13 11:55] flybalance opened #118 "consumer.subscribe is not valid"
@Override
	public void prepareStart(DefaultMQPushConsumer consumer) {
		try {
//			consumer.subscribe("${rocketmq.marketIndexTask.topic}",
//                     "${rocketmq.marketIndexTask.marketTagName}");
			consumer.subscribe("${rocketmq.marketIndexTask.topic}", "derived");
			consumer.setConsumeThreadMin(8);
			consumer.setConsumeThreadMax(12);
		} catch (MQClientException exception) {
			log

[2019-08-13 12:14] RongtongJin commented on #117
@shaolsh Thanks for your submission. It‘s indeed a bug and welcome to submit a PR to fix this issue.

[2019-08-14 01:59] flybalance commented on #115
rocketMQTemplate.convertAndSend("topicName:tagName", "message")

[2019-08-14 02:07] flybalance opened #120 "ExtRocketMQTemplateConfiguration nameServer property is same with global property"
I want to send a message to a different group at the same address, but itdoesn't work.

org.springframework.beans.factory.support.BeanDefinitionValidationException: Bad annotation definition in @ExtRocketMQTemplateConfiguration, nameServer property is same with global property, please use the default RocketMQTemplate!
	at org.apache.rocketmq.spring.autoconfigure.ExtProducerResetConfiguration.valid

[2019-08-14 02:18] #120 closed

[2019-08-15 03:28] fattan9577 opened #121 "Question about ext info in message header."
1、为了异步解耦，把一些操作放在了消息队列中，
但是目前发送消息不能指定header，导致消费消息时丢失header信息，不能完成业务

[2019-08-15 11:26] RongtongJin commented on #118
You can set filter expression by setting selectorExpression like this：

```@RocketMQMessageListener (topic = “xxx”, selectorExpression = “yyy”, consumerGroup = “zzz”)```

It is not recommended to invoke subscribe again in the prepareStart method. If you subscribe the same topic in this method, the original filter expression will be overwritten.

[2019-08-16 02:42] RongtongJin commented on #108
@whoamigodson Sorry, it is not supported yet.

[2019-08-16 02:51] RongtongJin commented on #107
@whoamigodson Currently, you can temporarily solve this issue by implementing RocketMQPushConsumerLifecycleListener and setting a unique instanceName in prepareStart. Contributors are welcome to solve this issue.

[2019-08-16 02:52] RongtongJin commented on #99
@xiaotanxingchen Currently, you can temporarily solve this issue by implementing RocketMQPushConsumerLifecycleListener and setting a unique instanceName in prepareStart. Contributors are welcome to solve this issue.

[2019-08-19 02:10] dongdongzld opened #122 "Suggestion on cosuming message idempotently."
In most cases, we need to de-duplicate messages to achieve idempotency, but the system does not provide any extension points to do this.

[2019-08-19 02:14] dongdongzld commented on #122
大部分情况下，我们都需要对消息去重，从而实现幂等，但系统没有提供任何扩展点来做这个事情，虽然可以在
public void onMessage(MessageExt messageExt)
内实现，感觉不太优雅，有大量的重复代码

[2019-08-19 12:23] leizihui opened #123 "How to set shardingKey in RocketMQTemplate?"
RocketMQTemplate 如何设置shardingKey

[2019-08-19 13:14] dongdongzld commented on #122
建议RocketMQListener增加一个checkMessage方法

[2019-08-19 13:19] dongdongzld commented on #122
![image](https://user-images.githubusercontent.com/3351049/63268517-ebfc3b80-c2c6-11e9-88ba-37b7db92f93e.png)
![image](https://user-images.githubusercontent.com/3351049/63268545-fc141b00-c2c6-11e9-9927-cd1aea7b5959.png)

[2019-08-19 14:57] duanxinyuan opened #124 "可以提供批量消费的支持吗"
请问RocketMQListener可以提供批量消费的支持吗，目前onMessage一次只能消费一条消息，批量消费有利于提高部分场景的性能

[2019-08-20 03:47] Ahrievil opened #125 "可否接入一下健康检查和性能指标的信息"

[2019-08-20 07:08] ShannonDing commented on #117
@shaolsh welcome to submit a PR to fix it.

[2019-08-20 07:10] ShannonDing commented on #121
Could you please descript this question more detail?

[2019-08-20 07:18] ShannonDing commented on #124
Close due to #88

[2019-08-20 07:18] #124 closed

[2019-08-20 07:20] ShannonDing commented on #125
Welcome to feedback and create issues. Could you please give more detail info about this?

[2019-08-20 07:20] #125 closed

[2019-08-20 07:21] #118 closed

[2019-08-20 07:24] #117 closed

[2019-08-20 12:58] Ahrievil commented on #125
结合actuator来进行健康检查，提供例如topic和 broker状态打点信息等，便于rocketmq的监控

[2019-08-20 13:59] fattan9577 commented on #121
您好 我英语不太好 用中文不知道您能理解吗

就是我们的服务在调用接口的时候需要传递自定义header

消费者在消费的时候需要调用其他服务提供的接口，所以我希望在生产消息的时候指定自定义header 这样在消费的时候 直接使用指定的自定义header

------------------ 原始邮件 ------------------
发件人: "dinglei"<notifications@github.com>;
发送时间: 2019年8月20日(星期二) 下午3:10
收件人: "apache/rocketmq-spring"<rocketmq-spring@noreply.github.com>;
抄送: "傻子丁"<349341704@qq.com>;"Author"<author@noreply.github.com>;
主题: Re: [apache/rocketmq-s

[2019-08-21 03:16] lazycece opened #126 "The checker is not available in transaction messages."
使用`RocketMQTransactionListener`标注执行本地事务和消息回查，在模拟消息回查功能的时候不会收到回查请求。

[code]

[2019-08-21 07:50] liuliuzo opened #127 "Support Thrid part SDK DefaultMQProducer bean"
有些特殊场景想问下能不能支持，所以重新描述下这个问题，事情是这样的，我这里遇到一个特殊的场景，在使用rocketmq-spring时引入了一个外部的SDK jar包这个包自己使用了原生的初始化了DefaultMQProducer 并且在spring容器里，导致报错：**Caused by: org.apache.rocketmq.client.exception.MQClientException: The producer service state not OK, maybe started once, RUNNING**

[code]
大致原因是三方的SDK里自己注入了DefaultMQProducer的spring bean并且start了客户端。 能否给rocketmq-spring default producer设置一个独有的instanceName 或者bean Name

[2019-08-21 08:27] liuliuzo opened #128 "ListenerContainerConfiguration.java set nameServer but RocketMQMessageListener already have PLACEHOLDER"
version: Master

ListenerContainerConfiguration.java 的130-131行
 String nameServer = environment.resolvePlaceholders(annotation.nameServer());
nameServer = StringUtils.isEmpty(nameServer) ? rocketMQProperties.getNameServer() : nameServer;

@interface RocketMQMessageListener 中已经有了
String NAME_SERVER_PLACEHOLDER = "${rocketmq.name-server:}";
  /**
     * The property of "name-server".
     */
String

[2019-08-23 06:30] jadeStoneStonger opened #130 "Why did this error occur at startup:nested exception is java.lang.NoClassDefFoundError: io/netty/util/internal/logging/InternalLogLevel"
The steps  are similar to thedocuments .
But there was this mistake：

Error starting ApplicationContext. To display the conditions report re-run your application with 'debug' enabled.
2019-08-23 14:24:05.146 ERROR 16224 --- [           main] o.s.boot.SpringApplication               : Application run failed

org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with

[2019-08-23 11:23] RongtongJin commented on #123
@leizihui Setting shardingKey is not supported in RocketMQTemplate yet, but you can set MessageQueueSelector to send ordered messages.
[code]

[2019-08-24 03:34] leizihui commented on #123
thanks，understood！

[2019-08-24 03:35] #123 closed

[2019-08-26 03:02] wlliqipeng commented on #130
One of Netty's jars was corrupted when Maven downloaded it. Run mvn dependency:purge-local-repository or delete your local Maven cache and try again. You can get detailed information through this [page](https://github.com/spring-projects/spring-boot/issues/12341)

[2019-08-27 03:25] qingzhou413 opened #132 "Suggesting support SPEL for @RocketMQMessageListener topic resolution"
1. Please describe the feature you are requesting.

When using @RocketMQMessageListener like below:
[code]
Sometimes we want to set topic at runtime, but currently only support placeholders.

[2019-08-28 07:28] liuliuzo commented on #103
@fangjian0423 我的这个pull request 有机会被merge吗？

[2019-08-28 07:49] anyanqi opened #134 "version"
Is it possible to make a regular match between the rocketmq-springboot and springboot versions?

[2019-08-28 08:41] chinaTLJ opened #135 "on right,in Maven projects,some dependencies is red"
有的依懒拉不下来是什么原因，报红

[2019-08-28 10:32] yiyuan0109 opened #136 "Close the application rocketMQTemplate error log."
#https://github.com/apache/rocketmq-spring/issues/93
#Closing the application has the following error:

2019-08-28 18:01:35.623 [Thread-76] DEBUG druid.sql.Statement - {conn-10006, pstmt-20003} closed
2019-08-28 18:01:35.623 [Thread-76] DEBUG druid.sql.Connection - {conn-10006} closed
2019-08-28 18:01:35.639 [Thread-76] INFO  com.alibaba.druid.pool.DruidDataSource - {dataSource-1} closed
2019-08-2

[2019-08-30 01:51] RongtongJin commented on #135
Could you please descript this question more detail? What are the dependencies you can't pull?

[2019-08-30 02:14] chinaTLJ commented on #135
就是下了这个项目，
![image](https://user-images.githubusercontent.com/17891721/63988448-eac0df00-cb0e-11e9-924e-4ca3bdeb373c.png)这个东西拉不下来，要我自己添加它的依懒才行

[2019-08-30 08:10] RongtongJin commented on #135
This is just a normal netty dependency, probably caused by your network problem.

[2019-08-30 09:04] worldcoding opened #139 "how to set reconsumeTimes?"
the consumer how to set reconsumeTimes?

[2019-08-30 13:03] songjiang951130 opened #140 "Caused by: java.lang.ClassNotFoundException: org.apache.rocketmq.client.AccessChannel"
org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'org.apache.rocketmq.spring.support.DefaultRocketMQListenerContainer_1': Unexpected exception during bean creation; nested exception is java.lang.NoClassDefFoundError: org/apache/rocketmq/client/AccessChannel
	at org.springframework.beans.factory.support.AbstractAutowireCapableBeanFactory.createBean(AbstractAuto

[2019-09-02 03:09] Yhzhtk opened #141 "how to use two different nameserver on the same project?"
The issue tracker is **ONLY** used for bug report and feature request.

Any question or RocketMQ proposal please use our [mailing lists](http://rocketmq.apache.org/about/contact/).

**FEATURE REQUEST**

1. Please describe the feature you are requesting.

how to use two different nameserver on the same project?

2. Provide any additional detail on your proposed use case for this feature.

I can con

[2019-09-02 06:39] songjiang951130 commented on #140
是我的问题，设置了低版本的 rocketmq。
直接引用rocketmq-spring-boot-starter，就好

[2019-09-02 11:45] #140 closed

[2019-09-02 12:31] RongtongJin commented on #139
You can set consumer properties including `MaxReconsumeTimes` in prepareStart function.

[2019-09-02 13:16] #139 closed

[2019-09-02 13:17] #135 closed

[2019-09-02 13:18] vongosling commented on #134
Based on our discussions with the spring community, 2.0 will be the dominant release, so we no longer support 1.0.

[2019-09-02 13:18] #134 closed

[2019-09-03 01:10] #103 closed

[2019-09-04 02:55] ShannonDing commented on #100
link #107

[2019-09-04 02:57] ShannonDing commented on #99
link #107

[2019-09-07 09:50] qwer120158285 opened #142 "selectorExpression support placeholder"
RocketMQMessageListener的topic、consumerGroup使用占位符都解析了，单单selectorExpression未解析，是有意而为之还是漏了啊？

[2019-09-08 14:28] MartinDai opened #143 "RocketMQLocalTransactionListener auto config not support placeholder value"
**BUG REPORT**

1. Please describe the issue you observed:

- What did you do (The steps to reproduce)?

### Here is part of my config code and yml

**ClearUserTransactionListener.java**
[code]
**application.yml**
[code]

- What did you expect to see?

When the ClearUserTransactionListener is initialized，The value of field ```txProducerGroup``` will be replaced by ```clearUserGroup```.

- What did

[2019-09-10 06:04] #99 closed

[2019-09-10 06:07] #107 closed

[2019-09-12 03:40] yinjunonly commented on #142
emmm，可能因为这个是用来表示表达式的

[2019-09-16 04:26] SwpuEsine opened #144 "请问如何设置消费者线程数,因为消费太慢"
请问如何设置消费者线程数,因为消费太慢,谢谢回答

[2019-09-16 05:06] jiangshubian commented on #144
add more consumer thread

[2019-09-17 00:36] chenxubiao commented on #136
我也遇到同样的问题。

[2019-09-17 05:58] RongtongJin commented on #144
You can set consume thread number by calling setConsumeThreadMin/setConsumeThreadMax in prepareStart method.
[code]

[2019-09-17 12:43] zcwease opened #145 "集成问题"
The issue tracker is **ONLY** used for bug report and feature request.

Any question or RocketMQ proposal please use our [mailing lists](http://rocketmq.apache.org/about/contact/).

**BUG REPORT**

1. Please describe the issue you observed:

- What did you do (The steps to reproduce)?
springboot工程 版本：boot版本 2.1.3.RELEASE

<dependency>
			<groupId>org.apache.rocketmq</groupId>
			<artifactId>rocket

[2019-09-18 03:39] 18710103279 opened #146 "整合问题"
请问这个2.0.3版本可以在使用了springboot1.5.4的项目中引入吗？  如果不能，在不升级1.5.4的情况下，有什么其他解决方案吗？

[2019-09-19 07:40] RongtongJin commented on #146
RocketMQ-spring does not support spring boot version of 1.5.x considering the surpport of spring in the future, maybe you can use [original rocketmq](https://github.com/apache/rocketmq) in your spring boot project.

[2019-09-19 08:28] yiyuan0109 commented on #136
我还没有找到解决.

[2019-09-19 13:01] yinjunonly commented on #91
我也是这样，有什么办法解决吗

[2019-09-20 02:15] RongtongJin commented on #136
@yiyuan0109 @chenxubiao The problem is that the JVM is already in the process of shutting down, but the shutdown hook is still being removed manually。You can just ignore this exception. It will be fixed in the future release.

[2019-09-20 02:36] fangjian0423 opened #147 "An enhancement about the convert in RocketMQTemplate"
RocketMQTemplate override `doConvert(Object payload, @Nullable Map<String, Object> headers,
			@Nullable MessagePostProcessor postProcessor)` method,  this method in `AbstractMessageSendingTemplate` refer `MessageConverter` to convert message.

Now RocketMQTemplate only support jackson to convert payload.

Refer https://github.com/spring-projects/spring-framework/blob/master/spring-messaging/src/m

[2019-09-20 03:27] vongosling commented on #146
@18710103279 rocketmq spring is not designed to support 1.x. you could upgrade your version to the latest version according to this doc, https://github.com/spring-projects/spring-boot/wiki/Spring-Boot-2.0-Migration-Guide

[2019-09-20 03:27] #146 closed

[2019-09-20 03:28] #144 closed

[2019-09-20 03:34] vongosling commented on #142
@qwer120158285 selector这块暂时不支持占位符。如果大家有需求，可以开一个issue提。

[2019-09-20 03:34] #142 closed

[2019-09-20 03:34] #130 closed

[2019-09-23 03:43] Shellbye opened #149 "FEATURE REQUEST support namespace"
The issue tracker is **ONLY** used for bug report and feature request.

Any question or RocketMQ proposal please use our [mailing lists](http://rocketmq.apache.org/about/contact/).

**FEATURE REQUEST**

1. Please describe the feature you are requesting.
Support namespace

2. Provide any additional detail on your proposed use case for this feature.

3. Indicate the importance of this issue to you (

[2019-09-24 04:51] RongtongJin commented on #141
It is not surpported yet.

[2019-09-24 07:49] RongtongJin commented on #143
RocketMQLocalTransactionListener does not support resloving placeholder indeed. Welcome to submit a PR to fix it.

[2019-09-24 08:01] MartinDai commented on #143
OK,I will try to fix it and submit the PR in the near future.

[2019-09-24 09:22] RongtongJin commented on #126
I tried the function in my environment and check back was right. Check back needs to wait for a while. I used rocketmq-spring 2.0.3 as you did.

[2019-09-24 13:48] MartinDai commented on #143
@RongtongJin I found this BUG was fixed by chunhai in **master** branch,so this issue can be closed.
![image](https://user-images.githubusercontent.com/11816720/65517057-b0334200-df14-11e9-861b-580c00615847.png)

[2019-09-27 02:48] RongtongJin commented on #89
@yufeng629 , defaultTopicQueueNums should not be set by the producer, and it can be set by mqadmin.

[2019-09-27 03:27] #143 closed

[2019-09-27 03:33] #113 closed

[2019-09-28 02:41] vongosling commented on #136
https://github.com/apache/rocketmq/pull/1492

[2019-09-28 02:41] #136 closed

[2019-09-29 03:36] shepherdviolet opened #151 "BUG: Infinite loop in DefaultRocketMQListenerContainer"
https://github.com/apache/rocketmq-spring/blob/908ea4812192b36789c46d230b2fa61f51f3c867/rocketmq-spring-boot/src/main/java/org/apache/rocketmq/spring/support/DefaultRocketMQListenerContainer.java#L392-L395

If there is more than one inheritance from RocketMQListener, there will be an infinite loop. For example, MyRocketMQListener --extend--> BaseRocketMQListener --extend--> AbstractRocketMQListene

[2019-09-30 07:06] qiaojiang2 opened #153 "The producer group[SALES_PAY_NOTIFY] has been created before,"
rg.springframework.beans.factory.BeanCreationException: Error creating bean with name 'transactionListenerImpl' defined in file [/Users/qiaojiang/dev-tools/workspace/mafengwo_workspace/pay-notify/pay-notify-provider/target/classes/com/mafengwo/pay/notify/provider/listener/TransactionListenerImpl.class]: Initialization of bean failed; nested exception is org.springframework.messaging.MessagingExcep

[2019-10-01 15:32] RongtongJin commented on #153
The reason for the exception is that you had already registered a producer named SALES_PAY_NOTIFY to instance. Two producer groups of the same name cannot be registered to the same instance.  It would be better if you can provide more detailed information.

[2019-10-10 13:59] shmily2038 opened #154 "I use same code to send a pojo message,when in windows 10 is failed,but windows 7 is normal."
The same piece of code that sends object information is used in the background declaration.

<dependency>
   <groupId>org.apache.rocketmq</groupId>
   <artifactId>rocketmq-spring-boot-starter</artifactId>
   <version>2.0.3</version>
</dependency>

config

rocketmq.name-server=192.168.11.162:9876
rocketmq.producer.group=my-group1

OrderPaidEvent orderPaidEvent = new OrderPaidEvent("T_001", new BigD

[2019-10-12 01:54] RongtongJin commented on #154
It seems that producer can not connect to the broker(192.168.11.162 :10911). You need to check the network reasons.

[2019-10-12 02:47] RongtongJin commented on #151
It's indeed a bug. Could you please submit a PR to fix it ?

[2019-10-12 07:15] xiuFranklin opened #155 "how to set setConsumeFromWhere ?"
The issue tracker is **ONLY** used for bug report and feature request.

Any question or RocketMQ proposal please use our [mailing lists](http://rocketmq.apache.org/about/contact/).

**BUG REPORT**

1. Please describe the issue you observed:

- What did you do (The steps to reproduce)?

- What did you expect to see?

- What did you see instead?

2. Please tell us about your environment:

3. Other i

[2019-10-12 07:33] RongtongJin commented on #155
You can set consumer properties including `setConsumeFromWhere` in prepareStart function.

[2019-10-12 08:54] shmily2038 opened #156 "@RocketMQTransactionListener没有nameServer属性，报错？"
使用2.0.3版本
![image](https://user-images.githubusercontent.com/16485682/66698299-58b41500-ed0f-11e9-9143-f7251ddd2032.png)
使用扩展的类，进行分布式事务消息发送
![image](https://user-images.githubusercontent.com/16485682/66698314-9749cf80-ed0f-11e9-98fd-d2693a4afcbc.png)
虽然定义类分布式事务的监听器，并加注解和实现接口，但还是报错了。
![image](https://user-images.githubusercontent.com/16485682/66698432-aa10d400-ed10-11e9-9767-9c269e90ca9e.png)
不是明明已

[2019-10-12 22:57] shmily2038 commented on #154
I stop all docker,and restart them,And then it's normal.

[2019-10-12 22:57] #154 closed

[2019-10-14 06:02] D-Saber commented on #98
did you solve it?

[2019-10-14 06:03] D-Saber commented on #98
did you solve it?

[2019-10-14 07:03] RongtongJin commented on #156
Error have nothing to do with the @RocketMQTransactionListener annotation having no namesever attribute . It seems that extRocketMQTemplate can not send transaction messages yet. It must use rocketMQTemplate to send transaction messages.

[2019-10-14 08:17] D-Saber commented on #98
but after packing rocketmq-spring-boot-starter  jar for project  then rocketmq.producer.group is must be configured can be used  I want to know how his loading order is solved.

[2019-10-14 09:56] D-Saber opened #157 "@ConditionalOnBean (types: org.apache.rocketmq.client.producer.DefaultMQProducer; SearchStrategy: all)"
but after packing rocketmq-spring-boot-starter  jar for project  then rocketmq.producer.group is must be configured can be used  I want to know how his loading order is solved.

_Originally posted by @D-Saber in https://github.com/apache/rocketmq-spring/issues/98#issuecomment-541546842_

[2019-10-14 14:41] shmily2038 commented on #156
What can extRocketMQTemplate do? When can transactional messaging be supported?

[2019-10-18 09:52] lwclover opened #158 "RocketMQTemplate内置DefaultMQProducer建议直接修改为TransactionMQProducer"
RocketMQTemplate内置DefaultMQProducer建议直接修改为TransactionMQProducer

[2019-10-20 04:05] lazycece commented on #126
oh, i found out when try again

[2019-10-20 04:05] #126 closed

[2019-10-22 08:36] liuliuzo opened #159 "Can not support RefreshScope?"
rocketmq-spring-boot-starter-version: 2.0.3

import org.springframework.cloud.context.config.annotation.RefreshScope;

@Service
@RefreshScope
@RocketMQMessageListener(topic = "${demo.rocketmq.topic}", consumerGroup = "string_consumer")
public class StringConsumer implements RocketMQListener<String> {
    @Override
    public void onMessage(String message) {
        System.out.printf("------- Strin

[2019-10-23 02:51] shepherdviolet commented on #151
When I am free, I will submit a PR, (*￣︶￣)

[2019-10-23 02:52] shepherdviolet commented on #151
When I am free, I will submit a PR, (*￣︶￣)

[2019-10-23 11:27] yiyuan0109 opened #160 "Will the latest version be released?"

[2019-10-25 12:06] RongtongJin commented on #160
When more PRs are merged and waiting for the next release of rocketmq, next version of rocketmq-spring will release.

[2019-10-25 12:09] RongtongJin commented on #158
Thank you for your suggestion. It can simplify the design, but there are still many things to consider. Relevant codes will not be modified temporarily.

[2019-10-28 06:04] #155 closed

[2019-10-28 06:04] #160 closed

[2019-10-28 06:06] #158 closed

[2019-10-28 06:12] vongosling commented on #156
You can look for the parts of "How do I create more than one RocketMQTemplate with a different name-server or other specific properties?" in the README

[2019-10-28 06:12] #156 closed

[2019-10-28 06:15] #37 closed

[2019-10-28 06:15] #62 closed

[2019-10-28 06:17] #89 closed

[2019-10-28 06:18] #91 closed

[2019-10-28 06:21] #111 closed

[2019-10-28 06:21] #153 closed

[2019-10-28 07:42] RongtongJin commented on #122
The extension point of idempotent message processing is not considered temporarily.  Users can process idempotent message by themselves in onMessage method.

[2019-10-29 02:26] xfxf521 opened #161 "How configure to rocketmq_client.log?"
The issue tracker is **ONLY** used for bug report and feature request.

Any question or RocketMQ proposal please use our [mailing lists](http://rocketmq.apache.org/about/contact/).

**BUG REPORT**

1. Please describe the issue you observed:

- What did you do (The steps to reproduce)?

- What did you expect to see?

- What did you see instead?

2. Please tell us about your environment:

3. Other i

[2019-10-29 11:13] cy18cn opened #162 "2.0.3 not support access-channel CLOUD in transactionProducer"
I use accessChannel to migrate my mq service to aliyun, but i found createTransactionMQProducer not set this properties. My service always get error "org.apache.rocketmq.client.exception.MQClientException: No route info of this topic" when i send transaction mq.
[code]

[2019-10-29 11:51] duhenglucky commented on #162
@cy18cn could you pull a request to upgrade the rocketmq-client to 4.5.2? and you can maven build the rocketmq-spring in your local environment before the rocketmq-spring 2.1.0 release.

[2019-10-29 12:19] duhenglucky commented on #161
@xfxf521 RocketMQ use it's own log appender by default, but you can use self4j or change log level by System.setProperty("rocketmq.client.logUseSlf4j",true) or by jvm start paremeter such as add -Drocketmq.client.logLevel=DEBUG etc.

[2019-10-31 07:27] RongtongJin opened #163 "TransactionProducer has incorrect namespace that causes sending transaction message fail in some cases"
The issue tracker is **ONLY** used for bug report and feature request.

Any question or RocketMQ proposal please use our [mailing lists](http://rocketmq.apache.org/about/contact/).

**BUG REPORT**

1. Please describe the issue you observed:

- What did you do (The steps to reproduce)?
Send transaction message

- What did you expect to see?
Send successfully

- What did you see instead?
Send fail b

[2019-10-31 07:36] #163 closed

[2019-10-31 08:49] ShannonDing commented on #162
link #164

[2019-10-31 08:49] #162 closed

[2019-10-31 08:50] #81 closed

[2019-10-31 08:58] #122 closed

[2019-10-31 09:08] ShannonDing commented on #104
link #147
it will be fixed by #152

[2019-10-31 09:08] #104 closed

[2019-11-06 07:03] RongtongJin commented on #121
You can send a message by overloading method like xxxSend(String destination, Message<?> msg, ...), setting headers of msg. for example:
[code]
Similarly, you can also set the message FLAG, WAIT_STORE_MSG_OK and some other user-defined other header information according to the above method.

Note:

In the case of converting Spring's Message to RocketMQ's Message, to prevent the header information

[2019-11-07 02:13] roneywei opened #166 "延迟队列"
demo里面没有涉及延迟队列的使用，建议增加延迟队列的demo

[2019-11-07 02:21] CHN-BinaryLi commented on #98
i also encountered this problem.

[2019-11-07 12:27] RongtongJin commented on #166
Do you mean scheduled message ?  You can set delay level with syncSend method to use scheduled message.
https://github.com/apache/rocketmq-spring/blob/e10cc5e68ff42cb5693655186734677d8df0d7cd/rocketmq-spring-boot/src/main/java/org/apache/rocketmq/spring/core/RocketMQTemplate.java#L175

[2019-11-08 03:53] roneywei commented on #166
我利用RocketMQTemplate.java发送延迟消息
demo如下
@Test
    public void syncDelayQueue() {

        String messageContent = "syncDelayQueue";
        Map h = new ConcurrentHashMap();
        h.put("message", messageContent);
        h.put("defaultQueue", syncDelayQueue);
        Message<?> message = MessageBuilder
                .withPayload(JSON.toJSON(h))
                .setHeader("contentType", "applicat

[2019-11-08 10:52] #159 closed

[2019-11-08 10:53] RongtongJin commented on #166
延迟消息与consumer端的接收无关。consumer端只需遵循demo中的示例正常接收。你可以接收MessageExt（RocketMQ的消息类型）类型、String类型或者发送的对象类型，不要去直接接收org.springframework.messaging.Message类型。

[2019-11-11 03:43] #166 closed

[2019-11-11 04:59] #161 closed

[2019-11-11 05:00] #121 closed

[2019-11-11 05:02] #101 closed

[2019-11-11 05:07] vongosling commented on #92
@meng-taiqian I am quite disgusted with the no sign of the problem :-( , please use the latest version to verify whether there is such a problem, and I am very glad to hear your further feedback again.

[2019-11-11 05:07] #92 closed

[2019-11-11 05:11] vongosling commented on #94
I am quite disgusted with no followup of the problem, please use the latest version to verify whether there is such a problem, and I am very glad to hear your further feedback again.

[2019-11-11 05:11] #94 closed

[2019-11-11 05:13] #100 closed

[2019-11-11 05:15] #147 closed

[2019-11-11 10:48] snicoll commented on #8
May I ask why this issue was closed? I don't see any change on `master` that relates to this request.

[2019-11-12 09:36] RongtongJin commented on #98
As fangjian0423 said, have you configured items about `rocketmq.name-server` & `rocketmq.producer.group`?

[2019-11-12 09:37] RongtongJin commented on #157
Have you configured items about rocketmq.name-server & rocketmq.producer.group in your application?

[2019-11-12 09:39] fangjian0423 commented on #98
Startup with debug mode or see `conditions` endpoint to find why `RocketMQAutoConfiguration` didn't work.

[2019-11-12 09:39] RongtongJin commented on #149
It should be implemented on the rocketmq side instead of rocketmq-spring.

[2019-11-12 09:43] RongtongJin commented on #88
It is not supported yet.

[2019-11-12 09:50] RongtongJin commented on #71
Producer group is used to check  when using transaction message, it should correspond to the listener. So multiple groups to use the same RocketMQTransactionListener bean is not considered for the time being.

[2019-11-12 09:57] RongtongJin commented on #132
In general, the topic should be fixed, not determined at runtime. IMO, this is not a necessary feature.

[2019-11-12 10:00] wangxing-git commented on #71
Can you consider the support of `@RocketMQTransactionListener` on `@Bean`?
[code]
If I want to complete my requirements, I have to create multiple `TransactionListenerImpl` classes, in fact I just want to use one.

[2019-11-12 11:19] RongtongJin commented on #128
如果用户在注解中设置了无效（Empty）的namServer，则从rocketMQProperties中获取，否则从注解中获取。

[2019-11-13 01:38] jamesyc33 opened #167 "FEATURE: 希望按照 Tag 处理, 而不是Topic以及幂等消费的扩展点"
现在就一个 onMessage 方法
存在问题就是, 我如果要分别处理多个 tag, 如 : order:add, order:update 就需要这样

[code]

而用业务实体类为参数的是永远没有场景使用的
[code]
而我希望这样使用

[code]

我自己是可以改 `DefaultRocketMQListenerContainer#consumeMessage` 但是改完就跟官方分支分开了, 官方看下是否有必要呢?
另外, 幂等性的判断也应该统一处理的, 也需要在 `DefaultRocketMQListenerContainer#consumeMessage` 中添加逻辑, 是否可以加一个扩展点呢?

[2019-11-13 02:50] #128 closed

[2019-11-13 08:55] RongtongJin commented on #8
Hi @snicoll, you can reopen this issue, I will submit a PR to slove this issue and ensure backward compatibility.

[2019-11-13 08:56] snicoll commented on #8
Thank you but I don’t have the rights to reopen it.

[2019-11-13 09:21] RongtongJin commented on #167
I can understand your requirements, but I think these can be done on the business code side. Adding these logic to rocketmq-spring will increase complexity.

[2019-11-13 11:03] jamesyc33 commented on #167
我实现完了
tagMethodMap 是在创建 consumer 之后初始化的 tag 和 Method 的map
写个xx基类实现 RocketMQConsumerHelper , 然后把固定业务代码: 如是否幂等消费, 以及消费后更新消费日志
最后所有业务 Listener 都实现 xx基类即可完美解决

[code]

[2019-11-13 12:34] #149 closed

[2019-11-13 12:51] RongtongJin commented on #106
@lyxaaadf Can you try the latest master code? Is the issue still there?

[2019-11-14 06:06] afeicool commented on #157
same issue:

apollo config:

rocketmq.nameServer=http\://onsaddr.mq-internet-access.mq-internet.aliyuncs.com\:80
rocketmq.producer.group=GID_xxxx

----

error mssage:

Action:

Consider revisiting the entries above or defining a bean of type 'org.apache.rocketmq.spring.core.RocketMQTemplate' in your configuration.

2019-11-14 14:04:28,215 [main] ERROR org.springframework.boot.diagnostics.LoggingFa

[2019-11-14 07:45] afeicool commented on #157
after some research 俺解决了：

启动时候或在application.properties里加这个：
apollo.bootstrap.enabled = true

https://github.com/ctripcorp/apollo/wiki/Java%E5%AE%A2%E6%88%B7%E7%AB%AF%E4%BD%BF%E7%94%A8%E6%8C%87%E5%8D%97#3213-spring-boot%E9%9B%86%E6%88%90%E6%96%B9%E5%BC%8F%E6%8E%A8%E8%8D%90

[2019-11-14 08:04] D-Saber commented on #157
不是的，使用bootstrap阶段注入是没有问题，但是如果项目中springboot对rocketmq-spring进行封装打成组件jar,封装例如:(做一些契合业务的日志发送记录,API约定等等..)， 其他业务服务引用此jar是必须配置rocketmq.producer.group的，但是我子消费服务引用此组件时，并不需要使用这个配置。因为这个属于生产组配置。

[2019-11-15 02:45] vongosling commented on #8
@snicoll Could you help to review this improvement? YAML and list style(rocketmq.name-server[0]=XXX, rocketmq.name-server[1]=XXX. Or rocketmq.name-server= XXX) are all supported and vefified now.

[2019-11-15 02:54] vongosling commented on #167
@jamesyc33 Tag is not standard usage in spring, we will not support this feature.

[2019-11-15 02:54] #167 closed

[2019-11-15 09:56] dai-shun opened #173 "How to dynamically configure consumeThreadMax in @RocketMQMessageListener"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.
How to dynamically configure consumeThreadMax in @RocketMQMessageListener
2. Provide any additional detail on your proposed use case for this feature.
In my program, I use apollo most configuration, I hope that the configuration of consumeThreadMax is dynamic, I can modify the configuration on apollo, and then restart the prog

[2019-11-16 05:51] intodream opened #174 "The same machine has the same containerBeanName"
I started two jvm, two listener,
They have the same consumerGroup
So the instanceName of the two listeners is the same

`
String containerBeanName = String.format("%s_%s",DefaultRocketMQListenerContainer.class.getName(),
            counter.incrementAndGet());
`

The result is
![image](data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA4EAAAGRCAYAAADb47Z+AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEh

[2019-11-16 05:53] intodream commented on #174
The image is
4 queue  only two have the consumerclient

[2019-11-18 02:03] RongtongJin commented on #174
If you use the latest code, the instanceName of consumer is different in different jvm, but  containerBeanName could be the same in different jvm.

[2019-11-18 02:04] RongtongJin commented on #173
Could you submit a PR to solve this issue?

[2019-11-18 02:42] l343765828 opened #175 "aliyun don't set delayTime？"
I want to use aliyun‘s rocketmq，but customer service told me this version delay messages are not supported，I must use the commercial version？

[2019-11-18 02:48] intodream commented on #174
Thank you, solved my problem.

[2019-11-18 02:48] #174 closed

[2019-11-18 06:29] RongtongJin commented on #175
What version do you use?
You can set delay level by using
https://github.com/apache/rocketmq-spring/blob/e10cc5e68ff42cb5693655186734677d8df0d7cd/rocketmq-spring-boot/src/main/java/org/apache/rocketmq/spring/core/RocketMQTemplate.java#L175
but if you want set StartDeliverTime in aliyun, it's really not supported right now.

[2019-11-18 06:34] l343765828 commented on #175
I Known this delay level,But aliyun'rocketmq is  not supported.

您好。开源的mq接入阿里云mq，本质是使用阿里云mq的实例，还是没有办法设置的。只能您从代码中自己控制消息的发送时间

The above is the customer service reply of ali cloud。
My version is 2.0.3

[2019-11-18 10:47] RongtongJin commented on #175
I  set the delaylevel to send messages to alicloud with 2.0.4 version successfully.
In addtion, there is a trick if you want to send delaytime messages to alicloud by using setStartDeliverTime:
[code]

[2019-11-18 12:25] l343765828 commented on #175
I built the rocketmq environment can send delay messages,but the delayleve too few,I want to create a new level,for example,delay 24 hours to send message,I needs to be changed the broker conf,but aliyun is not suppot
the timeStamp is expiration time?

[2019-11-18 12:25] l343765828 commented on #175
the 2.0.4 can send delay message on aliyun？

[2019-11-18 14:03] RongtongJin commented on #175
Why don't you try? In my environment, it succeed.

[2019-11-19 01:12] l343765828 commented on #175
the timeStamp is expiration time? aliyun is support? @RongtongJin

[2019-11-21 05:24] zainzhoucom opened #176 "Why don't you take a TAG from the Header"
`MessageBuilder.withPayload(new Model()).setHeader(RocketMQHeaders.TAGS,"test.tag").build()`

RocketMQUtil.getAndWrapMessage

`//Why is that?`
`String[] tempArr = destination.split(":", 2);`
`String topic = tempArr[0];`
`String tags = "";`
` if (tempArr.length > 1) {`
`          tags = tempArr[1];`
`  }`
`Message rocketMsg = new Message(topic, tags, payloads);`

`//Why not`
`Object tag = headers.g

[2019-11-21 09:26] RongtongJin commented on #176
Some method,  such as `asyncSend(String destination, Object payload, SendCallback sendCallback, long timeout) `, users will not  build spring messages, they cannot place tag. So we put the tag in destination.

[2019-11-22 09:13] #175 closed

[2019-11-25 01:25] xunianchong opened #177 "set messageConverter"
JACKSON_PRESENT or FASTJSON_PRESENT,  i want set the converter FASTJSON_PRESENT,   do ?

[2019-11-26 14:09] RongtongJin opened #178 "Refactor transaction message implementation"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.

The current implementation of rocketmq transaction message is not elegant. So I want to refactor the implementation of  transaction message.

2. Provide any additional detail on your proposed use case for this feature.

3. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have). Are you cu

[2019-11-26 16:44] Croyson opened #180 "has been created before in unit test"
单元测试情况下报错，如何解决
The producer group[xxxx] has been created before, specify another name please.

[2019-11-27 01:51] RongtongJin commented on #180
Which unit test？According to the information you gave, this is caused by multiple consumers with the same group name defined in the same instance.

[2019-11-27 05:35] Croyson commented on #180
springboot  with  'maven test'！ Container started multiple times，And then the mistake happened

[2019-11-27 07:00] RongtongJin commented on #180
I tried `mvn test` in my environment, all tests passed. Could you please provide more detailed log？

[2019-11-27 07:07] RongtongJin commented on #145
TransactionHandlerRegistry will be removed in future version.

[2019-11-27 08:06] intodream opened #181 "V2.0.4 json parse error"
The Version is 2.0.4

I called the interface in the project, the parameter is json
I passed a field that the background entity class does not have, Then it happens json parse error

[2019-11-27 08:19] leoxchang opened #182 "use "@RocketMQMessageListener" listen two topics, only one topic can get message trace"
I used "@ RocketMQMessageListener" listen two topics, that from one nameSrv;only one topic  can get message trace. I debug the rocketmq client source,I see that "AsyncTraceDispatcher.start" method throws MQClientException,because the traceProducer has bean created,the "MQ-AsyncTraceDispatcher-Thread-" thread can not start. so one DefaultMQPushConsumer can not send trace message.

当使用”@RocketMQMess

[2019-11-27 08:58] Croyson commented on #180
使用@MockBean,springboot被多次启动，所以有重复报错，现在跑mvn test的时候把RocketMQAutoConfiguration 排除掉就好了

[2019-11-27 10:03] intodream opened #183 "How to create a theme manually"
I configured  autoCreateTopicEnable = false

I need to create topics using api in my project

How to do it

[2019-11-28 01:12] shepherdviolet opened #184 "The config 'consumeThreadMax' is useless in annotation @RocketMQMessageListener"
The issue tracker is **ONLY** used for bug report and feature request.

Any question or RocketMQ proposal please use our [mailing lists](http://rocketmq.apache.org/about/contact/).

**BUG REPORT**

1. Please describe the issue you observed:

- What did you do (The steps to reproduce)?

[code]

- What did you expect to see?

[code]

- What did you see instead?

[code]

2. Please tell us about your

[2019-11-28 01:35] #183 closed

[2019-11-28 01:43] RongtongJin commented on #182
There is a same [issue](https://github.com/apache/rocketmq/issues/1619) in rocketmq main repo.

[2019-11-28 01:51] RongtongJin commented on #184
This parameter is valid. The relevant code is below
https://github.com/apache/rocketmq-spring/blob/e5f28fec78f98b2ce877a4f4f4b1fbbcae248933/rocketmq-spring-boot/src/main/java/org/apache/rocketmq/spring/support/DefaultRocketMQListenerContainer.java#L208
https://github.com/apache/rocketmq-spring/blob/e5f28fec78f98b2ce877a4f4f4b1fbbcae248933/rocketmq-spring-boot/src/main/java/org/apache/rocketmq/spri

[2019-11-28 01:52] RongtongJin commented on #181
Could you tell me more details, such as how you called it？

[2019-11-28 02:19] intodream commented on #181
such as :
The input parameters of my interface are

private Integer expiredDays;
private List<String> types;

Only two parameters
I then use postman to call the interface to pass these two parameters.
{
	"expiredDays":10,
	"types":["type"]
}
The result is success

I passed a parameter with a name other than these two parameters
such as
{
	"name":"test"
}
An exception occurs:

org.springframework.h

[2019-11-28 03:49] shepherdviolet commented on #184
thank you for your reply!
For 'rocketmq-spring', this parameter is "valid".  However, after reading the source code of rocketmq-client, in class 'ConsumeMessageConcurrentlyService'

[code]

You will find that the threads will only increase when the LinkedBlockingQueue is full, but the queue has no capacity set. So the thread never grows to its maximum.
ThreadPoolExecutor only increases threads to

[2019-11-28 07:44] #184 closed

[2019-11-28 07:49] #177 closed

[2019-11-28 07:51] #176 closed

[2019-11-28 07:55] vongosling commented on #110
Same issue like https://github.com/apache/rocketmq-spring/issues/178. Would you like to review this improvement

[2019-11-28 07:55] #110 closed

[2019-11-28 07:57] vongosling commented on #106
I will close it, if you still come across this problem, please let us know:-)

[2019-11-28 07:57] #106 closed

[2019-11-28 08:01] vongosling commented on #98
Any update for this issue?

[2019-11-28 10:10] RongtongJin commented on #181
MessageConvert was modified in version 2.0.4, but there seems to be no problem that throw json parse error when wrong parameter input.

[2019-11-28 10:13] RongtongJin commented on #184
You are right. And you can submit a issue to the rocketmq main repo.

[2019-11-29 01:07] #181 closed

[2019-11-29 09:20] xunianchong opened #185 ": could not initialize proxy [cloud.formu.pay.model.PaymentOrder#231851604414824448] - no Session"
和spring boot jpa集成后，监听类调用hibernate 出现无事务，这个估计得你们解决哈

[2019-12-01 12:23] neo1104 opened #186 "@RocketMQMessageListener.selectorExpression cannot autoconfigure from configure file"
I found user @RocketMQMessageListener in the following code:
`@RocketMQMessageListener(topic = "${xposp.mq.recv.topic}", consumerGroup = "${xposp.mq.recv.group}",
			selectorExpression = "${xposp.mq.recv.tag}")`

then , the selectorExpression cannot auto read configure, instead when running , the log output:

![21401575200539_ pic_hd](https://user-images.githubusercontent.com/7303646/69913852-53a2

[2019-12-01 16:34] jiangctry opened #187 "use rocketmq-spring，springboot JacksonAutoConfiguration doesn't work"
import rocketmq-spring， springboot load RocketMQAutoConfiguration and JacksonFallbackConfiguration create bean ObjectMapper.  JacksonAutoConfiguration cannot be load and jackson properties doesn't work

[2019-12-02 03:01] RongtongJin commented on #186
I fix the issue in #188. Could you help verify it?

[2019-12-02 03:14] RongtongJin commented on #187
Could you give more details? Because in my enviroment, there is no such issue, so I want to know how to reproduce it?

[2019-12-02 03:19] RongtongJin commented on #185
Could you give more details such as some important log? And why do you think rocketmq-spring affects this issue？

[2019-12-03 12:54] disciple-hu opened #189 "@RocketMQMessageListener中selectorExpression无法动态赋值"
The issue tracker is **ONLY** used for bug report and feature request.

Any question or RocketMQ proposal please use our [mailing lists](http://rocketmq.apache.org/about/contact/).

**BUG REPORT**

1. Please describe the issue you observed:

- What did you do (The steps to reproduce)?

- What did you expect to see?

- What did you see instead?

2. Please tell us about your environment:

3. Other i

[2019-12-04 01:47] RongtongJin commented on #189
Same issue with #186

[2019-12-04 08:37] xunianchong commented on #185
![image](https://user-images.githubusercontent.com/16568795/70126599-58ebe380-16b4-11ea-90ad-3c6d8425aaec.png)
![image](https://user-images.githubusercontent.com/16568795/70126645-6903c300-16b4-11ea-966c-3a98879ccdc5.png)
user spring boot

[2019-12-04 08:38] xunianchong commented on #185
could not initialize proxy [cloud.formu.pay.model.PaymentOrder#233652582931759104] - no Session
	at org.hibernate.proxy.AbstractLazyInitializer.initialize(AbstractLazyInitializer.java:169) ~[hibernate-core-5.3.11.Final.jar:5.3.11.Final]
	at org.hibernate.proxy.AbstractLazyInitializer.getImplementation(AbstractLazyInitializer.java:309) ~[hibernate-core-5.3.11.Final.jar:5.3.11.Final]
	at org.hiberna

[2019-12-05 04:20] #189 closed

[2019-12-05 04:27] vongosling commented on #187
@jiangctry any other details for helping locate your problem?

[2019-12-05 04:29] #132 closed

[2019-12-05 04:36] vongosling commented on #173
It seems to a very similar idea like https://github.com/apache/rocketmq-spring/issues/66. We could
discuss the details in this thread.

[2019-12-05 04:36] vongosling commented on #66
see https://github.com/apache/rocketmq-spring/issues/173

[2019-12-05 04:36] #66 closed

[2019-12-05 06:19] RongtongJin commented on #72
Hi @wangxing-git , `txProducerGroup` will be removed in subsequent releases. The value is the same as the producerGroup of RocketMQTemplate by default.
Can refer to #179 .

[2019-12-05 06:27] wangxing-git commented on #72
OK, I will follow the latest version.

[2019-12-05 06:27] #72 closed

[2019-12-05 06:32] #178 closed

[2019-12-06 03:11] vongosling commented on #71
txProducerGroup has been removed in the upcoming release (https://github.com/apache/rocketmq-spring/pull/179)because of some hidden trouble in transaction implementation. Nowadays, one template binding only one group, there is no rational plan for improvement. But I would like to hear from you. For this reason, this issue will be close in the next week if we could not receive any substantial impro

[2019-12-06 03:37] #180 closed

[2019-12-06 06:20] RongtongJin opened #190 "JacksonFallbackConfiguration relate code is useless in the project"
The issue tracker is **ONLY** used for bug report and feature request.

Any question or RocketMQ proposal please use our [mailing lists](http://rocketmq.apache.org/about/contact/).

**ENHANCEMENT REQUEST**

1. Please describe the enhancement you are requesting.

JacksonFallbackConfiguration relate code is useless in the project and deprecated annotation is ambiguous. IMO, it should be deleted.

[2019-12-06 08:55] RongtongJin opened #192 "Upgrade rocketmq version to 4.6.0 and add unit tests"
The issue tracker is **ONLY** used for bug report and feature request.

Any question or RocketMQ proposal please use our [mailing lists](http://rocketmq.apache.org/about/contact/).

**FEATURE REQUEST**

1. Please describe the feature you are requesting.

Upgrade rocketmq version to 4.6.0 and add unit tests

2. Provide any additional detail on your proposed use case for this feature.

3. Indicate t

[2019-12-06 11:15] makainb opened #194 "JacksonFallbackConfiguration confused"
1.问题描述
POM 添加了rocketmq starter的 依赖
Controller层无法解析LocalDatetime等Java8的日期API

2.问题造成原因：
`RocketMQAutoConfiguration` 类引入 `JacksonFallbackConfiguration`  ,`JacksonFallbackConfiguration`的`rocketMQMessageObjectMapper`方法覆盖了SpringBootMessageConverter的ObjectMapper，由于jackson的ObjectMapper自动装配了JavaTimeModule，新new的没有装配，造成无法解析java8的时间

3.解决方案：
删除`JacksonFallbackConfiguration`类

[2019-12-06 11:38] RongtongJin commented on #194
There is a [PR](https://github.com/apache/rocketmq-spring/pull/191) about deleting JacksonFallbackConfiguration. Could you help to verify it ?

[2019-12-06 14:42] #190 closed

[2019-12-06 14:44] vongosling commented on #194
I've verified it. that's ok for me. Any other problem, please feel free to tell us:-)

[2019-12-06 14:44] #194 closed

[2019-12-09 08:14] lexiLiu opened #195 "tags is invalid"
代码中设置了TAGS，但是发消息时TAGS是无效的。
`Message<Order> message = MessageBuilder
                .withPayload(order)
                // keys
                .setHeader(MessageConst.PROPERTY_KEYS, id))
                // tags
                .setHeader(MessageConst.PROPERTY_TAGS, MqConfig.EventTagEnum.TAG_ORDER_CREATE.tag)
                .build();
        rocketMQTemplate.asyncSend(MqConfig.orderEvent, message

[2019-12-09 11:03] RongtongJin commented on #195
When you use rocketMQTemplate to send a message, set the destination of the message by setting the destination parameter of the send method. The destination format is topicName:tagName, : Precedes the name of the topic, followed by the tags name. As shown below,
https://github.com/apache/rocketmq-spring/blob/1bea434f5436b14cae35fb9f9b90737a474ade44/rocketmq-spring-boot-samples/rocketmq-produce-dem

[2019-12-09 11:14] RongtongJin commented on #185
From the code and log you gave, I'm not sure it was rocketmq-spring that caused this error.

[2019-12-09 11:19] #195 closed

[2019-12-10 05:14] #192 closed

[2019-12-10 09:37] liyueforever opened #196 "After the introduction of rocketmq-spring-boot-starter in the project, the related configuration of Jackson was invalidated"
I use springboot and springcloud to build the project. After introducing the dependency of rocketmq-spring-boot-starter in the project, all the custom jackson configuration classes are not working properly.
The Jackson configuration class is placed in the jar package and initialized in the project using the import annotation.
For example, the following configuration class is normal before the intr

[2019-12-10 12:22] caimofei commented on #55
Recently, I tryied solve this problem.
1. My Main idea is use org.springframework.messaging.converter.SmartMessageConverter#fromMessage .This interface define a third parameter called "Object conversionHint".
2. I switch the Definition of DefaultRocketMQListenerContainer#messageType to Type insteadof Class
3. add a "private  MethodParameter onMessageParameter" member  to DefaultRocketMQListenerCon

[2019-12-10 12:30] caimofei opened #197 "The RocketMQListener can not deserialize generic onMessage method parameter"
**Problems:**
When definition the listener like this. the starter cannot settup
`public class Listener1 implements RocketMQListener<MsgDto<String>>`

Recently, I tryied solve this problem,only modify the DefaultRocketMQListenerContainer class.  **Wish to improve the starter in next release.**
1. My Main idea is use org.springframework.messaging.converter.SmartMessageConverter#fromMessage .This int

[2019-12-10 13:03] RongtongJin commented on #196
@liyueforever , Is it a compile error or runtime error? Is there any error message?

[2019-12-10 13:46] RongtongJin commented on #197
@caimofei , good catch! Could you submit a PR to fix this issue ?

[2019-12-11 03:37] liyueforever commented on #196
No error message，just the Jackson configuration class does not take effect.
I seem to have found a solution. After deleting the configuration of JacksonFallbackConfiguration in the code of rocket-spring-boot, there will be no problem.

[2019-12-11 05:46] RongtongJin commented on #196
@liyueforever Could you have a try with latest master branch code? It has removed JacksonFallbackConfiguration in the code.

[2019-12-11 07:59] fangqyou opened #198 "Invocation of destroy method failed on bean with name 'rocketMQTemplate' on maven install or Test"
on maven install or Test  ,occur error:

[SpringContextShutdownHook] WARN  o.s.beans.factory.support.DisposableBeanAdapter - Invocation of destroy method failed on bean with name 'rocketMQTemplate'
java.lang.IllegalStateException: Shutdown in progress
	at java.base/java.lang.ApplicationShutdownHooks.remove(ApplicationShutdownHooks.java:82)
	at java.base/java.lang.Runtime.removeShutdownHook(Runtime

[2019-12-11 09:04] caimofei commented on #197
I have make a PR #199

[2019-12-11 10:00] liyueforever commented on #196
I downloaded and used the 2.0.5-SNAPSHOT version, this version can solve my problem

[2019-12-11 10:04] caimofei commented on #197
I have make a PR #201

[2019-12-11 10:05] caimofei commented on #197
i have make a pr #201

[2019-12-11 12:53] RongtongJin commented on #198
Could you have a try with the latest master branch? IIRC this bug has been solved.

[2019-12-11 12:56] RongtongJin commented on #197
@caimofei OK, I will reivew the pr ASAP.

[2019-12-12 04:46] gagado opened #202 "扩展数据源发送事务消息"
1、扩展的数据源创建的是默认的producer，不能发送事务消息

[2019-12-12 07:49] RongtongJin commented on #202
ExtRocketMQTemplate does not support sending transactional messages temporarily.

[2019-12-12 08:23] gagado commented on #202
好的，谢谢。这块以后会完善吗？ 是否有计划加上发送事务消息。

[2019-12-12 08:25] gagado commented on #202
好的。谢谢，这块以后会完善吗? 是否有计划加上发送事务性消息。不好意思，打扰了。

[2019-12-12 09:53] RongtongJin commented on #202
会完善的。近期会提交PR修复这个问题，可以关注下。

[2019-12-13 01:32] #202 closed

[2019-12-13 01:40] #196 closed

[2019-12-13 02:08] ljy-super opened #203 "use rocketMQTemplate send payload have attribute LocalDateTime error"
Caused by: org.springframework.messaging.converter.MessageConversionException: Could not read JSON: Cannot construct instance of `java.time.LocalDateTime` (no Creators, like default construct, exist): cannot deserialize from Object value (no delegate- or property-based Creator)
 at [Source: (String)"{"id":1205099909871702016,"couponId":1204317114652037135,"userId":1133667465583267846,"status":0,"r

[2019-12-13 03:08] RongtongJin commented on #203
link #194
This bug has been sloved in the latest master branch.

[2019-12-13 03:33] ljy-super commented on #203
When will it be released

[2019-12-13 03:43] #203 closed

[2019-12-13 05:52] fangqyou commented on #198
used 2.0.4

[2019-12-13 06:08] RongtongJin commented on #198
This bug has been solved in the latest master branch, and a new version will be release ASAP.

[2019-12-14 09:14] fangqyou commented on #198
thank you very much

[2019-12-17 05:59] #198 closed

[2019-12-17 06:17] #197 closed

[2019-12-17 06:18] #187 closed

[2019-12-17 06:18] #186 closed

[2019-12-17 06:19] #185 closed

[2019-12-18 06:25] zongtanghu commented on #151
This issue can assign to @zhangjidi2016.And firstly, this issue can assign to me!

[2019-12-18 06:28] zongtanghu commented on #145
Firstly, this issue can be assigned to me.

[2019-12-18 10:38] fangqyou commented on #187
I want to make the fields that are null not serializable，So I implemented this function like this：
 in appilication.yml
spring.jackson:
  default-property-inclusion: non_null
  serialization.write-dates-as-timestamps: true

use rocketmq-spring ,this config  lose effectiveness |  
-- | --

[2019-12-19 10:03] yaqi2015 opened #207 "RocketMQMessageListener can not set selectorExpression by using placeholder"
![image](https://user-images.githubusercontent.com/11505520/71164335-cd647c00-2289-11ea-9e18-071fbf6653ff.png)

![image](https://user-images.githubusercontent.com/11505520/71164230-98582980-2289-11ea-9013-e97abf230121.png)
![image](https://user-images.githubusercontent.com/11505520/71164382-e40ad300-2289-11ea-8d8a-5b8074219ce2.png)

[2019-12-20 01:49] RongtongJin commented on #207
This bug has been resolved on the latest main branch, ref #188

[2019-12-20 08:33] xiangwangcheng opened #208 "Request/Reply model supporting for microservice scenario"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.
RocketMQ-Spring need support RPC(request/response model) since RMQ has supported it since version 4.6.0
2. Provide any additional detail on your proposed use case for this feature.

3. Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have). Are you currently using any workarounds to addres

[2019-12-23 03:11] #207 closed

[2019-12-23 08:24] niutd777 opened #211 "A template can only bind one group at present. How to implement multiple instances of rocketmq template？"
目前在使用阿里云的rocketMQ,但是官方对于事务消息group有限制 “[事务消息的 Group ID 不能与其他类型消息的 Group ID 共用](https://help.aliyun.com/document_detail/43348.html?spm=a2c4g.11174283.6.553.6c56537cQl76uJ)”（注意事项第一条）。现在使用场景需要使用多种消息类型，不知道针对这种场景需要如何配置？想着使用ExtRocketMQTemplate仅支持事务消息，RocketMQTemplate支持其他类型消息，但使用@ExtRocketMQTemplateConfiguration报错提示nameServer property is same with global property， please use the default RocketMQTemplate!

[2019-12-23 10:19] RongtongJin commented on #211
I think we should remove the limitation that ExtRocketMQTemplate can not keep the same nameserver as RocketMQTemplate. I will submit a PR to solve this issue.

[2019-12-24 02:57] niutd777 commented on #211
When released the new version ?

[2019-12-24 02:57] niutd777 commented on #211
When released the new version ?

[2019-12-24 09:09] RongtongJin commented on #211
The new version will be release ASAP. If you use rocketmq-spring 2.0.3 or 2.0.4, you can set transaction producer group name different  from rocketmqTemplate group name.

[2019-12-25 08:38] RongtongJin opened #213 "Polish readme file"
The issue tracker is **ONLY** used for bug report and feature request.

Any question or RocketMQ proposal please use our [mailing lists](http://rocketmq.apache.org/about/contact/).

## enhancement

Polish readme file.
Make readme file cleaner.

[2019-12-26 01:47] #213 closed

[2019-12-27 03:39] RongtongJin opened #215 "Polish the code and modify the version"
The issue tracker is **ONLY** used for bug report and feature request.

Any question or RocketMQ proposal please use our [mailing lists](http://rocketmq.apache.org/about/contact/).

**ENHANCEMENT REQUEST**

1. Please describe the enhancement you are requesting.

Polish the code and modify the version

[2019-12-27 08:53] #215 closed

[2019-12-29 03:36] romantictravel01 commented on #106
I ran into the same problem, fastjson version 1.2.60, rocketmq-spring boot-starter-version 2.0.4

[2019-12-29 03:42] romantictravel01 opened #217 "when MessageModel.BROADCASTING ,so error #106"
https://github.com/apache/rocketmq-spring/issues/106
不明白为什么关闭,最新的版本是2.0.4,我遇到了同样的问题

https://github.com/apache/rocketmq-spring/issues/106
![image](https://user-images.githubusercontent.com/59325449/71552071-502acb00-2a30-11ea-80b0-f5536bd654f0.png)

![image](https://user-images.githubusercontent.com/59325449/71552069-4739f980-2a30-11ea-9f52-26971aba0104.png)

[2019-12-30 03:03] romantictravel commented on #217
offsets.json.bak 乱码 乱码 乱码

[2019-12-30 07:34] forfuns opened #218 "when spring proxy bean will repeat name with "scopeTarget" bean to make some consumer"
The issue tracker is **ONLY** used for bug report and feature request.

Any question or RocketMQ proposal please use our [mailing lists](http://rocketmq.apache.org/about/contact/).

**BUG REPORT**

when I use @RefreshScope( with alibaba nacos ) to make hot deploy properties features,`rocketmq-spring` will find some bean name with `scopeTarget.` , that will make some name for one bean,and register

[2019-12-30 11:51] RongtongJin commented on #217
There is a similar [issue](https://github.com/apache/rocketmq/issues/1498) you can refer to.

[2020-01-02 03:40] #151 closed

[2020-01-03 08:22] #182 closed

[2020-01-06 05:08] liuliuzo opened #219 "Support to enable tls through configuration file"
这边因为规划问题出现了一个比较奇特的场景，应用客户端会连接MQ集群跨中心启用双向TLS。不跨中心的部分启用，部分不启用TLS。

(1) enable TLS for each Producer and Listener consumer

(2) support TLS by property file, current only JVM arguments can determines if client side use TLS jvm arg
 tls.enable
 tls.config.file

[2020-01-06 10:07] ktios commented on #98
i have added rocketmq.name-server and rocketmq.producer.group, but it still can't work .

[2020-01-07 08:41] focuseven opened #220 "Sometimes garbled when send string message in sync mode"
RocketMQTemplate.syncSend(destination,MessageBuilder.withPayload(message).setHeader(RocketMQHeaders.KEYS, key).build());

message is a simple string eg:1578301060412568,store data turns out 157830106041256�

broker  version:4.6.0
rocketmq-spring-boot-starter:2.0.4

This happens at random,is it a bug?

[2020-01-08 02:52] RongtongJin commented on #220
Could you help to reproduce the issue? It is helpful to find the bug.

[2020-01-08 03:09] forfuns commented on #218
@RongtongJin hello,any idea with this enhancement of next version deploy time ?

[2020-01-08 07:25] RongtongJin commented on #218
@forfuns RocketMQ-Spring 2.1.0 will release ASAP. It depends on when the  [pr](https://github.com/apache/rocketmq-spring/pulls) are merged to master, especially the pr of request-reply.

[2020-01-08 12:12] #217 closed

[2020-01-09 03:03] focuseven commented on #220
I recreated that topic,it no longer happen.
I try to create a new topic to send the same data,it works fine.
I trans the Problematic historical data  like157830106041256�  to binary perform, all start with 1,

[2020-01-10 01:35] fangqyou opened #222 "When will version 2.0.5 be released？"
When will version 2.0.5 be released?

[2020-01-10 08:58] RongtongJin commented on #222
The next version 2.1.0 will be released ASAP.

[2020-01-10 08:58] #222 closed

[2020-01-12 13:26] shuowang97 opened #223 "required a bean of type 'org.apache.rocketmq.spring.core.RocketMQTemplate' that could not be found."
**I recently used rocketMQ to achieve message system in my project, but after I downloaded and added these two dependencies in below:**

         <dependency>
            <groupId>org.apache.rocketmq</groupId>
            <artifactId>rocketmq-spring-boot-starter</artifactId>
            <version>2.0.0</version>
        </dependency>
        <dependency>
            <groupId>org.apache.rocketmq</gr

[2020-01-13 02:03] RongtongJin commented on #223
You only need to add rocketmq-spring-boot-starter dependency. Do not add rocketmq-client dependency. In addition, it is recommended that you upgrade the version of the rocketmq-spring-boot-starter dependency and refer to the examples in the samples package.

[2020-01-15 08:56] chwii opened #224 "Is it possible to create consumer that subscribe to certain topic on the fly?"
I was able to do so with rocketmq-client like below
[code]
Is this possible with rocketmq-spring-boot-starter?
Or is it ok if I stick to rocketmq-client in my Spring Boot project

[2020-01-15 12:49] #211 closed

[2020-01-17 10:11] #208 closed

[2020-01-19 02:58] xiangwangcheng commented on #224
I'm not sure what do you mean of 'on the fly', but you can create a consumer subscribing to a certain topic like below.
![image](https://user-images.githubusercontent.com/8049014/72673850-8b0da500-3aaa-11ea-8193-4b2ebdc2d0c6.png)

[2020-01-19 03:46] chwii commented on #224
@xiangwangcheng
Of course I read the consumer demo before I open this issue, unfortunately they didn't meet my needs because I have no idea what topic I should subscribe to in coding phase(actually I do but topics can be added dynamically).
What I want to implement here is to create consumer and register listener(different `onMessage` logic maybe) on method invocation instead of hard-coded classes

[2020-01-20 10:03] RongtongJin commented on #224
@chwii It‘s a little complicated if you need to create a consumer at runtime using rocketmq-spring. It is recommended that you still use rocketmq-client in your spring boot project.

[2020-01-20 10:03] #224 closed

[2020-01-20 10:03] #223 closed

[2020-01-20 10:19] #71 closed

[2020-02-05 04:01] qiankun30 commented on #98
解决了吗？

[2020-02-12 03:05] #218 closed

[2020-02-12 10:11] liuliuzo opened #227 "How to support remote partition of spring batch"
**FEATURE REQUEST**
Spring batch Integration提供了远程分区通讯能力，Spring Integration拥有丰富的通道适配器（例如JMS和AMQP），基于ActiveMQ，RabbitMQ等中间件都可以实现远程分区处理。 但是没有RocketMQ的支持，这里能否提供相关能力呢，什么样的方式比较好，目前已知有RocketMQ-jms的？ 此需求为实际运用中的需求。

[2020-02-14 10:15] #227 closed

[2020-02-16 13:32] zhaoqin102 opened #228 "When will version 2.1.0 be released?"
When will version 2.1.0 be released?

[2020-02-16 15:45] RongtongJin commented on #228
It's already voting. It's expected to be released this week.

[2020-02-16 15:45] #228 closed

[2020-02-26 09:13] liuliuzo opened #230 "infinite loop when using Inherit"
while ((Objects.isNull(interfaces) || 0 == interfaces.length) && Objects.nonNull(superclass)) {
            interfaces = superclass.getGenericInterfaces();
            superclass = targetClass.getSuperclass();
}

public class MyChildListener extends MySupperListener

[2020-02-26 09:14] #230 closed

[2020-02-26 09:39] myzf opened #231 "Code error"
**AsyncTraceDispatcher dispatcher = new AsyncTraceDispatcher(customizedTraceTopic, isEnableAcl ? new AclClientRPCHook(new SessionCredentials(ak, sk)) : null);**

### This line of code is missing two parameters, hope to add in time, otherwise the project can not compile

**producer.getDefaultMQProducerImpl()**
### The code is obsolete

[2020-02-26 11:35] RongtongJin commented on #231
I'm confused because I can compile successfully.

[2020-02-27 03:01] #231 closed

[2020-02-28 09:08] ttpaigesheng opened #232 "how to get message by zhe result of asyncSend"
public class StudentCallBack implements SendCallback {

    @Override
    public void onSuccess(SendResult sendResult) {
            //如何获取发送成功的消息内容，sendResult对象中没有消息内容
    }

    @Override
    public void onException(Throwable throwable) {
          //如何获取发送失败的消息内容
    }
}

[2020-02-28 09:11] #232 closed

[2020-02-29 02:26] yufeng629 opened #233 "when will upgrade to springboot 2.2.x"

[2020-03-02 09:12] RongtongJin opened #234 "Due Diligence for RocketMQ-Spring"
## Due Diligence
RocketMQ-Spring is an important part of rocketmq ecology, which aims to help developers quickly integrate RocketMQ with Spring Boot. In order to better understand the use of the RocketMQ-Spring and continue to optimize it. Here, we sincerely invite you to take a minute to feedback on your usage scenario.

## What we expect from you
Pls. submit a comment in this issue to include th

[2020-03-03 02:38] zhoujianyong commented on #234
* 公司：深圳市维拉科技有限公司
* 地点：深圳
* 联系方式：393399760@qq.com
* 版本： v2.1.0
* 场景与规模：将RocketMQ-Spring用于系统之间的延迟处理，保护核心业务正常流转，同时附加业务一个不能落下

[2020-03-04 15:36] huffmant opened #235 "how do i return ACK_SUCESS to NameServer?"
onMessage is a return void method,how do i return if ack_success or ack_fail to nameServer so it can resend a message?

[2020-03-05 07:24] RongtongJin commented on #235
By default, Consume_Success is returned. If an exception is thrown in onMessage method, RECONSUME_LATER will be returned. So if you want resend a message, just throw exception.

[2020-03-05 07:24] #235 closed

[2020-03-05 15:33] 18513132549 opened #236 "rocketmqTemplate can't set tag"
The issue tracker is **ONLY** used for bug report and feature request.

Any question or RocketMQ proposal please use our [mailing lists](http://rocketmq.apache.org/about/contact/).

**BUG REPORT**

1. Please describe the issue you observed:
MessageBuilder.withPayload(virtualAccountDeposited)
                .setHeader(RocketMQHeaders.TAGS, "tagA")
                .build();
the tagA lost

- What di

[2020-03-05 15:37] 18513132549 opened #237 "two @RocketMQMessageListener can't use the same consumerGroup"
The issue tracker is **ONLY** used for bug report and feature request.

Any question or RocketMQ proposal please use our [mailing lists](http://rocketmq.apache.org/about/contact/).

**BUG REPORT**

1. Please describe the issue you observed:
two @RocketMQMessageListener can't use the same consumerGroup
but I wan't to divide different tag to different RocketMQListener ?
How should I do？
- What did y

[2020-03-06 00:54] RongtongJin commented on #236
Refer to Article 5 of [FAQ](https://github.com/apache/rocketmq-spring/wiki/FAQ).

[2020-03-06 00:54] #236 closed

[2020-03-06 00:59] RongtongJin commented on #237
You can solve this issue by implementing RocketMQPushConsumerLifecycleListener and setting a unique instanceName in prepareStart for RocketMQMessageListener with different consumerGroup。

[2020-03-06 00:59] #237 closed

[2020-03-10 11:10] gagado opened #238 "这个starter可以支持spring的项目吗？ 不是springboot的"
这个starter可以支持spring的项目吗？ 不是springboot的

[2020-03-12 02:12] liuxuzxx commented on #98
我也出现了这个问题，版本是2.1.0.后来看了下application.yml配置为
[code]
看了下RocketMQAutoConfiguration，[笑哭]了，原来配置前缀是prefix="rocketmq"不是prefix="spring.rocketmq"
正确的配置应该是:
[code]

主要是看着datasource,redis,es都是以spring为前缀，也就想当然认为rocketmq也是以spring为大前缀

[2020-03-12 02:29] #98 closed

[2020-03-12 02:32] vongosling commented on #238
spring rocketmq的底层用的是标准spring messaging API within the spring integration framework，其次是封装了boot关于自动化装配的逻辑。再次基础上cloud stream binder项目加了一些stream特有的annotation实现。

[2020-03-12 02:32] #238 closed

[2020-03-12 02:34] vongosling commented on #233
@yufeng629 Would you like to address the enhancement point in 2.2.x and make a pr for this upgrade?

[2020-03-13 08:34] liuxuzxx commented on #173
其实也能动态修改，就是路子有点野，我们就是这么干的，使用如下：
[code]

下面是我的配置类信息:
[code]
application.yml的配置信息:
[code]
如果，用户有很多个RocketMQListener<T>的实现，也就是有多个消费者，也有方案：
[code]

最后总结一句话：spring的bean的生命周期很重要，尤其是spring5又增加了一些生命阶段。还有，只要有反射+字节码技术，基本上没有修改不了的java问题，就是路子有点野.

不过最后还是希望作者能修改下这个consumerThreadMax可以使用SpEL的形式

[2020-03-13 08:48] liuxuzxx commented on #173
不知道作者说的apollo配置是什么，如果超过spring的范围，请忽略我的回答

[2020-03-17 09:11] ghjhf opened #239 "Could not deserialize localdatetime when using jdk8"
![image](https://user-images.githubusercontent.com/17490562/76840739-a27ec980-6872-11ea-98c0-c7e2f8fcad4a.png)
![image](https://user-images.githubusercontent.com/17490562/76840784-b32f3f80-6872-11ea-8a0a-80f1e48f303f.png)
![image](https://user-images.githubusercontent.com/17490562/76840801-bc201100-6872-11ea-90d1-51ebef9dbcc5.png)
![image](https://user-images.githubusercontent.com/17490562/7684081

[2020-03-17 09:47] vongosling commented on #239
Could you add the dependency jackson-datatype-jsr310 in your spring projects?

[2020-03-17 14:34] ghjhf commented on #239
![image](https://user-images.githubusercontent.com/17490562/76866595-5138ff00-689f-11ea-95b9-81a70f2cc537.png)
yes,i find this ObjectMapper dose not contain the JavaTimeModule.

[2020-03-17 14:36] ghjhf commented on #239
i find it contains JavaTimeModule when
![image](https://user-images.githubusercontent.com/17490562/76866893-bb51a400-689f-11ea-9600-06ae5854db22.png)

[2020-03-17 14:39] ghjhf commented on #239
i create a class extends RocketMQMessageConverter named MQMessageConverter,and injecte it to the spring bean like this 。
![image](https://user-images.githubusercontent.com/17490562/76867190-2602df80-68a0-11ea-825c-1b59bed0c9cf.png)
![image](https://user-images.githubusercontent.com/17490562/76867233-36b35580-68a0-11ea-80ea-b3288be05688.png)

[2020-03-18 01:52] RongtongJin commented on #239
Could you submit a PR to slove this issue？

[2020-03-23 05:43] Wilson-He opened #240 "How to control the flow per second?"
I want to control consumption efficiency by configuration file(application.yml) or @RocketMQMessageListener params，such as I want to pull 1000 message per second, but I didn't find corresponding parameter configuration.
Should I custom a DefaultMQPushConsumer and then set "pullThresholdForTopic" and "pullInterval"?

[2020-03-23 06:26] RongtongJin commented on #240
RocketMQ do not provide parameters that directly limit the consumption rate of clients.
But you can set "pullThresholdForTopic" or "pullInterval"  by implementing RocketMQPushConsumerLifecycleListener interface in rocketmq-spring.  You can refer to article 8 of wiki [FAQ](https://github.com/apache/rocketmq-spring/wiki/FAQ).

[2020-03-23 06:26] #240 closed

[2020-03-23 09:37] liuanxin commented on #88
为什么在 2.1.0 里面又删除了呢?

[2020-03-24 09:29] wzqiang1332 opened #241 "The unit of consumeTimeout in RocketMQ-Spring is inconsistent with that of RocketMQ client"
- rocketmq-client:4.6
- rocketmq-spring-boot-starter:2.1.0

配置与rocketmq-client不一致， rocketmq-client里面是以分钟计算

org.apache.rocketmq.spring.annotation.RocketMQMessageListener
[code]

org.apache.rocketmq.client.consumer.DefaultMQPushConsumer
[code]

[2020-03-24 11:48] RongtongJin commented on #241
Could you please submit a PR to slove this issue？

[2020-03-25 08:25] GongZhengMe opened #242 "Timeout param maybe influence the batch consumer Message result"
I write a demo about Batch Message and I think maybe I find a bug about it.
plz see the two demo ,I will show how about that.
There is one consumer demo with two producer demo  ,the difference of producer demo which param is timeout.
[code]
the first producer demo ,the method syncSend without timeout param
[code]
the console print result
[code]
consumer just consume message once and the ten payloa

[2020-03-25 08:39] zmapleshine opened #243 "CODE: 10007 DESC: create reply message fail, requestMessage error, property[CLUSTER] is null."
The issue tracker is **ONLY** used for bug report and feature request.

Any question or RocketMQ proposal please use our [mailing lists](http://rocketmq.apache.org/about/contact/).

**BUG REPORT**

1. Please describe the issue you observed:

- What did you do (The steps to reproduce)?
  download this example and run producer and consumer project.
- What did you expect to see?
   no error
- What di

[2020-03-25 08:56] zmapleshine commented on #243
@RongtongJin

[2020-03-25 15:41] RongtongJin commented on #242
@GongZhengMe Good catch! I found that when there is no timeout parameter, `org.apache.rocketmq.spring.core.RocketMQTemplate#syncSend(java.lang.String, java.lang.Object)` is actually called.  `org.apache.rocketmq.spring.core.RocketMQTemplate#syncSend(java.lang.String, java.util.Collection<T>,)` method is  missing. Could you please submit a PR to complement this method？

[2020-03-25 15:46] RongtongJin commented on #243
Hi, @zmapleshine No such issue in my environment. @xiangwangcheng Could you help verify if there is such issue?

[2020-03-26 02:05] xiangwangcheng commented on #243
OK. I will try it. @zmapleshine @RongtongJin

[2020-03-26 03:08] GongZhengMe commented on #242
I don't have the experience about Pull Request.I will try about it. If I can't fix it , I will tell you after I try my best.

[2020-03-26 04:04] zmapleshine commented on #243
Now I have solved this problem and it has something to do with the cluster environment configuration.

At the beginning, I traced the source code of "rocketmq-client" and found that there was no place to set the property "CLUSTER", it was only set in "rocketmq-all", but the official "rocketmq-spring-boot-starter" did not include this jar .

Because there is no clue, I carefully checked the steps o

[2020-03-26 04:04] #243 closed

[2020-03-26 08:15] GongZhengMe commented on #242
I pull a request https://github.com/apache/rocketmq-spring/pull/244,but  coverage/coveralls doesn't let my method pass .
because I copy the method :
`syncSend(String destination, Collection<T> messages, long timeout) `
the repetition rate is  too high.
So I want to override `syncSend(String destination, Collection<T> messages, long timeout) `
But now I have a problem about it. the timeout param's

[2020-03-31 12:34] quqiangsheng opened #245 "I had the same problem CODE: 10007 DESC: create reply message fail, requestMessage error, property[CLUSTER] is null."
rocketmq-spring-boot-starter.version 2.1.0
force set rocketmq-client  4.7.0
the broker version 4.7.0
when i use
rocketMQTemplate.sendAndReceive()
Break on All Errors

CODE: 10007 DESC: create reply message fail, requestMessage error, property[CLUSTER] is null.
i see  issues #243 but i need broker version 4.7.0 Still let the error be reported  Don't know how to solve it.

[2020-03-31 12:55] quqiangsheng opened #246 "I had the same problem CODE: 10007 DESC: create reply message fail, requestMessage error, property[CLUSTER] is null."
rocketmq-spring-boot-starter.version 2.1.0
force set rocketmq-client  4.7.0
the broker version 4.7.0
when i use
rocketMQTemplate.sendAndReceive()
Break on All Errors

CODE: 10007 DESC: create reply message fail, requestMessage error, property[CLUSTER] is null.
i see  issues #243 but i need broker version 4.7.0 Still let the error be reported  Don't know how to solve it.

[2020-03-31 12:56] #246 closed

[2020-04-01 09:20] #242 closed

[2020-04-01 09:20] RongtongJin commented on #241
I will fix it.

[2020-04-01 15:39] 6westboy9 commented on #217
解决问题了吗？没有看到有相应的答复就给关了

[2020-04-03 10:23] gagado opened #248 "Rocketmq-spring can support Multi Environment isolate？"
**FEATURE REQUEST**

The Rocketmq-spring have a feature like rabbitmq virtual host，can isolate the beta Environment. for example, betaa, betab.... every  Environment  have not relation.

thanks.

[2020-04-03 12:48] RongtongJin commented on #245
The isssue has been sloved in this [PR](https://github.com/apache/rocketmq/pull/1902).

[2020-04-03 12:48] #245 closed

[2020-04-03 12:52] #241 closed

[2020-04-03 13:21] duhenglucky opened #249 "Due Diligence for RocketMQ Request-Reply"
## Due Diligence

RocketMQ Request-Reply is an important part of rocketmq ecology, which aims to help developers quickly build micro-service based on RocketMQ. In order to better understand the use of the RocketMQ Request-Reply and continue to optimize it. Here, we sincerely invite you to take a minute to feedback on your usage scenario.

## What we expect from you
Pls. submit a comment in this is

[2020-04-03 14:24] qqeasonchen commented on #249
* 公司：国内某银行
* 地点：深圳
* 联系方式：qqeasonchen@apache.com
* 版本：v4.6.0(rocketmq)
* 场景与规模：将RocketMQ Request Reply用于微服务构建，跨网段调用等核心场景。
* 期望（可选）：希望能将这个特性集成到Dubbo中，将消息服务化

[2020-04-03 16:03] RongtongJin commented on #245
Hi @quqiangsheng It would be helpful if you can take a moment to fill in the due diligence for RocketMQ request-reply.

[2020-04-03 16:04] RongtongJin commented on #243
Hi @zmapleshine It would be helpful if you can take a moment to fill in the due diligence for RocketMQ request-reply.

[2020-04-07 02:42] RongtongJin commented on #248
Hi @gagado, RocketMQ currently does not support virtual host like RabbitMQ.

[2020-04-07 02:42] #248 closed

[2020-04-07 07:23] 2259289435 commented on #249
公司：物流公司
地点：长沙
联系方式：2259289435@qq.com
版本：v4.6.0
场景与规模：将RocketMQ Request Reply用于微服务构建，跨网段调用等核心场景。
* 期望（可选）：
1.消费端没有启动，发送消息的时候可选支持是直接报错还是等待超时
2.处理时可以针对不同的tag使用不同的线程池

[2020-04-16 03:16] ifplusor commented on #249
* 公司：北京智慧星光信息技术有限公司
* 地点：中国北京
* 联系方式：ywhjames@hotmail.com
* 版本：v4.6.0(rocketmq) or re_dev(rocketmq-client-cpp)
* 场景与规模：用于计算服务调用，方便资源伸缩与管理。

[2020-04-16 10:39] kider opened #251 "@ExtRocketMQTemplateConfiguration(value="xxxx") exception"
rocketmq-spring-boot-starter-version:2.1.0

use:
@ExtRocketMQTemplateConfiguration(value='xxx')

@Resource(name = "xxx")
 private RocketMQTemplate extRocketMQTemplate;

it always throws 'Bean {} has been used in Spring Application Context, " +
                    "please check the @ExtRocketMQTemplateConfiguration' exception， only if not set value

[2020-04-20 12:18] RongtongJin commented on #251
@kider It seems that the bean with the name 'xxx' already exists, you can change the name.

[2020-04-21 02:11] sundylgz opened #252 "rocketmq4.7 client"
When to adapt rocketmq4.7

[2020-04-21 04:33] gagado opened #253 "@RocketMQTransactionListener can definition multiple implement class？"
In my project, have multiple transaction message.
so, i definition multiple RocketMQLocalTransactionListener implement class;
one:

@Component
@RocketMQTransactionListener
public class OneMesssageListener implements RocketMQLocalTransactionListener {

@Override
    public RocketMQLocalTransactionState executeLocalTransaction(Message msg, Object arg) {
}
}

two:

@Component
@RocketMQTransactionList

[2020-04-21 05:54] RongtongJin commented on #252
New rocketmq-spring version release.

[2020-04-21 05:54] #252 closed

[2020-04-21 05:54] #251 closed

[2020-04-21 05:58] RongtongJin commented on #253
You can use ExtRocketMQTemplate and specify the bean name in RocketMQTransactionListener annotation.
You can refer to
https://github.com/apache/rocketmq-spring/blob/1464698a8b03d5700d41efe9258c33acf14b8e81/rocketmq-spring-boot-samples/rocketmq-produce-demo/src/main/java/org/apache/rocketmq/samples/springboot/ProducerApplication.java#L277-L291

[2020-04-21 05:58] #253 closed

[2020-04-21 06:07] kider commented on #251
it does't work to change the name . i found the same bean is himself when i debug

[2020-04-21 06:14] gagado commented on #253
@RongtongJin Thanks your answer, But in my project, only one RocketMQTemplate is defined and only one data source is used. ExtRocketMQTemplate should represent the situation of multiple data sources. When I use multiple rocketmq clusters in a project, it is my understanding. is it wrong? Thank you.

[2020-04-21 12:02] ifplusor commented on #173
建议添加暴露Consumer对象的机制，可以是注入到listener中。现在获取DefaultRocketMQListenerContainer对象实在太麻烦了。

[2020-04-23 07:58] naah69 opened #254 "error when same consumer group subscribe multi topics"
**BUG REPORT**

1. Please describe the issue you observed:

in one application,i use same consumer group subscribe multi topics,then application can't run with the info .
[code]
### code

![image](https://user-images.githubusercontent.com/25682169/80073702-ba84ef80-857a-11ea-86d8-10c3e6f69231.png)

![image](https://user-images.githubusercontent.com/25682169/80073726-c1136700-857a-11ea-8984-c770813

[2020-04-24 01:55] RongtongJin commented on #254
Hi @naah69 Plz refer to Article 3 of the [wiki FAQ](
https://github.com/apache/rocketmq-spring/wiki/%E5%B8%B8%E8%A7%81%E9%97%AE%E9%A2%98). if you must do it, you can set different instance name for consumer in prepareStart method.

[2020-04-24 01:55] #254 closed

[2020-04-24 06:05] SmileTower commented on #184
why close this issues，This is big bug

[2020-04-25 16:43] liuliuzo opened #255 "Need support native rocketmq client spring bean"
有些third part的SDK集成了原生的DefaultMQProducer spring bean直接引入他们的sdk之后会和rocketmq-spring冲突。

[2020-04-25 16:50] liuliuzo commented on #255
让third part解决。。

[2020-04-25 16:50] #255 closed

[2020-04-29 03:31] zhuyaoming commented on #173
这个方法不错,就像源码中的ListenerContainerConfiguration 托管了所有RocketMQMessageListener,但是感觉还是应该在RocketMQMessageListener 将参数可配置

[2020-05-04 08:50] liuliuzo commented on #219
@RongtongJin consumer倒是可以prepareStart(),Producer same nameserver limitation虽然去除了但是还是希望能够增加一个enable TLS的选项。

[2020-05-09 05:06] RongtongJin commented on #219
@liuliuzo You can submit a pr to slove it,  I can help review  and merge.

[2020-05-14 02:54] Ryutaku commented on #246
I have the same problem.  How did you finally solve the problem?

[2020-05-14 11:37] RongtongJin commented on #246
This [bug](https://github.com/apache/rocketmq/issues/1901) had been fixed.  And it will be released in next version.

[2020-05-17 10:42] chenxubiao commented on #151
请问现在支持这种继承写法吗

AbstractRocketMQListener<T> implement  RocketMQListener<T>

MyMsgListener extend AbstractRocketMQListener<Msg>

[2020-05-19 07:48] Alvinnlee opened #256 "Sendandreceive method error"
version：2.1.0
springboot: 2.1.6.RELEASE

org.apache.rocketmq.client.exception.RequestTimeoutException: CODE: 10006  DESC: send request message to <string-topic> OK, but wait reply message timeout, 10000 ms.

But the news can be consumed, just reported as wrong

[2020-05-19 08:38] lsw1990 opened #257 "When will the new version be released？"
1.目前能完全兼容支持4.7.0版本？
2.目前GA版本遇到 CODE: 10007 DESC: create reply message fail, requestMessage error, property[CLUSTER] is null.

[2020-05-20 07:53] leyan95 opened #258 "org.apache.rocketmq.client.exception.MQClientException: CODE: 10007 DESC: create reply message fail, requestMessage error, property[CLUSTER] is null."
Hi
    When the call method `rocketMRTemplate.sendAndReceive()`, console throw an exception:
[code]

[code]

[2020-05-20 08:11] leyan95 commented on #258
After I changed the dependency version of `rocketmq-client`  to 4.7.0:
[code]

[2020-05-20 08:18] #258 closed

[2020-05-21 11:59] RongtongJin commented on #257
The new version will be released ASAP.

[2020-05-21 11:59] #257 closed

[2020-05-23 03:43] githubzsy opened #259 "Does version 2.1.0 support spring-boot 2.2.6 or two consumers in one consumerGroup?"
The issue tracker is **ONLY** used for bug report and feature request.

Any question or RocketMQ proposal please use our [mailing lists](http://rocketmq.apache.org/about/contact/).

**BUG REPORT**

1. Please describe the issue you observed:

- What did you do (The steps to reproduce)?

my spring-boot version is 2.2.6
dependency : rocketmq-spring-boot-starter
two consumers in one consumerGroup
vers

[2020-05-25 07:20] RongtongJin commented on #259
Hi @githubzsy , plz refer to Article 3 of the [wiki FAQ](https://github.com/apache/rocketmq-spring/wiki/%E5%B8%B8%E8%A7%81%E9%97%AE%E9%A2%98). if you must do it, you can set different instance name for consumer in prepareStart method.

[2020-05-25 07:59] githubzsy commented on #259
@RongtongJin  谢谢，设置instanceName后不报错了。

[2020-05-25 07:59] #259 closed

[2020-05-25 09:53] newweapon opened #260 "Wiki needs update due to the change of sendMessageInTransaction()"
Since the transactional message method has been changed t:
[code]

The wiki should also be updated on [https://github.com/apache/rocketmq-spring/wiki/Transactional-Message](https://github.com/apache/rocketmq-spring/wiki/Transactional-Message). It would be nice if a more detailed example can be given.

[2020-05-25 11:22] RongtongJin commented on #260
Good catch! I have modified it.

[2020-05-26 01:31] #260 closed

[2020-05-27 09:11] zongtanghu opened #261 "Support LitePullMessage and commit ack in RocketMQ-Spring"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.

Now, in rocketmq-spring project, it dosen't support  LitePullMessage and commit ack.But some business system wants to use this feature in rocketmq-spring,

2. Provide any additional detail on your proposed use case for this feature.
So, we can support this feature in rocketmq-spring.

3. Indicate the importance of this issue

[2020-05-27 09:41] zongtanghu commented on #261
It's yours.@shendongsd

[2020-06-04 01:59] zhangjidi2016 opened #262 "Sending messages asynchronously use a custom AsyncSenderExecutor in RocketMQTemplate"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.
The number of threads in DefaultMQProducerImpl/defaultAsyncSenderExecutor can be dynamically configured？
2. Provide any additional detail on your proposed use case for this feature.
![image](https://user-images.githubusercontent.com/18254437/83706449-0fbc2280-a64a-11ea-9ea4-540d2bfa0117.png)
3. Indicate the importance of this

[2020-06-04 02:11] zongtanghu commented on #262
In current rocketmq-spring client, users can't set the defaultAsyncSenderExecutor  threadpool size.So can we expose a method to set this thread pool size.

[2020-06-05 05:44] zongtanghu opened #263 "Change the verions of rocketmq's client in the pom's file."
FEATURE REQUEST

Please describe the feature you are requesting.
(1)The version of rocketmq's client which is in the rocketmq-spring's pom file, is not latest version.So, it needs to be changed to 4.7.0;

Provide any additional detail on your proposed use case for this feature.
(1),So, we can change the verions of rocketmq's client.

Indicate the importance of this issue to you (blocker, must-have

[2020-06-05 05:45] zongtanghu commented on #263
@zhangjidi2016 , this issue is assiged to me.

[2020-06-05 09:22] #263 closed

[2020-06-09 02:11] inotgaoshou opened #267 "如何连接阿里云的rocketmq产品"
1.支持使用阿里云的rocketmq产品吗？name-server 是http协议 tpc协议。
https://help.aliyun.com/document_detail/44711.html?spm=a2c4g.11186623.6.589.7ba5626506tfJl

[2020-06-09 06:53] inotgaoshou commented on #267
已解决。

[2020-06-09 06:53] #267 closed

[2020-06-10 03:04] vongosling commented on #267
@inotgaoshou 可以分享下你的经验，方便后续类似问题的同学少走弯路：-）

[2020-06-10 08:07] #262 closed

[2020-06-15 07:07] henrypoter opened #268 "RocketMQMessageListener nameServer not work"
1. Please describe the issue you observed:

  I have a webapp,  there are two consumers which connect to two rocketmq clusters.
  Each of the consumer have different nameserver, topics and consumer group names.
  As belows:
`@RocketMQMessageListener( nameServer = "${uat.rocketmq.nameServer}",
        topic = "uat-topic",
        consumerGroup = "demo-consumer-group-uat")

@RocketMQMessageListener(

[2020-06-15 08:40] RongtongJin commented on #268
It is indeed a bug. If we do not set different instanceName for consumer in same process, the same MQClientInstance will be used by the consumer, causing the nameserver address to be overwritten.  If you have any workaround, it is welcomed to submit a pull request to solve it.

[2020-06-17 09:36] diwayou commented on #253
same problem, this is caused by rocketmq new client, merge local transaction execute and check listener, but it make code too difficult, i like the old callback way, how to solve this problem, i think you can route the message by type/key or else in the RocketMQLocalTransactionListener implementation, any one have a better solution?

[2020-06-24 03:34] zongtanghu commented on #268
Has anyone fixed this bug? @RongtongJin

[2020-06-24 07:18] RongtongJin commented on #268
Not yet, PR is welcomed  to fix this issue.

[2020-06-24 08:00] zongtanghu commented on #268
Can you help to fix this issue and put forward a pr? @zhangjidi2016

[2020-06-24 10:09] zhangjidi2016 commented on #268
OK，this issue can assign to me.

[2020-06-24 14:46] zongtanghu commented on #268
It's yours.And this issue may be difficult to reproducer in test enviroment, you can ask @RongtongJin  for some of its details. @zhangjidi2016

[2020-06-28 01:57] l1l31 opened #271 "Annotation ExtRocketMQTemplateConfiguration bug."
1. Please describe the issue you observed:

I used the annotation ExtRocketMQTemplateConfiguration to customize the RocketMQTemplate. When I use the RocketMQTemplate to connect Alibaba Cloud's RocketMQ service, it report an authentication failure error.

2. Please tell us about your environment:

rocketmq-spring 2.1.0

3. Other information (e.g. detailed explanation, logs, related issues, suggesti

[2020-06-28 09:09] #271 closed

[2020-07-02 07:54] KindHunter opened #274 "FilterMessageHook"
The issue tracker is **ONLY** used for bug report and feature request.

Any question or RocketMQ proposal please use our [mailing lists](http://rocketmq.apache.org/about/contact/).

**BUG REPORT**

1. Please describe the issue you observed:

- What did you do (The steps to reproduce)?

- What did you expect to see?

- What did you see instead?

2. Please tell us about your environment:

3. Other i

[2020-07-02 07:56] #274 closed

[2020-07-07 12:48] 654894017 opened #276 "@RocketMQMessageListener support to the class method level"
@RocketMQMessageListener support to the class method level

[2020-07-11 14:24] crazylunsong opened #277 "如何使用@RocketMQMessageListener 注解订阅多个topic"

[2020-07-11 14:25] #277 closed

[2020-07-11 14:52] crazylunsong opened #278 "@RocketMQMessageListener How to subscribe to multiple topics"
请问一个@RocketMQMessageListener 如何订阅多个topic呢？查看example和源码均没看见注释，版本为2.1.0

[2020-07-11 15:34] #278 closed

[2020-07-11 15:35] crazylunsong commented on #278
找到了方法 为prepareStart 中设置

[2020-07-11 16:23] crazylunsong opened #279 "About one consumer subscribe one or more topic and group relation"
你好：
我在FAQ中看到 【RocketMQ在设计时就不希望一个消费者同时处理多个类型的消息，因此同一个consumerGroup下的consumer职责应该是一样的，不要干不同的事情（即消费多个topic）。建议consumerGroup与topic一一对应。】这样一段话，意思就是说最好一个topic与一个group进行对应。但是为什么阿里云收费的ONS-client jar 中提供的api 却如下所示：

`
@Override
    public void subscribe(String topic, String subExpression, MessageListener listener) {
        if (null == topic) {
            throw new ONSClientException("topic is null");

[2020-07-16 12:19] RongtongJin commented on #279
The logic of ons-client may be different from RocketMQ-Spring, if you are using RocketMQ-Spring, please refer to RocketMQ-Spring wiki.

[2020-07-16 12:19] #279 closed

[2020-07-16 12:21] RongtongJin commented on #276
Plz describe in more detail the issue you encountered or the feature you want to achieve.

[2020-07-16 14:16] #249 closed

[2020-07-16 14:16] #239 closed

[2020-07-16 14:17] RongtongJin commented on #256
It has been fixed.

[2020-07-16 14:17] #256 closed

[2020-07-16 14:19] RongtongJin commented on #233
I will close the Issue first, but please feel free to reopen it if you have any other issues.

[2020-07-16 14:19] #233 closed

[2020-07-16 14:20] RongtongJin commented on #173
I will close the Issue first, but please feel free to reopen it if you have any other issues.

[2020-07-16 14:20] #173 closed

[2020-07-16 14:20] RongtongJin commented on #276
I will close the Issue first, but please feel free to reopen it if you have any other issues.

[2020-07-16 14:20] #276 closed

[2020-07-17 09:05] iapplejohn opened #280 "Support SpringBoot 1"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.
    rocketmq-spring project doesn't support SpringBoot 1 (Spring 4), but most of applications in my corporation are based on SpringBoot 1.

2. Provide any additional detail on your proposed use case for this feature.
    We could support SpringBoot 1.

3. Indicate the importance of this issue to you (blocker, must-have, should

[2020-07-17 11:26] RongtongJin opened #282 "Upgrade RocketMQ version to 4.7.1"
The issue tracker is **ONLY** used for bug report and feature request.

Any question or RocketMQ proposal please use our [mailing lists](http://rocketmq.apache.org/about/contact/).

**FEATURE REQUEST**

1. Please describe the feature you are requesting.

Upgrade RocketMQ version to 4.7.1

2. Provide any additional detail on your proposed use case for this feature.

3. Indicate the importance of th

[2020-07-18 01:54] #282 closed

[2020-07-18 02:10] RongtongJin commented on #280
Since SpringBoot 1 will no longer be maintained later, RocketMQ-Spring has no plan to support SpringBoot 1.

[2020-07-18 02:10] #280 closed

[2020-07-18 12:02] iapplejohn commented on #280
From my perspective, there are plenty of applications running with SpringBoot 1, since rocketmq supports JDK 6, it is not ok to support SpringBoot 1 (Spring 4) ?

[2020-07-21 03:08] iapplejohn opened #285 "Serialization vulnerability of fastjson / jackson"
**BUG REPORT**

1. Please describe the issue you observed:

- What did you do (The steps to reproduce)?
   Utilize the specific payload

- What did you expect to see?
   The payload would be deserialized to normal objects

- What did you see instead?
   Special objects are instantiated which could lead to danger towards  the servers

2. Please tell us about your environment:
    rocketmq starter:

[2020-07-21 03:19] #285 closed

[2020-07-28 18:31] ShenFeng312 opened #286 "cloud not found PostConstruct in rocketmq-spring-boot"
I clone the project from https://github.com/apache/rocketmq-spring.git and run mvn clean install. but it cloud not found PostConstruct in rocketmq-spring-boot. I can fix it by add the dependency.but I think it's not right way to fix it. What is the right way to fix this problem.

[2020-07-28 18:43] ShenFeng312 commented on #286
I can run mvn clean install in rocketmq-spring-boot-starter success! but idea will show the  error when I coding

[2020-07-29 02:44] ShenFeng312 commented on #286
I  run it on another computer successful

[2020-07-29 03:44] ShenFeng312 commented on #286
it seems openjdk13 dont have this class

[2020-07-29 03:46] ShenFeng312 commented on #286
Openjdk13 does not have this class

[2020-07-29 03:51] #286 closed

[2020-08-03 01:37] UPC-FUZI opened #287 "Max consumer timeout(consumeTimeout) in the class of RocketMQMessageListener is incorrect"
**[definition]** RocketMQMessageListener.class
`
// Max consumer timeout, default 30s.

long consumeTimeout() default 30000L;
`

**[invoking]** ConsumeMessageConcurrentlyService.class
`
defaultMQPushConsumer.getConsumeTimeout() * 60 * 1000
`

[2020-08-04 03:11] RongtongJin commented on #287
Which version are you using? If I remember correctly this problem should have been fixed.

[2020-08-04 03:54] ShenFeng312 opened #288 "Is it necessary to check onMessage method‘s parameterType during DefaultRocketMQListenerContainer#getMethodParameter"
code:
[code]
but `RocketMQListener.class.isAssignableFrom(bean.getClass())`or`RocketMQReplyListener.class.isAssignableFrom(bean.getClass())`  had  checked it before

[2020-08-04 06:13] #288 closed

[2020-08-04 09:21] RongtongJin commented on #287
I will close the Issue first, but please feel free to reopen it if you have any other issues.

[2020-08-04 09:21] #287 closed

[2020-08-12 01:58] RongtongJin opened #289 "Use default instance name when using ACL"
The issue tracker is **ONLY** used for bug report and feature request.

Any question or RocketMQ proposal please use our [mailing lists](http://rocketmq.apache.org/about/contact/).

Use default instance name when using ACL

[2020-08-12 02:22] #289 closed

[2020-08-12 09:44] troubleshooting1 commented on #249
公司：个人
地点：杭州
联系方式：867904553@qq.com
版本：v4.4.0
场景与规模：个人学习使用
期望：希望后续版本能在消费端增加批量消费支持

[2020-08-14 09:22] ypcfly opened #291 "how can i set reconsumeTimes on consumer when i use the @RocketMQMessageListener"
I just modify the default to a littel num

[2020-08-26 02:47] tanaduus opened #292 "Multiple @RocketMQTransactionListener tx-msg"
How could i register more than one transactionListener.
Can MqTemplate identify multi transactionListener?

[2020-08-28 05:47] MAXAmbitious commented on #291
same questions, maybe you can refer to [](https://github.com/javahongxi/whatsmars/tree/master/whatsmars-mq/rocketmq-spring-boot-starter)

[2020-08-28 05:48] MAXAmbitious commented on #291
same questions, maybe you can refer to [set reconsumeTimes](https://github.com/javahongxi/whatsmars/tree/master/whatsmars-mq/rocketmq-spring-boot-starter)

[2020-08-28 07:38] RongtongJin commented on #292
One MQTemplate corresponds to one transactionListener. You can use ExtRocketMQTemplate and use the @RocketMQTransactionListener annotation to specify the corresponding template.

[2020-08-28 07:38] #292 closed

[2020-08-28 07:41] RongtongJin commented on #291
You can refer to Article 8 of the [wiki](https://github.com/apache/rocketmq-spring/wiki/%E5%B8%B8%E8%A7%81%E9%97%AE%E9%A2%98).

[2020-08-28 07:41] #291 closed

[2020-09-01 09:49] liuliuzo opened #293 "support Native Listener"
是这样的，我们这边需要支持原生Listener的使用方式自己控制ConsumeConcurrentlyStatus。
目前做法是优化了下加载并且在Lifecycle set自己的Listener希望这边有更优雅的方式。

[code]
[code]

[2020-09-02 08:45] cj-8480 opened #294 "GetAndWrapmessage method in rocketmqUtil is missing prefix when getting keys"
以master分支代码为例
1、先使用下图方法进行 Message 转换时 加上了前缀
![image](https://user-images.githubusercontent.com/33209018/91959165-dbd0c600-ed3a-11ea-9190-f3bc2a15f62a.png)
     toRocketHeaderKey方法，如下图
![image](https://user-images.githubusercontent.com/33209018/91959307-03c02980-ed3b-11ea-88a8-dfbffb090aac.png)

2、RocketMQTemplate.send 方法 传入SpringMessage 后，工具类会调用下图方法进行message转换
![image](https://user-images.githubus

[2020-09-04 08:19] RongtongJin commented on #293
Hi @liuliuzo Rocketmq spring community currently has no such plan to support native Listener. I will close the Issue first, but please feel free to reopen it if you have any other issues.

[2020-09-04 08:19] #293 closed

[2020-09-04 08:21] RongtongJin commented on #294
@cj-8480 Could you help fix the issue and verify it with UT ?

[2020-09-05 08:04] liuliuzo commented on #291
是这样的我感觉和#293的需求差不多，应该是指ConsumeConcurrentlyContext 的delayLevelWhenNextConsume(times); 这个参数。我们这里也有自己控制commit的重试次数的需求。

DefaultRocketMQListenerContainer.java 中的delayLevelWhenNextConsume和suspendCurrentQueueTimeMillis这两个参数能开放出来吗？

[2020-09-05 08:06] liuliuzo commented on #293
是这样的我感觉和#291的需求差不多，应该是指ConsumeConcurrentlyContext 的delayLevelWhenNextConsume(times); 这个参数。我们这里也有自己控制commit的重试和次数的需求。

DefaultRocketMQListenerContainer.java 中的delayLevelWhenNextConsume和suspendCurrentQueueTimeMillis这两个参数能开放出来配置吗？

[2020-09-06 07:14] liuliuzo opened #295 "support configable rocketmq client log for sl4j"
目前开启和关闭rocketmqclient日志需要使用system property功能，能否通过配置支持sl4j日志？

//关闭默认的rocketmq客户端日志
System.getProperty("rocketmq.client.log.loadconfig", "false");
//启用Slf4j日志
System.setProperty("rocketmq.client.logUseSlf4j","true");

[2020-09-07 04:04] cj-8480 commented on #294
直接添加前缀会影响到其他类的使用的。
我在自己补充了下面的方法，先行解决了
<pre><code>
private Message<?> convertToSpringMessage(org.apache.rocketmq.common.message.Message message) {
	Message<?> convertToSpringMessage = RocketMQUtil.convertToSpringMessage(message);
	// 转换Message补充KEYS参数，解决KEYS空BUG
	// --- start ---
	Message<?> targetMessage = null;
	if (convertToSpringMessage instanceof GenericMessage) {
		GenericMessage<?> sourceMes

[2020-09-07 04:07] cj-8480 commented on #294
@RongtongJin
直接补充前缀应该会影响到其他正在使用的。
我在自己程序里面增加下面这个方法暂时先解决了。
<pre><code>
private Message<?> convertToSpringMessage(org.apache.rocketmq.common.message.Message message) {
	Message<?> convertToSpringMessage = RocketMQUtil.convertToSpringMessage(message);
	// 转换Message补充KEYS参数，解决KEYS空问题
	// --- start ---
	Message<?> targetMessage = null;
	if (convertToSpringMessage instanceof GenericMessage) {
		GenericM

[2020-09-07 09:43] cj-8480 commented on #294
@RongtongJin 我这边应该没有提交权限的
我改的话，对应方法改改后如下：
[code]

修改内容就其中中文标注的部分。
补充了一段，当原本逻辑获取不到keys的结果，重新按照带前缀的参数获取一次。
这样能够兼容原本的，而且keys参数能够正常获取。

[2020-09-09 17:11] #295 closed

[2020-09-15 06:30] RongtongJin commented on #294
我认为你的代码是ok，你可以提交一个pull request，我可以帮你review以及合并

[2020-09-16 09:16] cj-8480 commented on #294
@RongtongJin OK,已经提交pull request

[2020-09-17 06:07] #294 closed

[2020-09-20 13:29] 879913935 opened #297 "RocketMQTransactionAnnotationProcessor依赖关系引起大量的 "is not eligible" 警告日志"
引入rocketmq-spring-boot后，由于RocketMQAutoConfiguration里的注册了一个BeanPostProcessor

因为：
RocketMQTransactionAnnotationProcessor -> TransactionHandlerRegistry -> RocketMQTemplate

然后：
RocketMQTemplate -> DefaultMQProducer -> RocketMQProperties
RocketMQTemplate -> ObjectMapper

这种写法导致大量BeanPostProcessorChecker警告日志，这个日志本身不一定会实际影响功能性，但是毕竟这个会让使用者产生困惑，以及有可能引起一连串的Bean过早初始化产生一些bug，希望能通过注入ApplicationContext获取避开这个问

[2020-09-26 06:59] liuliuzo commented on #219
由于暂时没想到更优雅的方式，先把问题关闭先，目前项目里先暂时这么用着，尴尬。

[2020-09-27 16:15] zsq471214943 commented on #258
how it works,i had the same problem

[2020-09-28 01:53] sunjianlin12345 opened #298 "Too many warning info when consuming failed."
当网络或其它异常情况时，mq重试16次，且当MessageExt中的body消息信息内容较大时，下述2个位置的代码打印了大量的日志：

`org.apache.rocketmq.spring.support.DefaultRocketMQListenerContainer.DefaultMessageListenerConcurrently#consumeMessage`

`org.apache.rocketmq.spring.support.DefaultRocketMQListenerContainer.DefaultMessageListenerOrderly#consumeMessage`

这段代码打印了大量日志，导致日志文件特别大，希望这个能优化下：
`log.warn("consume message failed. messageExt:{}", messageExt,

[2020-09-28 08:54] vongosling commented on #297
@879913935 Could you help to fix and deprecate this info? I am willing to follow your pr.

[2020-09-28 09:44] RongtongJin commented on #298
I think this log is necessary to help track consume failed messages. The problem is mainly caused by the large message body. So could you submit a PR to print the important information of messages but not print the body? I am willing to follow the pr.

[2020-10-10 09:42] uyoaix commented on #297
我也是在奇怪项目启动的时候一大堆 Not eligible for auto-proxying info 日志，就是不知道什么引起的，找了好久呢
原来是RocketMq引起的

[2020-10-10 14:05] RongtongJin commented on #297
@uyoaix Could you help to fix and deprecate this info?

[2020-10-14 08:40] idealiezed opened #299 "RocketMQAutoConfiguration @ConditionalOnProperty 为什么设置为true"
RocketMQAutoConfiguration @ConditionalOnProperty(prefix = "rocketmq", value = {"name-server"}, matchIfMissing = true)

matchIfMissing的值为什么是true，true的话@ConditionalOnProperty似乎没有作用了。
能否改为false呢，因为有时本地是不能连MQ服务器的

[2020-10-26 08:50] wdreamsky opened #300 "create reply message fail, requestMessage error, property[CLUSTER] is null."
org.apache.rocketmq.client.exception.MQClientException: CODE: 10007  DESC: create reply message fail, requestMessage error, property[CLUSTER] is null.
For more information, please visit the url, http://rocketmq.apache.org/docs/faq/
	at org.apache.rocketmq.client.utils.MessageUtil.createReplyMessage(MessageUtil.java:46)
	at com.kangma.mq.support.DefaultRocketMQListenerContainer.handleMessage(Defaul

[2020-10-26 09:20] RongtongJin commented on #300
The isssue has been sloved in this [PR](https://github.com/apache/rocketmq/pull/1902). Plz upgrade your rocketmq broker version to 4.7.1.

[2020-10-26 09:20] #300 closed

[2020-10-27 12:46] #298 closed

[2020-10-28 01:49] RongtongJin commented on #268
Fix it.

[2020-10-28 01:49] #268 closed

[2020-11-06 06:56] heihaozi opened #304 "Enumeration and number matching errors."
Enumeration and number matching errors in ProducerApplication.TransactionListenerImpl#checkLocalTransaction.

[2020-11-10 23:53] #304 closed

[2020-11-13 05:49] finnlee87 commented on #299
是否可以使用@EnableAufoConfiguration的execlude属性呢？

[2020-11-13 05:56] finnlee87 opened #305 "Support change consumer rebalance strategy"
**FEATURE REQUEST**

Could this starter support change consumer rebalance strategy? As needed, we amend the code to use 'AllocateMessageQueueAverageLyByCircle'

[2020-11-13 06:32] heihaozi opened #306 "Support LitePullMessage in RocketMQ-Spring"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.

Now, in rocketmq-spring project, it dosen't support LitePullMessage.But some business system wants to use this feature in rocketmq-spring.

2. Provide any additional detail on your proposed use case for this feature.

So, we can support this feature in rocketmq-spring.

3. Indicate the importance of this issue to you (blocker

[2020-11-17 03:03] heihaozi opened #308 "A comment error is in ACLStringConsumer class."
**BUG REPORT**

1. Please describe the issue you observed:

A comment error is in ACLStringConsumer class.

2. Please tell us about your environment:

3. Other information (e.g. detailed explanation, logs, related issues, suggestions how to fix, etc):

[2020-11-17 08:10] #308 closed

[2020-11-19 02:00] sqlixin opened #310 "Sendandreceive Timeout"
env:
  rocketmq-version:2.1.0
  springboot-version: 2.1.17.RELEASE
exception:
  CODE: 10006  DESC: send request message to <simpleStringRequestTopic> OK, but wait reply message timeout, 5000 ms.

[2020-11-19 02:05] sqlixin commented on #310
I change rocketmq to 2.1.1,but it‘s sitll wrong

[2020-11-19 07:02] idealiezed commented on #299
不行，因为我是本地环境不能连，其他环境连，EnableAufoConfiguration排除无法区分环境；
或者能否加个disabled配置呢，例如@ConditionalOnProperty(prefix = "rocketmq", value = “disabled”, matchIfMissing = true)

[2020-11-19 07:51] allankin opened #311 "Create reply message fail because property[CLUSTER] is null"
my pom contains :

	<dependency>
		<groupId>org.apache.rocketmq</groupId>
		<artifactId>rocketmq-spring-boot-starter</artifactId>
		<version>2.1.1</version>
	</dependency>

pls tell me how can I fix this problem .... thanks very much !!!

error log:

ReplyMessageConsumer message: hello-1605766759845
2020-11-19 14:26:13.407 WARN 20320 --- [essageThread_15] a.r.s.s.DefaultRocketMQListenerContainer :

[2020-11-19 09:31] sqlixin commented on #310
I update rocketmq broker to 4.7.1 solved this problem

[2020-11-19 09:31] #310 closed

[2020-11-19 09:32] sqlixin commented on #311
update broker to 4.7.1 can help you

[2020-11-19 10:03] zhsx opened #312 "The consumer failed to consume without retrying"
The issue tracker is **ONLY** used for bug report and feature request.

Any question or RocketMQ proposal please use our [mailing lists](http://rocketmq.apache.org/about/contact/).

**BUG REPORT**

1. Please describe the issue you observed:

- What did you do (The steps to reproduce)?

- What did you expect to see?

- What did you see instead?

2. Please tell us about your environment:

3. Other i

[2020-11-19 12:46] allankin commented on #311
Hi, thansk for your suggestion.   I will try tommow!

[2020-11-20 05:31] wdreamsky commented on #311
Still not solved

[2020-11-20 07:32] RongtongJin commented on #312
Has the issue been solved?

[2020-11-20 07:32] RongtongJin commented on #311
Has the issue been solved?

[2020-11-20 07:54] RongtongJin commented on #312
什么类型的消息？是没有发到重试队列吗？

[2020-11-20 09:01] #312 closed

[2020-11-21 04:31] wdreamsky commented on #311
升级到4.7.1，也没解决

Upgrade to 4.7.1, but it's not solved

[2020-11-21 07:37] wdreamsky commented on #300
![image](https://user-images.githubusercontent.com/7259609/99870608-78568600-2c0f-11eb-9a50-1bc4d26ab72a.png)

[2020-11-24 08:13] liuliuzo opened #313 "Security requirement and less logs"
是这样的，我们有一些安全规范，message不能直接打印在日志里，加密打印会有额外的开销和功能，想能不能直接失败后的异常能够不打印message。

for our security requirement application can‘t logging the message because message contain sensitive data.
can we fix  log.error("syncSend failed. destination:{}, **message:{}** ", destination, **message**); when catch Exception ?

[code]

[2020-11-25 05:23] allankin commented on #311
Yes , broker upgrade to 4.7.1   problem disappear

[2020-11-25 05:26] allankin commented on #311
upgrade to

[2020-11-25 05:26] #311 closed

[2020-11-25 06:41] WreathCrystal opened #314 "The versions in samples are not same"
The issue tracker is **ONLY** used for bug report and feature request.

Any question or RocketMQ proposal please use our [mailing lists](http://rocketmq.apache.org/about/contact/).

**BUG REPORT**

1. Please describe the issue you observed:

- What did you do (The steps to reproduce)?
    I want to compile the samples project.

- What did you expect to see?
   I expected no errors occur.

- What d

[2020-11-25 07:14] RongtongJin commented on #314
Good catch！Could you submit a pull request to fix the issue?

[2020-11-25 07:17] WreathCrystal opened #315 "org.apache.rocketmq.common.message.Message.body=“ok”, then changed to b2s=, why?"
The issue tracker is **ONLY** used for bug report and feature request.

Any question or RocketMQ proposal please use our [mailing lists](http://rocketmq.apache.org/about/contact/).

**BUG REPORT**

1. Please describe the issue you observed:

- What did you do (The steps to reproduce)?
   1)  org.apache.rocketmq.common.message.Message m = new Message()
   2)  m.setBody("ok".getBytes(RemotingHelper.

[2020-11-25 07:22] WreathCrystal commented on #314
Sure

[2020-11-25 08:00] WreathCrystal commented on #314
When I compile samples on my pc  in order to fix the issue,   errors occur as below
![checkstyle-failed](https://user-images.githubusercontent.com/26850311/100198501-e57f5980-2f36-11eb-9661-d60ce601bc2f.png)

I think ,   I  need solve this problem before summitting  my request. But I  don not know how to checkstyle sucessfully.

[2020-11-26 08:20] #314 closed

[2020-11-26 09:03] vongosling opened #317 "Java 11+ about support ?"
This is a feature request. The project could not be used in JDK 11 above. There are many things to do before upgrade to Java11+, The following link[1] could be referred to. Do any guys want to try?

[1] https://docs.oracle.com/en/java/javase/11/migrate/index.html#JSMIG-GUID-FAD4E80D-64BA-42AC-A682-38D06EE61AC6

[2020-11-29 04:01] xiaojiaoshou opened #319 "I have a question, how to change the property in DefaultMQPushConsumer, such as maxReconsumeTimes value, the default is -1, that is 16 times, I want to change this value, how should I configure?"
I have a question, how to change the property in DefaultMQPushConsumer, such as maxReconsumeTimes value, the default is -1, that is 16 times, I want to change this value, how should I configure?

[2020-11-29 04:01] xiaojiaoshou commented on #319
I have a question, how to change the property in DefaultMQPushConsumer, such as maxReconsumeTimes value, the default is -1, that is 16 times, I want to change this value, how should I configure?

[2020-11-29 04:08] xiaojiaoshou commented on #319
thanks, i  find the answer  in  wiki

[2020-11-29 04:08] #319 closed

[2020-11-29 04:27] liuliuzo commented on #88
是这样的我们这里也有批量消费的需求，主要是想结合ORM的批量提交增加性能 ，由于能力有限用的方式非常不优雅，support native listener #293 ，在native listener自己处理批量，希望rocketmq-spring能提供这个功能。

[2020-11-29 04:35] liuliuzo commented on #293
Support Native Listener 后也能处理一些batch的案例

[2020-11-30 02:29] vongosling commented on #313
You could try to override the log module(intercept logging) to finish your privacy needs if you do not want to encode the message.

[2020-11-30 02:29] #313 closed

[2020-11-30 14:03] xiaoxiaoyangyang opened #320 "ocketmq-spring-boot-starter里面delayLevelWhenNextConsume、ConsumeFromWhere为什么不加入配置文件中，通过配置来进行修改"
The issue tracker is **ONLY** used for bug report and feature request.

Any question or RocketMQ proposal please use our [mailing lists](http://rocketmq.apache.org/about/contact/).

**BUG REPORT**

1. Please describe the issue you observed:

- What did you do (The steps to reproduce)?

- What did you expect to see?

- What did you see instead?

2. Please tell us about your environment:

3. Other i

[2020-12-01 01:09] vongosling commented on #320
What's ocketmq-spring-boot-starter?

[2020-12-01 01:28] #320 closed

[2020-12-04 02:43] HashZhang commented on #317
Hi. I am using RocketMQ and rocketmq-spring in openJDK 11.
For RocketMQ, you can refer to the branch: feature_support_java11
For rocketmq-spring, it can be used in JDK 11,and you should upgrade your springboot to version over 2.1.x

[2020-12-08 07:23] wz2cool commented on #88
We also meet the same problem, this feature is important for us to batch save data to database.

[2020-12-08 07:38] zdy333666 commented on #88
yes，we need batch consumer .

[2020-12-08 08:12] wz2cool commented on #88
Currently, I found a workaround to get batch message.

`@RocketMQMessageListener(topic = "demo_product", consumerGroup = "demo_batch_product_consumerGroup", consumeMode = ConsumeMode.ORDERLY)
public class ProductBatchConsumer implements RocketMQListener<String>, RocketMQPushConsumerLifecycleListener {

    private final Logger logger = LoggerFactory.getLogger(this.getClass());

    @Override
    p

[2020-12-08 16:31] tp19900212 opened #321 "在消费端我怎么给broker回执消费结果？"
The issue tracker is **ONLY** used for bug report and feature request.

Any question or RocketMQ proposal please use our [mailing lists](http://rocketmq.apache.org/about/contact/).

**BUG REPORT**

1. Please describe the issue you observed:

- What did you do (The steps to reproduce)?

- What did you expect to see?

- What did you see instead?

2. Please tell us about your environment:

3. Other i

[2020-12-09 03:40] YuLoving opened #322 "rocketmq-spring在消费端如何控制重试次数"
使用rocketMQ原生的API实现MessageListenerConcurrently接口来控制消费端指定重试次数，但是rocketmq-spring在消费端如何控制重试次数，rocketmq-spring需要实现RocketMQListener<MessageExt>接口的onMessage方法，而此方法是void型的，默认自动重试下去，如果一直失败就要重试16次才会进入死信队列。但是实际使用的时候没有必要重试那么多次。那么rocketmq-spring如何在消费端控制重试次数呢？

Using rocketMQ native API to achieve specified retries MessageListenerConcurrently interface to control consumer end, but rocketMQ - spring on the consu

[2020-12-09 11:58] heihaozi opened #323 "Support the expansion of metrics data statistics in RocketMQ-Spring."
**FEATURE REQUEST**

1. Please describe the feature you are requesting.

Now, in rocketmq-spring project, it dosen't support the expansion of metrics data statistics from the client dimension. This feature can enable:

* Provide standard and diverse metrics representation(e.g. percentile, gauge, histogram).
* Standardization of monitoring API and transport server API, and adapt to open-source moni

[2020-12-10 11:49] RongtongJin commented on #321
RocketMQ-Spring中若不抛出异常则默认消费成功（CONSUME_SUCCESS），若抛出异常则消费失败（RECONSUME_LATER）。

[2020-12-10 11:49] #321 closed

[2020-12-10 11:52] RongtongJin commented on #322
Like this:
[code]

[2020-12-10 11:52] #322 closed

[2020-12-10 12:29] RongtongJin commented on #315
I tried to reproduce using the latest master branch, but this issue did not reproduce in my environment. Could you describe the reproduction steps in more detail? Or just post the code

[2020-12-10 12:33] RongtongJin commented on #306
Merged

[2020-12-10 12:33] #306 closed

[2020-12-10 12:38] RongtongJin commented on #305
You can do it this way
[code]

[2020-12-10 12:38] #305 closed

[2020-12-11 11:45] 418545106 opened #325 "发送时选择管道不生效"
[code]
选择0号管道可是消息并没有进入管道0而是随机选择管道

[2020-12-12 07:42] RongtongJin commented on #315
I will close the Issue first, but please feel free to reopen it if you have any other issues.

[2020-12-12 07:42] #315 closed

[2020-12-12 07:46] RongtongJin commented on #325
请使用rocketMQTemplate.syncSendOrderly方法

[2020-12-12 07:46] #325 closed

[2020-12-20 09:47] wz2cool commented on #88
@RongtongJin  Any update about this issue ?  I found an PR #170  about batch listener

[2020-12-22 02:54] wz2cool opened #327 "remove log in consumeMessage method"
The issue tracker is **ONLY** used for bug report and feature request.

Any question or RocketMQ proposal please use our [mailing lists](http://rocketmq.apache.org/about/contact/).

**BUG REPORT**

1. Please describe the issue you observed:
it produce lots of log in consumeMessage method,

- What did you do (The steps to reproduce)?
![image](https://user-images.githubusercontent.com/11556152/10284

[2020-12-22 03:01] wz2cool commented on #327
Currently, we have to change log level to warning to avoid amounts of log.

[2020-12-22 03:22] RongtongJin commented on #327
The warn level will still output the log. Is it better to change to the debug level?

[2020-12-22 03:26] wz2cool commented on #327
it's ok if log is small.

[2020-12-22 03:28] RongtongJin commented on #327
Could you submit a pull request to fix the issue ?

[2020-12-22 03:30] wz2cool commented on #327
Ok,  i will try to fix it

[2020-12-23 05:59] #327 closed

[2021-01-02 03:14] RongtongJin opened #329 "Upgrade RocketMQ version"
The issue tracker is **ONLY** used for bug report and feature request.

Any question or RocketMQ proposal please use our [mailing lists](http://rocketmq.apache.org/about/contact/).

**FEATURE REQUEST**

1. Please describe the feature you are requesting.

Upgrade RocketMQ version

2. Provide any additional detail on your proposed use case for this feature.

3. Indicate the importance of this issue

[2021-01-03 03:27] RongtongJin opened #331 "Update notice year and update readme document"
The issue tracker is **ONLY** used for bug report and feature request.

Any question or RocketMQ proposal please use our [mailing lists](http://rocketmq.apache.org/about/contact/).

**FEATURE REQUEST**

1. Please describe the feature you are requesting.

Update notice year and update readme document

[2021-01-04 06:41] #331 closed

[2021-01-04 07:06] #329 closed

[2021-01-15 11:07] number-0 opened #333 "about the deserialization method when consuming messages"
When "DefaultRocketMQListenerContainer" consumes messages, the deserialization is done by "String str = new String(messageExt.getBody(), Charset.forName(charset));", the method of deserialization should be specified, not hard-coded, for example, we can specify the method of deserialization through annotations

[2021-01-20 02:04] solomonhe opened #334 "maven 仓库上面没有2.2.0的包"
maven 仓库上面没有2.2.0的包

[2021-01-20 03:07] RongtongJin commented on #334
还在投票阶段，未正式发布。

[2021-01-20 03:07] #334 closed

[2021-01-23 13:03] RongtongJin opened #335 "Update RocketMQ Spring samples version"
The issue tracker is **ONLY** used for bug report and feature request.

Any question or RocketMQ proposal please use our [mailing lists](http://rocketmq.apache.org/about/contact/).

**FEATURE REQUEST**

1. Please describe the feature you are requesting.
Update RocketMQ Spring samples version

2. Provide any additional detail on your proposed use case for this feature.

3. Indicate the importance o

[2021-01-25 08:32] nidonglin commented on #88
we need batch consumer .

[2021-01-25 08:51] YAGAMIL opened #337 "When I fail to consume information, it does not print the stack information, and I cannot troubleshoot the cause of the exception"
The code i used

[code]
The log it printed when I failed to consume

`2021-01-25 16:47:43.594  WARN 7 --- [essageThread_13] a.r.s.s.DefaultRocketMQListenerContainer : consume message failed. messageExt:MessageExt [brokerName=broker-b, queueId=0, storeSize=2278, queueOffset=663, sysFlag=1, bornTimestamp=1611561722777, bornHost=/127.0.0.1:37972, storeTimestamp=1611564463582, storeHost=/127.0.0.1:109

[2021-01-25 08:54] nidonglin commented on #88
why?

[2021-01-29 14:55] liuliuzo commented on #219
重新打开这个问题重新提交

[2021-01-30 05:02] kengan opened #339 "Why the consumer can not consume the message about a cluster with two broker"
I have setup a rocketmq cluster with 2 master and 1 namesrv.
I make 2 consumer program with  rocketmq-spring-boot-starter 2.2.0 and Spring boot 2.3.8. The main program abouot consumer is as following:

package com.cesc.iot.handle.handler;

import org.apache.rocketmq.spring.annotation.RocketMQMessageListener;
import org.apache.rocketmq.spring.core.RocketMQReplyListener;
import org.slf4j.Logger;
imp

[2021-01-30 05:02] kengan commented on #339
![Uploading QQ图片20210130125950.png…]()

[2021-01-30 08:30] maixiaohai commented on #339
We met the same problem when start consumer using docker container.
The root cause is two consumers have same instance name.

[2021-01-30 08:34] maixiaohai opened #340 "[Enhancement] set default value of enableMsgTrace to false"
In our production cluster, many users do not use msg trace.
But the default value is true, it will cause some unnesscessary overhead.

[2021-01-30 08:50] maixiaohai commented on #339
@kengan   I submit a pr to fix this problem, you can have a test on it.

[2021-01-30 09:01] maixiaohai commented on #337
you can check the client log path : ~/logs/rocketmqlogs/rocketmq_client.log

[2021-01-31 02:15] kengan commented on #339
@maixiaohai  I can confirm that  this problem happen when start  consumer using docker container. The  root cause is two consumers have same instance clientId

[2021-01-31 02:16] kengan commented on #339
@maixiaohai  how to  test your fix?

[2021-01-31 03:21] wz2cool opened #343 "Sending batch messages orderly with RocketMQTemplate"
Currenly, rocketmqtemplate only support sending batch messages, I want to support sending batch messages orderly.

[2021-01-31 04:53] maixiaohai commented on #339
git fetch apache pull/342/head:pr342

[2021-02-01 06:56] wangjia2016 opened #345 "rocketmq-spring-boot-starter-2.0.3 upgrade to rocketmq-spring-boot-starter 2.2.0 error"
The issue tracker is **ONLY** used for bug report and feature request.

Any question or RocketMQ proposal please use our [mailing lists](http://rocketmq.apache.org/about/contact/).

**BUG REPORT**

1. Please describe the issue you observed:
![image](https://user-images.githubusercontent.com/16084076/106424653-83465600-649d-11eb-9064-f4a5eba537a5.png)
@RocketMQTransactionListener
![image](https://u

[2021-02-01 09:25] RongtongJin commented on #345
The API for transaction messages has changed since RocketMQ-Spring 2.1.0. And it's an incompatible upgrade.

[2021-02-01 09:25] #345 closed

[2021-02-02 02:25] #335 closed

[2021-02-02 12:32] xiangyang-gao commented on #234
有人用么

[2021-02-03 02:53] wbzj1110 opened #346 "It is not appropriate for the DefaultRocketMQListenerContainer to only process the messageExt without additional processing of the message"
https://github.com/apache/rocketmq-spring/blob/master/rocketmq-spring-boot/src/main/java/org/apache/rocketmq/spring/support/DefaultRocketMQListenerContainer.java#L459

![image](https://user-images.githubusercontent.com/11921135/106691106-e35c0a00-660d-11eb-86b2-613a1861b7b2.png)

**大家使用@RocketmqListiner标签常用的对象是 String Message MessageExt**
如果仅对MessageExt 处理 会导致部分使用 Message 的用户 无法收到 properties topic

[2021-02-03 03:23] wbzj1110 commented on #346
if (Objects.equals(messageType, MessageExt.class) || Objects.equals(messageType, Message.class)) {
            return messageExt;
        }
即可。。。

[2021-02-03 03:31] wbzj1110 commented on #346
当然如果用instanceof 可以忽略子类的判断。不过性能上不知道是否有区别。

[2021-02-03 07:46] YAGAMIL commented on #337
No, there is no such directory and log path in my project

[2021-02-03 09:18] vongosling commented on #234
This looks like "Is it really not used widely?" Unfortunately, it's hard to imagine there's no record here. I hope more people could notice the implications behind this issue, and stop here for five minutes to fill in your usage :-)

[2021-02-07 08:03] shf675 opened #348 "Question about not cosuming"
使用rocketmq-spring-boot-starter时工程中只写了一个消费者，使用了topicA，可以正常消费，然后又增加了一个消费者，随便写了一个topicB，则都不消费了。
![image](https://user-images.githubusercontent.com/7691856/107140583-f2202500-695d-11eb-96e6-99d35f7ee5ea.png)
![Uploading image.png…]()

[2021-02-07 08:07] codersfarm commented on #343
cool,very cool

[2021-02-13 13:24] RongtongJin commented on #348
另一张图无法看到，可以贴下详细的代码？另外两个消费者是否是同一个group，如果是同一个group的话这样操作会有订阅关系不一致的问题，参考[wiki第三条](https://github.com/apache/rocketmq-spring/wiki/%E5%B8%B8%E8%A7%81%E9%97%AE%E9%A2%98)

[2021-02-13 13:28] RongtongJin commented on #343
Merged

[2021-02-13 13:28] #343 closed

[2021-02-13 13:45] RongtongJin commented on #346
在[Wiki最佳实践第7条](https://github.com/apache/rocketmq-spring/wiki/%E5%B8%B8%E8%A7%81%E9%97%AE%E9%A2%98)中推荐使用的是messageExt，这可以包含所有原生的RocketMQ Message的信息。

不过增加对RocketMQ Message的额外处理确实能帮助到那些误用Message的用户，你能提交一个PR来改善这个问题吗？

[2021-02-13 14:04] RongtongJin commented on #339
clientid设置为ip@client本质上是为了让多个consumer或producer复用同一个网络模块，在容器中启动确实存在这样的问题，可以暂时通过在prepareStart方法（[wiki第8条](https://github.com/apache/rocketmq-spring/wiki/%E5%B8%B8%E8%A7%81%E9%97%AE%E9%A2%98)）中setInstanceName来解决。

[2021-02-13 14:07] RongtongJin commented on #340
Merged

[2021-02-13 14:07] #340 closed

[2021-02-13 14:08] #337 closed

[2021-02-13 14:12] #333 closed

[2021-02-17 02:46] wbzj1110 commented on #346
好的！您稍等。

[2021-02-18 07:02] wbzj1110 commented on #348
建议 读取一下consumer的 offset，之前我们遇到过很多消费问题 都是同一个group的offset问题。
建议 基于rocketmq-console-ng做一下内部的  方便排查问题 列表一出来问题就好排查了
![image](https://user-images.githubusercontent.com/11921135/108318173-5793d180-71fa-11eb-841c-489a95f4dd58.png)

[2021-02-18 07:28] wbzj1110 commented on #346
https://github.com/apache/rocketmq-spring/pull/349   您好 pr 提了。。烦请得空check一下。

还有 能问下，这个问题以外的，
1）、关于spring-boot-rocketmq 这个项目没有计划支持全链路吗？我们这边对全链路做了补全。以切面的方式使用brave支持的。以独立jar包引入。。类似于打补丁了。
2）、关于@Async标签，其实底层用rocketmq 实现比放入线程池的方式好不少。
我们这边也有实现，但是发现貌似都不太适合提到这个项目中，不知道有咩有计划开一个类似于rocketmq 的externals 的玩法，把大家的研发过程 搞出来的内部使用，同时纯技术方面对rocketmq 生态使用有一定帮助的积累一下？

[2021-02-18 07:34] wbzj1110 commented on #346
关于对 message这部分信息没有补上去，我们这就是在对rocketmq全链路补全的部分，发现一部分研发再使用Message的全链路没有拿到，所以才发现的这个问题，觉得可能加上会好一些，所以才提的这个issue。

[2021-02-19 07:35] RongtongJin commented on #346
已经合并。RocketMQ有一个[externals](https://github.com/apache/rocketmq-externals)的仓库存放了一些未孵化的项目，是否合适放入该仓库? 这里的全链路指的是做了指标的监控和暴露吗？

[2021-02-19 08:13] wbzj1110 commented on #346
指标的监控与暴露与spring-boot的zipkin那套已经有了。只不过由于rocketmq没有补全，导致全链路断开了。
我举个例子，拿spring-boot的feign，A服务通过feign调用B，feign会自动的获取A服务的当前traceId【唯一标记】，添加到头部，然后B服务会解析头部，如果有这个唯一标示，那么会自动使用这个traceId。
表现为：
1）、拿着此traceId，可以直接去zipkin-server查询整个链路以及耗时情况
2）、拿着此traceId，如果log日志格式定义支持traceId打印，直接在kibana搜索出整个服务的日志。跨N个链路的情况下会非常方便。
![image](https://user-images.githubusercontent.com/11921135/108476423-fa1c8500-72cc-11eb-8bdd-bdcb2f

[2021-02-25 02:48] sdmq commented on #254
**分析原因:**
package org.apache.rocketmq.client.consumer.store;

public class LocalFileOffsetStore implements OffsetStore {
..................
  public LocalFileOffsetStore(MQClientInstance mQClientFactory, String groupName) {
        this.mQClientFactory = mQClientFactory;
        this.groupName = groupName;
        this.storePath = LOCAL_OFFSET_STORE_DIR + File.separator + this.mQClientFactory.getC

[2021-02-25 02:49] sdmq commented on #217
分析原因:
package org.apache.rocketmq.client.consumer.store;

public class LocalFileOffsetStore implements OffsetStore {
..................
public LocalFileOffsetStore(MQClientInstance mQClientFactory, String groupName) {
this.mQClientFactory = mQClientFactory;
this.groupName = groupName;
this.storePath = LOCAL_OFFSET_STORE_DIR + File.separator + this.mQClientFactory.getClientId() + File.separator + t

[2021-03-08 09:47] deanisty opened #351 "Is it needed to separate producer and consumer in RocketMQAutoConfiguration"
**FEATURE REQUEST**

![image](https://user-images.githubusercontent.com/8457847/110303755-bac49700-8035-11eb-8bcd-adef76e0a952.png)

RocketMQAutoConfiguration automatically imports ListenerContainerConfiguration and will start all consumers' listening threads after springboot starts.
But in a normal project, I actually need to separate the producer and the consumer. They may be placed in two proje

[2021-03-08 09:52] deanisty commented on #351
I think it is possible to create another autoconfiguration just for consumer like `RocketMQListenerAutoConfiguration`, this configuration only register and start consumer listener threads, is this more normal for decouple producers and consumers

[2021-03-08 11:40] RongtongJin commented on #351
如果代码中没有实现RocketMQMessageListener 的annotation，是不会创建RocketMQListenerContainer的。

[2021-03-09 01:49] deanisty commented on #351
我现在是同一个项目同一套代码部署在两个集群,一个集群服务客户端http请求,一个集群专门处理后台脚本包括消息队列的消费者, 第一个集群我是不希望消费者启动过的,但是我找不到方法在第一个集群关掉consumer的 listener

[2021-03-15 13:34] whymesay opened #352 "How does asyncSendOrderly ensure order？"
我看使用了线程池,请问是如何保证顺序发送的呢?

[2021-03-16 03:22] bigyShot commented on #235
But in onMessage(),it can't throw exception,it must be catched

[2021-03-16 07:16] mimose opened #353 "rocketmq-spring- boot:2.2.0 unable to register consumers"
当我使用2.2.0版本时，阿里云RocketMQ始终是离线状态
![image](https://user-images.githubusercontent.com/20853431/111270150-760ab280-866a-11eb-9e1f-99b16ad8d3d5.png)
当我使用2.1.1版本时，则不会有这个问题。

你们有遇到吗？

[2021-03-17 06:17] bigyShot opened #354 "How can consumer return RECONSUME_LATER status?"
In a past issue,you said just throw exception,it will be seem as RECONSUME_LATER, But in function onMeesgae()  can not throw exception directly

[2021-03-17 14:01] RongtongJin commented on #354
Why can't you throw an exception? You can simply throw a RuntimeException.

[2021-03-17 14:03] RongtongJin commented on #352
需要用户自己保证同一个队列里的消息发送成功后再发送下一个。

[2021-03-17 14:03] #352 closed

[2021-03-17 14:04] #348 closed

[2021-03-17 14:04] #339 closed

[2021-03-17 14:05] #346 closed

[2021-03-18 01:54] bigyShot commented on #354
I got it,thanks.-----

[2021-03-18 01:54] #354 closed

[2021-03-22 02:06] vongosling opened #355 "Support spring-native?"
Spring Native has availability on start.spring.io,  In practice, that means that in addition to the regular Java Virtual Machine supported by Spring since its inception, support for compiling Spring applications to native images with GraalVM has offered to provide a new way to deploy Spring applications. Of course, Java and Kotlin are supported.

Those native Spring applications can be deployed as

[2021-03-24 05:10] l343765828 opened #356 "2.2.0 can not consummer in aliyun"
@Service
@RocketMQMessageListener(topic = "*",consumerGroup = "*",accessChannel = "CLOUD",
accessKey = "*",secretKey = "*",selectorExpression = "*",
nameServer = "http://*.cn-beijing.mq-internal.aliyuncs.com:8080")
public class DeviceStatusTest implements RocketMQListener<MessageExt> {

    @Override
    public void onMessage(MessageExt messageExt) {
        System.out.println("接受设备消息");
    }
}

[2021-03-24 05:12] l343765828 commented on #356
@RongtongJin

[2021-03-24 06:05] l343765828 commented on #356
我知道问题了 在配置文件里 配置完name-server 就不行了 配置哪个地址 哪个地址的group不行

[2021-03-24 07:17] RongtongJin commented on #356
没有复现出来，能详细描述一下复现的方法和配置吗？

[2021-03-24 07:23] l343765828 commented on #356
application.yml:
rocketmq:
  #mq的nameserver地址
  name-server: "http://a.cn-beijing.mq-internal.aliyuncs.com:8080"
  access-channel: "CLOUD"
  consumer:
    access-key: "*"
    secret-key: "*"
注解：
@RocketMQMessageListener(topic = "devicestatus",consumerGroup = "GID_devicestatus",nameServer = "b")
配置文件是一个地址 注解是一个地址 我这边就是配置文件写哪个 哪个就连不上
比如配置文件写a 注解写b地址就能连b 其他注解不写地址的 连不上a 后来我又试 配置文件写a 注解写a 我也连不上a 我拿阿里公网

[2021-03-24 07:57] RongtongJin commented on #356
仍然没有复现

[2021-03-24 09:31] l343765828 commented on #356
我springboot版本是2.1.12.RELEASE

[2021-03-24 09:32] l343765828 commented on #356
@RongtongJin

[2021-03-24 14:04] chenghm123 opened #357 "RocketMQ Consumer Serialize Only Support JSON ？"
RocketMQ Consumer Serialize Only Support JSON ？
`
public class DefaultRocketMQListenerContainer implements InitializingBean,
    RocketMQListenerContainer, SmartLifecycle, ApplicationContextAware {
        // ……
        private Object doConvertMessage(MessageExt messageExt) {
        if (Objects.equals(messageType, MessageExt.class) || Objects.equals(messageType, org.apache.rocketmq.common.message

[2021-03-24 14:05] chenghm123 commented on #357
[code]

[2021-03-24 14:05] #357 closed

[2021-03-24 14:06] chenghm123 opened #358 "RocketMQ Consumer Serialize Only Support JSON ？"
[code]

[2021-03-24 14:12] chenghm123 commented on #358
这个直接就`new String()`了，后面`MessageConverter`发挥不出更大的作用，万一序列化用的是`hession`或者`kryo`就会失败。
顺便是否可以扩展一下不通的消费实例，不同的`RocketMQTemplate`设置不同的`MessageConverter`，来兼容很多公司的一些现状。

[2021-03-24 14:13] chenghm123 opened #359 "RocketMQ Consumer Serialize Only Support JSON ？"
[code]
这个直接就`new String()`了，后面`MessageConverter`发挥不出更大的作用，万一序列化用的是`hession`或者`kryo`就会失败。
顺便是否可以扩展一下不通的消费实例，不同的`RocketMQTemplate`设置不同的`MessageConverter`，来兼容很多公司的一些现状。

[2021-03-24 14:13] chenghm123 commented on #359
这个直接就`new String()`了，后面`MessageConverter`发挥不出更大的作用，万一序列化用的是`hession`或者`kryo`就会失败。
顺便是否可以扩展一下不通的消费实例，不同的`RocketMQTemplate`设置不同的`MessageConverter`，来兼容很多公司的一些现状。

[2021-03-24 14:14] #358 closed

[2021-03-25 03:24] ShannonDing commented on #356
link #353

[2021-03-25 03:27] ShannonDing commented on #356
客户端日志里面有没有链接nameserver的日志和报错信息。

[2021-03-25 03:33] l343765828 commented on #356
说到日志 我也想问下 日志存哪了 没找到呢 客户端是放docker里了 docker的系统是centos windows的我知道了 centos的就一直没找到

[2021-03-25 03:33] l343765828 commented on #356
@ShannonDing

[2021-03-25 04:08] RongtongJin commented on #356
rocketmq客户端的日志在主目录的logs/rocketmqlogs/rocketmq_client.log下面，看下spring boot的日志，重点看下“running container: DefaultRocketMQListenerContainer{ xxxx }”这类日志，consumer的配置是否正确？

[2021-03-30 02:04] JerryChin commented on #234
* 公司：移康智能
* 地点：中国上海
* 联系方式：metrxqin@gmail.com
* 版本： v2.0.2
* 场景与规模：用于 IoT 事件处理，实现不同 IoT 事件消息与事件处理器之间的松散耦合。集群规模不大，Broker 有 6 台  (2 vCPU + 4GiB)，客户端有 5 台（2 vCPU + 4GiB），日处理消息约 400万条。
* 期望：TTL 消息过期支持

[2021-04-12 09:39] xiangyang-gao opened #360 "关于消费者优雅上下线怎么做呢"
如题，使用rocketmq-spring，消费者是否可以进行优雅上下线？

[2021-04-12 09:40] xiangyang-gao commented on #360
在停服时，关闭当前机器的消费者连接

[2021-04-13 06:46] RongtongJin commented on #360
程序若不是异常关闭（kill -9）,则程序结束时会自动优雅下线。

[2021-04-13 06:46] #360 closed

[2021-04-13 08:58] xiangyang-gao commented on #360
大佬，不要着急关闭嘛。还有个问题请教下
                DefaultRocketMQListenerContainer container = (DefaultRocketMQListenerContainer)genericApplicationContext.getBean(containerBeanName, DefaultRocketMQListenerContainer.class);

我是不是可以for循环 直接控制获取 DefaultRocketMQListenerContainer。进行stop可以么

[2021-04-13 11:44] LiYeLin opened #361 "我就想知道怎么接入阿里云的RocketMQ"
使用template接入了我们现在的测试环境的开源rocketMq 现在想接入阿里这边的社区版本的mq ，所以怎么接入呢？
文档没有丝毫提及 我很困惑 ，#356 在这里面我看到似乎是有这个能力提供的 ，但是那里面只有消费者的写法，生产者怎么生产消息发到阿里上呢？是要像文档里面10那个Ext吗？
_我知道这不是issue的正确用法，但是文档和demo中都没有提及，而且互联网上这个的资料较少 sorry_

[2021-04-14 06:06] LiYeLin commented on #356
老哥们 这个template的生产者怎么链接的阿里云啊 用ExtRocketMQTemplateConfiguration吗？#361  @l343765828 @RongtongJin

[2021-04-15 01:35] l343765828 commented on #361
阿里云的文档里有社区版接入的方法 直接给客服留个工单 然后客服给你发下链接 社区版只是配置和延时消息需要改下 剩下的都一样

[2021-04-15 01:38] l343765828 commented on #361
我现在一直用的是2.0.4 用最新版的消费者一直不在线 具体也没查

[2021-04-15 02:59] LiYeLin commented on #361
我已经找到了阿里云社区版本接入方法的文档了，但是阿里的接入文档中和demo中给的都是使用apacheRocketMQ的原生api，我想像你一样 使用RocketMQTemplate接入阿里云社区版本 ，请问您怎么用template的api ，实现的能连接上阿里云 的producer？
![image.png](https://i.loli.net/2021/04/15/27mfYNFI3KsxAZl.png)

[2021-04-15 02:59] LiYeLin commented on #361
感谢老哥回复

[2021-04-15 06:57] #361 closed

[2021-04-19 12:26] hardape opened #362 "事务消息consumer如何设置消息重试最大次数？以及处理失败后的操作"
The issue tracker is **ONLY** used for bug report and feature request.

Any question or RocketMQ proposal please use our [mailing lists](http://rocketmq.apache.org/about/contact/).

**BUG REPORT**

1. Please describe the issue you observed:

- What did you do (The steps to reproduce)?

- What did you expect to see?

- What did you see instead?

2. Please tell us about your environment:

3. Other i

[2021-04-19 13:05] maixiaohai commented on #362
https://github.com/apache/rocketmq-spring/wiki/%E5%B8%B8%E8%A7%81%E9%97%AE%E9%A2%98
参考第8条在prepareStart里设置最大重试次数
对于解析错误建议自己try catch处理，否则会一直重试直到发送消息到死信队列

[2021-04-20 04:41] #362 closed

[2021-04-20 04:41] #356 closed

[2021-04-22 03:16] wangqingchengsg opened #363 "starter连接阿里云ons发生错误"
rocketmq-spring-boot-starter 2.2.0版本
springboot 2.2.1.RELEASE
阿里云 rocketmq

在日志中发现了报错，日志目录/rocketmqlogs/rocketmq_client.log

2021-04-22 11:14:23,023 WARN RocketmqClient - get Topic [TBW102] RouteInfoFromNameServer is not exist value
2021-04-22 11:14:23,023 WARN RocketmqClient - updateTopicRouteInfoFromNameServer Exception
org.apache.rocketmq.client.exception.MQClientException: CODE: 17  DESC: No t

[2021-04-22 11:06] vongosling commented on #359
Very nice suggestion. Message Schema really needs to support cross-industry. For now, would you like to help to draft this improvement proposal (pr)? I am thinking to support here using OpenSchema implementation in the near future.

[2021-04-22 12:29] maixiaohai commented on #363
warn 应该不影响使用，本质是两个系统topic不存在

[2021-05-08 05:44] weblqb opened #364 "No Implementation for DelayTimeLevel in org.apache.rocketmq.spring.support.RocketMQUtil.convertToRocketMessage"
Hi,

I am using the version of 2.2.

I found out that the function `convertToRocketMessage` in class `org.apache.rocketmq.spring.support.RocketMQUtil` did not implement converting header of "DELAY" to `rocketMsg.setDelayTimeLevel()`. This bug makes spring-cloud-starter-stream-rocketmq cannot send delayed message when producer working in asynchronous mode.

I hope you can do the change like this in

[2021-05-08 06:03] #363 closed

[2021-05-08 07:32] RongtongJin commented on #364
Hi Billy, RocketMQTemplate has an asyncSend(RocketMQTemplate#asyncSend(java.lang.String, org.springframework.messaging.Message<?>, org.apache.rocketmq.client.producer.SendCallback, long, int)) API to send delay messages asynchronously.

[2021-05-08 09:44] weblqb commented on #364
But actually, there is not in v2.2 RocketMQTemplate. Here are all the asyncSend implementations:

[code]

[2021-05-08 09:49] RongtongJin commented on #364
Here https://github.com/apache/rocketmq-spring/blob/66a6d8b51c6202b14195b1ac1a4311a7ce3e81dc/rocketmq-spring-boot/src/main/java/org/apache/rocketmq/spring/core/RocketMQTemplate.java#L668-L684

[2021-05-08 09:49] weblqb commented on #364
And btw, I found that the source code in github dose have it. But the maven package (v2.2) dose not, which is weird.

[2021-05-08 09:54] weblqb commented on #364
Thanks!  spring-cloud-starter-stream-rocketmq depends on an older version 2.0.2, which is the reason why the problem appears.

[2021-05-08 09:54] #364 closed

[2021-05-09 04:02] ShawshankLin commented on #88
使用pull模式的List<String> messages = rocketMQTemplate.receive(String.class)是否就可以获取批量数据？

[2021-05-10 01:09] vongosling commented on #364
@fangjian0423 Would you like to move the spring-cloud-starter-stream-rocketmq to rocketmq spring community? I have noticed many guys are asking for help in this project. We could do more support in this all-in-all project with spring.

[2021-05-12 09:43] Bin2020 opened #365 "The response results of rocketmqtemplate and defaultmqproducer sendstatus are inconsistent"
broker 1主1从同步双写，从broker宕机，发送同步消息。RocketMQTemplate应答SEND_OK，DefaultMQProducer应答SLAVE_NOT_AVAILABLE，为什么

[code]

[2021-05-14 00:51] zhangjidi2016 opened #366 "The consumer side supports setting the retry number of failed consumption"
When the consumer fails to consume, it will retry 16 times by default and then enter the DLQ. The business side hopes to set the retry number by itself.

[2021-05-14 01:33] zhangjidi2016 opened #368 "Upgrade starter version in rocketmq-spring-boot-sample"
The dependent starter version of the **rocketmq-spring-boot-sample** should be saved as the current version to facilitate testing of the current starter version functionality

[2021-05-14 05:53] #368 closed

[2021-05-14 05:53] RongtongJin commented on #366
Merged

[2021-05-14 05:53] #366 closed

[2021-05-14 06:39] dongYES opened #370 "RocketMQAutoConfiguration class annotations"
MessageConverterConfiguration and RocketMQTransactionConfiguration are not auto-config  classes,so @AutoConfigureAfter and
@AutoConfigureBefore this two annotations have no effect here。

@Import({MessageConverterConfiguration.class, ListenerContainerConfiguration.class, ExtProducerResetConfiguration.class, ExtConsumerResetConfiguration.class, RocketMQTransactionConfiguration.class})
**@AutoConfigu